@font-face {
  font-family: 'open_sansbold';
  src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanslight';
  src: url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansregular';
  src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanssemibold';
  src: url('opensans-semibold-webfont.woff2') format('woff2'),
         url('opensans-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.competition-footer__form-field-requirements {
  font-family: 'Open Sans','open_sansregular',sans-serif;
  font-size: 14px;
  color: #283645;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}
.content {
  margin-top: 46px;
  background-image: url("../../img/promo-background.png");
  background-repeat: no-repeat;
  background-position-y: 174px;
}
.content__slogan {
  font-family: 'Open Sans','open_sanslight',sans-serif;
  font-size: 24px;
  color: #283645;
  line-height: normal;
  font-weight: 300;
  text-align: center;
  margin-top: 39px;
  margin-bottom: 0;
}
.content__slogan:last-child {
  padding-bottom: 119px;
}
.copyright {
  text-align: center;
}
.copyright__maked {
  font-family: 'Open Sans','open_sansregular',sans-serif;
  font-size: 14px;
  color: #283645;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
}
.like {
  background-color: #f2f2f2;
  width: 246px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding-bottom: 26px;
  padding-left: 17px;
}
.like__button {
  padding: 0;
  border: none;
  background-color: transparent;
}
.like__description {
  font-family: 'Open Sans','open_sansregular',sans-serif;
  font-size: 12px;
  color: #d22856;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}
.like__count {
  font-family: 'Open Sans','open_sansregular',sans-serif;
  font-size: 12px;
  color: #d22856;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
}
.main-footer {
  background-image: url("../img/Layer 153.jpg");
  background-repeat: no-repeat;
  min-height: 645px;
}
.main-footer__block-title {
  font-family: 'Open Sans','open_sansbold',sans-serif;
  font-size: 18px;
  color: #283645;
  line-height: normal;
  font-weight: bold;
  text-align: center;
  background-color: #fff;
  margin: 0;
  padding-top: 28px;
  padding-bottom: 11px;
}
.main-footer__description {
  font-family: 'Open Sans','open_sanslight',sans-serif;
  font-size: 24px;
  color: #283645;
  line-height: normal;
  font-weight: 300;
  text-align: center;
  background-color: #fff;
  margin: 0;
  padding-top: 48px;
  padding-bottom: 17px;
}
.main-footer__block-content {
  font-family: 'Open Sans','open_sanslight',sans-serif;
  font-size: 24px;
  color: #d22856;
  line-height: normal;
  font-weight: 300;
  text-align: center;
  background-color: #fff;
  margin: 0;
  display: block;
  padding: 0 2px;
}
.main-footer__block-content:first-of-type {
  text-decoration: none;
}
.main-header {
  background-color: #283645;
  background-image: url("../../img/back-mobile@1x.jpg");
  background-repeat: no-repeat;
  min-height: 462px;
}
.main-header--short {
  min-height: 243px;
}
.main-header__slogan {
  font-family: 'Open Sans','open_sanslight',sans-serif;
  font-size: 24px;
  color: #fff;
  line-height: normal;
  font-weight: 300;
  text-align: center;
}
.menu {
  background-color: #283645;
  display: none;
}
.menu__elements {
  background-color: #283645;
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu__element {
  border-top: 1px solid #485461;
  border-bottom: 1px solid;
  text-align: center;
}
.menu__element:first-child {
  text-align: left;
  padding-left: 20px;
}
.menu__link {
  font-family: 'Open Sans','open_sansbold',sans-serif;
  font-size: 18px;
  color: #fff;
  line-height: 18px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  padding-top: 26px;
  padding-bottom: 23px;
}
.menu__button {
  padding: 0;
  border: none;
  background-color: transparent;
}
.photo-editor {
  text-align: center;
  background-image: url("../../img/grey-back.jpg");
}
.photo-editor__image {
  display: block;
  margin-left: 18px;
  margin-right: 20px;
  padding-top: 20px;
  width: 87%;
  margin-bottom: 42px;
}
.photo-editor__image-modification-button {
  padding: 0;
  border: none;
  background-color: transparent;
}
.photo-editor__functions {
  margin-bottom: 33px;
}
.photo-editor__range {
  margin-bottom: 28px;
}
.photo-editor__button {
  font-family: 'Open Sans','open_sansbold',sans-serif;
  font-size: 18px;
  color: #d22856;
  line-height: 18px;
  font-weight: bold;
  text-align: center;
  display: block;
  margin: auto;
  margin-bottom: 12px;
}
.photo-editor__button--cancel {
  color: #283645;
  opacity: .1;
}
.photo-editor__function-tuning {
  padding-bottom: 41px;
}
hr {
  margin-bottom: 38px;
}
.photos__description {
  font-family: 'Open Sans','open_sansregular',sans-serif;
  font-size: 14px;
  color: #283645;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  margin: 46px 29px 48px;
}
.photos__element-comment {
  background-color: #f2f2f2;
  width: 240px;
  margin: 0 auto;
  margin-top: -4px;
  padding-top: 25px;
  padding-left: 17px;
  padding-right: 6px;
  padding-bottom: 13px;
}
.photos__element--panorama-label {
  font-family: 'Open Sans','open_sansbold',sans-serif;
  font-size: 12px;
  color: #fff;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  background-color: #d22856;
  padding-top: 7px;
  padding-right: 21px;
  padding-bottom: 5px;
  padding-left: 20px;
  position: absolute;
  top: 0;
}
.photos__element--panorama-image {
  width: 100%;
}
.photos__element--panorama-image-block {
  position: relative;
}
.photos__element-author {
  font-family: 'Open Sans','open_sansbold',sans-serif;
  font-size: 14px;
  color: #283645;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
}
.photos__element-time {
  font-family: 'Open Sans','open_sanslight',sans-serif;
  font-size: 12px;
  color: #283645;
  line-height: 24px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}
.photos__element-message {
  margin: 0;
  font-family: 'Open Sans','open_sansregular',sans-serif;
  font-size: 14px;
  color: #283645;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
}
.photos__element-image {
  display: block;
  margin: 0 20px;
  width: 87%;
}
.platforms {
  background-color: #1d2631;
  padding-top: 28px;
  padding-bottom: 35px;
}
.platforms__download-link {
  font-family: 'Open Sans','open_sansbold',sans-serif;
  font-size: 18px;
  color: #fff;
  line-height: 18px;
  font-weight: bold;
  text-align: center;
  vertical-align: top;
  padding-top: 17px;
  padding-bottom: 14px;
  border: 3px solid #fff;
  text-decoration: none;
  margin: auto;
  margin-bottom: 32px;
  display: block;
  width: 258px;
}
.platforms__description {
  font-family: 'Open Sans','open_sanslight',sans-serif;
  font-size: 14px;
  color: #fff;
  line-height: 24px;
  font-weight: 300;
  text-align: center;
  padding-left: 33px;
  padding-right: 33px;
  margin: 0;
}
.promo {
  background-color: #f2f2f2;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  overflow: hidden;
}
.promo__content-title {
  font-family: 'Open Sans','open_sansbold',sans-serif;
  font-size: 18px;
  color: black;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  margin: 0;
}
.promo__content-description {
  font-family: 'Open Sans','open_sansregular',sans-serif;
  font-size: 14px;
  color: #283645;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 19px;
}
.promo__item {
  padding: 0 24px;
}
.promo__item:last-child {
  padding: 0 20px;
}
.promo__content-image {
  margin-bottom: -49px;
}
.second-slider {
  background-image: url("../../img/Shape_2_copy.png");
  background-repeat: no-repeat;
  padding-top: 133px;
}
.second-slider__header {
  background-color: #283645;
  text-align: center;
  padding-bottom: 20px;
}
.second-slider__package {
  font-family: 'Open Sans','open_sansbold',sans-serif;
  font-size: 18px;
  color: #fff;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  padding-top: 19px;
  margin: 0;
  margin-bottom: 3px;
}
.second-slider__price {
  font-family: 'Open Sans','open_sanslight',sans-serif;
  font-size: 24px;
  color: #fff;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
}
.second-slider__hit {
  font-family: 'Open Sans',sans-serif;
  font-size: 14px;
  color: #fff;
  line-height: 30px;
  font-weight: 600;
  text-align: center;
  background-color: #d22856;
}
.second-slider__option {
  font-family: 'Open Sans','open_sansregular',sans-serif;
  font-size: 14px;
  color: #283645;
  line-height: 30px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  border-bottom: 2px solid #e5e5e5;
  padding-left: 44px;
  padding-top: 14px;
  padding-bottom: 15px;
}
.second-slider__options {
  background-color: #fff;
  list-style: none;
  padding: 0;
  margin: 0;
}
.second-slider__tumbler {
  padding-top: 40px;
  padding-bottom: 47px;
  background-color: #f2f2f2;
}
.site-logo {
  text-decoration: none;
}
.site-logo--footer {
  display: block;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 43px;
}
.slider__title {
  font-family: 'Open Sans','open_sansbold',sans-serif;
  font-size: 18px;
  color: black;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  margin-top: 49px;
  margin-bottom: 25px;
}
.slider__description {
  font-family: 'Open Sans','open_sansregular',sans-serif;
  font-size: 14px;
  color: #283645;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  margin: 0 17px;
  margin-bottom: 39px;
}
.socials {
  text-align: center;
  margin-bottom: 42px;
}
.socials__element {
  text-decoration: none;
}
.logotype {
  padding-left: 20px;
  padding-top: 22px;
  margin-right: auto;
  padding-bottom: 22px;
  background-color: rgba(0,0,0,.3);
}
.logotype__menu-button {
  background-color: transparent;
  border: none;
}
.site-logo {
  text-decoration: none;
}
.site-logo--footer {
  display: block;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 43px;
}
body {
  margin: 0;
}
