@font-face {
  font-family: 'open_sansbold';
  src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanslight';
  src: url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansregular';
  src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanssemibold';
  src: url('opensans-semibold-webfont.woff2') format('woff2'),
         url('opensans-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.competition-footer__form-field-requirements {
  font-family: 'Open Sans','open_sansregular',sans-serif;
  font-size: 14px;
  color: #283645;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  margin-top: 38px;
  margin-bottom: 24px;
}
.competition-footer__form-field-marker {
  color: #d22856;
}
.competition-footer__form-field-requirements.competition-footer__form-field-requirements--desktop {
  display: none;
}
@media (min-width: 700px) {
  .competition-footer {
    display: flex;
    max-width: calc(700px - 80px);
    padding-right: 40px;
    padding-left: 40px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }
  .competition-footer .site-logo::before {
    display: none;
  }
  .competition-footer__form-field-requirements {
    text-align: right;
    margin-top: 14px;
    margin-bottom: 14px;
  }
}
@media (min-width: 1200px) {
  .competition-footer {
    max-width: calc(1200px - 260px);
    margin-top: 70px;
    margin-bottom: 72px;
    padding-right: 130px;
    padding-left: 130px;
  }
  .competition-footer__form-field-requirements {
    display: none;
  }
  .competition-footer__form-field-requirements.competition-footer__form-field-requirements--desktop {
    flex-basis: 320px;
    display: block;
  }
}
.content {
  margin-top: 46px;
}
.content__slogan {
  font-family: 'Open Sans','open_sanslight',sans-serif;
  font-size: 24px;
  color: #283645;
  line-height: normal;
  font-weight: 300;
  text-align: center;
  text-transform: none;
  margin-top: 39px;
  margin-bottom: 0;
}
.content__slogan:last-child {
  padding-bottom: 119px;
}
@media (min-width: 700px) {
  .content {
    background-image: none;
    margin-bottom: -26px;
  }
  .content__slogan {
    font-size: 40px;
  }
  .content__slogan:last-child {
    margin-top: 0;
    width: 334px;
    margin: auto;
    padding-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .content {
    margin-top: 78px;
  }
  .content__slogan {
    font-size: 50px;
  }
  .content__slogan:last-child {
    width: 417px;
  }
}
.copyright {
  justify-content: center;
  display: flex;
  align-items: center;
}
.copyright__maked {
  font-family: 'Open Sans','open_sansregular',sans-serif;
  font-size: 14px;
  color: #283645;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  text-transform: none;
  margin-right: 15px;
}
.copyright__link {
  display: flex;
}
@media (min-width: 700px) {
  .copyright {
    flex-basis: 150px;
  }
}
@media (min-width: 1200px) {
  .copyright__maked {
    font-size: 18px;
  }
}
.like {
  background-color: #f2f2f2;
  margin: 0 auto;
  margin-bottom: 20px;
  padding-bottom: 26px;
  padding-left: 17px;
  margin-left: 20px;
  margin-right: 20px;
}
.like__button {
  padding: 0;
  border: none;
  background-color: transparent;
  padding-right: 15px;
}
.like__description {
  font-family: 'Open Sans','open_sansregular',sans-serif;
  font-size: 12px;
  color: #d22856;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}
.like__count {
  font-family: 'Open Sans','open_sansregular',sans-serif;
  font-size: 12px;
  color: #d22856;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  text-transform: none;
  margin-left: 3px;
}
@media (min-width: 700px) {
  .like {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
}
.main-content {
  background-image: url("../../img/Shape 2.svg");
  background-repeat: no-repeat;
  background-position-y: 128px;
}
.main-content--fixed {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  background-image: none;
}
@media (min-width: 367px) {
  .main-content {
    background-position-y: 103px;
  }
}
@media (min-width: 369px) {
  .main-content {
    background-position-y: 68px;
  }
}
@media (min-width: 700px) {
  .main-content {
    background-position-y: 160px;
  }
  .main-content--fixed {
    max-width: 700px;
  }
}
@media (min-width: 1200px) {
  .main-content {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-image: none;
  }
}
.main-footer {}
.main-footer > .competition-footer {
  display: none;
}
.main-footer__block-title {
  font-family: 'Open Sans','open_sansbold',sans-serif;
  font-size: 18px;
  color: #283645;
  line-height: normal;
  font-weight: bold;
  text-align: center;
  text-transform: none;
  background-color: #fff;
  margin: 0;
  padding-top: 28px;
  padding-bottom: 11px;
}
.main-footer__description {
  font-family: 'Open Sans','open_sanslight',sans-serif;
  font-size: 24px;
  color: #283645;
  line-height: normal;
  font-weight: 300;
  text-align: center;
  text-transform: none;
  background-color: #fff;
  margin: 0;
  padding-top: 48px;
  padding-bottom: 17px;
}
.main-footer__block-content {
  font-family: 'Open Sans','open_sanslight',sans-serif;
  font-size: 24px;
  color: #d22856;
  line-height: normal;
  font-weight: 300;
  text-align: center;
  text-transform: none;
  background-color: #fff;
  margin: 0;
  display: block;
  padding-left: 11px;
  padding-right: 11px;
}
.main-footer__block-content:first-of-type {
  text-decoration: none;
}
.main-footer__map {
  background-image: url("../img/Layer 153.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 100%;
  min-height: 278px;
  margin-top: -57px;
  text-align: center;
}
.main-footer__map-triangle {
  min-height: 123px;
  background-image: url("../img/triangle-white-footer-mobile.svg");
  background-position: center 0;
}
.main-footer__map-marker {
  margin-top: 55px;
}
@media (min-width: 700px) {
  .main-footer > .main-footer__block-content {
    padding-left: 195px;
    padding-right: 195px;
  }
  .main-footer > .competition-footer {
    display: flex;
    padding-right: 40px;
    padding-left: 40px;
    align-items: center;
  }
  .main-footer__description {
    font-size: 40px;
    padding-left: 54px;
    padding-right: 54px;
  }
  .main-footer__contacts {
    display: flex;
    justify-content: space-around;
    padding-right: 40px;
    padding-left: 40px;
    flex-wrap: wrap;
  }
  .main-footer__map {
    background-image: url("../img/Layer_153.jpg");
    min-height: 448px;
    margin-top: -33px;
    z-index: -1;
    position: relative;
    background-position: 0px 74%;
  }
  .main-footer__map-triangle {
    max-width: 100%;
    min-height: 123px;
  }
  .main-footer .site-logo--footer {
    flex-basis: 150px;
  }
  .main-footer__tel, .main-footer__email {
    flex-basis: 50%;
  }
  .main-footer__address {
    width: 320px;
  }
  .main-footer__map-marker {
    margin-top: 123px;
  }
}
@media (min-width: 1200px) {
  .main-footer {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .main-footer > .competition-footer {
    padding-right: 130px;
    padding-left: 130px;
  }
  .main-footer__description {
    padding-top: 75px;
    font-size: 50px;
    width: 700px;
    margin: auto;
  }
  .main-footer__contacts {
    padding-right: 130px;
    padding-left: 130px;
    flex-wrap: nowrap;
  }
  .main-footer__tel, .main-footer__address {
    order: -1;
  }
  .main-footer__tel, .main-footer__email {
    flex-basis: auto;
  }
  .main-footer__address {
    flex-basis: 233px;
  }
  .main-footer__map {
    background-image: url("../img/map.jpg");
    min-height: 529px;
    background-position: 0px 58%;
  }
  .main-footer__map-triangle {
    background-image: url("../img/triangle-white-footer-desktop.svg");
  }
  .main-footer__map-marker {
    margin-top: 158px;
  }
}
.main-header {
  background-color: #283645;
  background-image: url("../../img/back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 462px;
}
.main-header--short {
  min-height: 243px;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}
.main-header--short .menu--show {
  max-width: 320px;
}
.main-header__slogan {
  font-family: 'Open Sans','open_sanslight',sans-serif;
  font-size: 24px;
  color: #fff;
  line-height: normal;
  font-weight: 300;
  text-align: center;
  text-transform: none;
  padding-left: 2px;
  padding-right: 2px;
}
.main-header__title {
  font-family: 'Open Sans','open_sanslight',sans-serif;
  font-size: 40px;
  color: #fff;
  line-height: normal;
  font-weight: 300;
  text-align: center;
  text-transform: none;
  margin-bottom: 0;
  display: none;
}
.main-header__right-side {
  min-width: 283px;
  height: 314px;
  position: absolute;
  top: 174px;
  background-image: url("../../img/iphone-5-in-hand-png.png");
}
@media (min-width: 700px) {
  .main-header {
    min-height: 729px;
    background-image: url("../../img/back-tablet@1x.jpg");
  }
  .main-header--short {
    max-width: 700px;
  }
  .main-header--short .menu--show {
    max-width: 700px;
  }
  .main-header--short {
    min-height: 440px;
  }
  .main-header__title {
    width: 300px;
    margin-left: 40px;
    margin-top: 103px;
    display: block;
  }
  .main-header__right-side {
    min-width: 683px;
    height: 545px;
    position: absolute;
    top: 184px;
    background-image: url("../../img/iphone-6 copy.png");
  }
  .main-header__image {
    position: absolute;
    top: 53px;
    left: 391px;
  }
  .main-header__slogan {
    font-size: 50px;
    padding-left: 13px;
    padding-right: 13px;
    margin-top: 73px;
  }
}
@media (min-width: 1200px) {
  .main-header {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../../img/back-desktop.jpg");
    min-height: 859px;
    position: relative;
  }
  .main-header__title {
    font-size: 50px;
    margin-left: 130px;
  }
  .main-header--short .menu--show {
    max-width: 1200px;
  }
  .main-header__right-side {
    min-width: 1050px;
    height: 645px;
    position: absolute;
    top: 214px;
    right: 0;
    background-image: url("../../img/iphone-6.png");
  }
  .main-header--short {
    min-height: 394px;
  }
}
.menu {
  background-color: #283645;
  display: none;
  max-width: 320px;
  position: relative;
  z-index: 1;
}
.menu--show {
  display: block;
  position: absolute;
  width: 100%;
  max-width: 100%;
  top: 0;
}
.menu__elements {
  background-color: #283645;
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu__element {
  border-top: 1px solid #485461;
  border-bottom: 1px solid;
  text-align: center;
}
.menu__element_logo {
  text-align: left;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
}
.menu__element_logo:first-child .menu__link {
  padding-top: 22px;
}
.menu__element_logo .menu__link::before {
  content: "";
  display: none;
  width: 147px;
  height: 40px;
  background: url("../../img/logotype-white-tablet.svg");
}
.menu__link {
  font-family: 'Open Sans','open_sansbold',sans-serif;
  font-size: 18px;
  color: #fff;
  line-height: 18px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  vertical-align: middle;
  padding-top: 26px;
  padding-bottom: 23px;
}
.menu__button {
  padding: 0;
  border: none;
  background-color: transparent;
}
@media (min-width: 700px) {
  .menu {
    max-width: 700px;
  }
  .menu--show {
    max-width: 100%;
  }
  .menu__element:first-child .site-logo {
    display: none;
  }
  .menu__element:first-child .menu__link::before {
    display: inline-block;
  }
  .menu__element_logo:first-child .menu__link {
    padding-top: 27px;
  }
  .menu__element_logo {
    padding-right: 40px;
    padding-left: 40px;
  }
  .menu__element_logo .menu__link {
    padding-bottom: 38px;
  }
}
@media (min-width: 1200px) {
  .menu {
    display: block;
    max-width: 1200px;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .menu--show {
    position: static;
  }
  .menu__element_logo .menu__link::before {
    background-image: url("../../img/logotype-white-desktop.svg");
  }
  .menu__element_logo .menu__link:hover::before {
    background-image: url("../../img/logotype-white-desktop-hover.svg");
  }
  .menu__element_logo .menu__link:active::before {
    background-image: url("../../img/logotype-white-desktop.svg");
    opacity: .3;
  }
  .menu__button {
    display: none;
  }
  .menu__elements {
    display: flex;
    padding-right: 130px;
    padding-left: 130px;
    background-color: transparent;
  }
  .menu__element_logo {
    flex-basis: 150px;
    padding-left: 0;
    padding-right: 0;
    flex-grow: 0;
  }
  .menu__elements-container {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    padding-left: 170px;
  }
  .menu__elements-container .menu__link {
    text-transform: none;
    padding-top: 48px;
    font-family: 'Open Sans',sans-serif;
    font-weight: normal;
    padding-bottom: 9px;
  }
  .menu__elements-container .menu__link:hover {
    border-bottom-style: solid;
    border-bottom-width: 2px;
  }
  .menu__elements-container .menu__link:active {
    opacity: .3;
    border-bottom-style: none;
  }
  .menu__element {
    border-bottom: none;
  }
}
.personal-info__description {
  font-family: 'Open Sans','open_sansregular',sans-serif;
  font-size: 14px;
  color: #283645;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  text-transform: none;
  margin: auto;
  margin-top: 47px;
  margin-bottom: 41px;
  width: 90%;
}
.personal-info__element:not(:checked) + .personal-info__custom-radio-element::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: transparent;
  border-radius: 50%;
}
.personal-info__element--checked + .personal-info__custom-radio-element::before, .personal-info__element:checked + .personal-info__custom-radio-element::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #d22856;
  border-radius: 50%;
}
.personal-info__element--checked + .personal-info__custom-element::before, .personal-info__element:checked + .personal-info__custom-element::before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 16px;
  background-image: url("../../img/tick.svg");
}
.personal-info__element:not(:checked) + .personal-info__custom-element::before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 16px;
  background-image: none;
}
.personal-info__description-fill, .personal-info__element {
  display: none;
}
.personal-info__form {
  margin-left: 20px;
  margin-right: 20px;
}
.personal-info__form [type=submit] {
  background-color: #2aab6d;
  font-family: 'Open Sans','open_sansregular',sans-serif;
  font-size: 18px;
  color: #fff;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  width: 100%;
  height: 63px;
  border-radius: 2px;
}
.personal-info__name-section {
  border: none;
  padding: 0;
  margin: 0;
}
.personal-info__name-element-label {
  font-family: 'Open Sans','open_sansregular',sans-serif;
  font-size: 14px;
  color: #d22856;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  margin-left: 23px;
}
.personal-info__title {
  font-family: 'Open Sans','open_sansregular',sans-serif;
  font-size: 14px;
  color: #d22856;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 42px;
  padding-right: 20px;
  padding-left: 20px;
}
.personal-info__title-application, .personal-info__achievements .personal-info__title {
  position: relative;
  top: 46px;
}
.personal-info__achievements .personal-info__title {
  margin-bottom: 88px;
}
.personal-info__emotions .personal-info__title {
  margin-bottom: 15px;
}
.personal-info__element-text {
  font-family: 'Open Sans','open_sansregular',sans-serif;
  font-size: 18px;
  color: #283645;
  line-height: 62px;
  font-weight: 400;
  text-align: left;
  text-transform: none;
  display: block;
  width: calc(100% - 24px);
  padding-left: 20px;
  height: 57px;
  margin-bottom: 18px;
  margin-top: 6px;
  border-radius: 3px;
  border-color: #e5e5e5;
  border-style: solid;
}
.personal-info__name-section .personal-info__name-element-label:last-child .personal-info__element-text {
  margin-bottom: -5px;
}
.personal-info__element-text::-webkit-input-placeholder, .personal-info__textarea::-webkit-input-placeholder {
  color: #283645;
}
.personal-info__achievements, .personal-info__journey-application {
  background-color: #f2f2f2;
  margin-left: -22px;
  margin-right: -20px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 38px;
}
.personal-info__achievements, .personal-info__journey-application, .personal-info__emotions {
  border-color: transparent;
}
.personal-info__journey-application {
  margin-bottom: 21px;
  margin-top: -14px;
}
.personal-info__emotions {
  margin-left: -20px;
  margin-right: -20px;
  margin-top: 60px;
}
.personal-info__achievements-element-label, .personal-info__element-label {
  font-family: 'Open Sans','open_sansregular',sans-serif;
  font-size: 18px;
  color: #283645;
  line-height: 30px;
  font-weight: 400;
  text-align: left;
  text-transform: none;
  margin-bottom: 47px;
  display: block;
}
.personal-info__element-label {
  margin-bottom: 40px;
}
.personal-info__achievements-element-column:last-of-type .personal-info__achievements-element-label:last-of-type {
  margin-bottom: 41px;
}
.personal-info__custom-element {
  width: 37px;
  height: 37px;
  display: inline-block;
  background: #fff;
  border-color: #e5e5e5;
  border-width: 2px;
  border-style: solid;
  border-radius: 3px;
  line-height: 37px;
  text-align: center;
  margin-right: 14px;
}
.personal-info__custom-radio-element {
  width: 36px;
  height: 36px;
  display: inline-block;
  background-color: #fff;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: #e5e5e5;
  text-align: center;
  line-height: 36px;
  margin-right: 32px;
}
.personal-info__element-label:first-of-type .personal-info__custom-radio-element {
  margin-top: 40px;
}
.personal-info__textarea {
  width: calc(100% - 19px);
  height: 201px;
  resize: none;
  font-family: 'Open Sans','open_sansregular',sans-serif;
  font-size: 18px;
  color: #283645;
  line-height: 30px;
  font-weight: 400;
  text-align: left;
  text-transform: none;
  padding-left: 19px;
  border-radius: 3px;
  border-color: #e5e5e5;
  border-style: solid;
  margin-bottom: 39px;
  border-width: 2px;
}
.personal-info__contacts-tablet {
  display: none;
}
.personal-info__name-container label {
  display: inline-block;
  margin-top: -6px;
}
@media (min-width: 700px) {
  .personal-info__description {
    font-size: 18px;
    width: 72%;
    margin-top: 100px;
    margin-bottom: 76px;
  }
  .personal-info__custom-radio-element, .personal-info__custom-element {
    margin-right: 15px;
  }
  .personal-info__description-fill {
    display: inline;
  }
  .personal-info__name-element-label {
    display: flex;
    align-items: center;
    margin-left: 20px;
  }
  .personal-info__element-text {
    margin-left: 22px;
    flex-grow: 1;
    margin-bottom: 0;
    margin-top: 0;
    width: auto;
  }
  .personal-info__element-label {
    margin-bottom: 40px;
    display: block;
  }
  .personal-info__form {
    margin-right: 40px;
    display: flex;
    flex-direction: column;
  }
  .personal-info__journey-application {
    background-color: transparent;
    margin-right: 0;
    margin-left: 18px;
    margin-top: 62px;
    border-color: #e5e5e5;
    border-width: 2px;
    border-style: solid;
    border-radius: 3px;
    padding-left: 60px;
  }
  .personal-info__name-section, .personal-info__journey-application {
    order: -1;
  }
  .personal-info__title-application {
    position: static;
    padding-left: 25px;
    padding-right: 25px;
  }
  .personal-info__element-label:first-of-type .personal-info__custom-radio-element {
    margin-top: 5px;
  }
  .personal-info__contacts {
    display: none;
  }
  .personal-info__contacts-tablet {
    display: block;
    margin-right: 0;
    margin-left: 18px;
    margin-top: 44px;
    order: -1;
    border-color: #e5e5e5;
    border-width: 2px;
    border-style: solid;
    border-radius: 3px;
  }
  .personal-info__contacts-tablet .personal-info__element-text {
    margin-left: 0;
    width: calc(100% - 22px);
    margin-bottom: 11px;
  }
  .personal-info__contacts-tablet .personal-info__title {
    margin-bottom: 36px;
  }
  .personal-info__contacts-tablet .personal-info__name-element-label {
    margin-left: 20px;
    margin-bottom: 32px;
  }
  .personal-info__contacts-tablet-input-container:last-of-type .personal-info__name-element-label {
    margin-bottom: 15px;
  }
  .personal-info__contacts-tablet-image-container {
    width: 60px;
    height: 60px;
    background-color: #e5e5e5;
    text-align: center;
    line-height: 60px;
    position: absolute;
    top: 1px;
    right: 0;
  }
  .personal-info__contacts-tablet-input-container {
    position: relative;
    margin-left: 48px;
    margin-right: 48px;
    width: calc(100% - 96px);
  }
  .personal-info__achievements {
    background-color: transparent;
    margin-left: 18px;
    margin-right: 0;
    margin-top: 61px;
    border-color: #e5e5e5;
    border-width: 2px;
    border-style: solid;
    border-radius: 3px;
    padding-left: 60px;
    margin-bottom: 0;
  }
  .personal-info__emotions {
    margin-left: 18px;
    margin-right: 0;
    margin-bottom: 71px;
    border-color: #e5e5e5;
    border-width: 2px;
    border-style: solid;
    border-radius: 3px;
  }
  .personal-info__textarea {
    margin-left: 48px;
    margin-right: 60px;
    width: calc(100% - 117px);
  }
  .personal-info__achievements .personal-info__title {
    top: 0;
  }
  .personal-info__emotions .personal-info__title {
    margin-bottom: 37px;
  }
  .personal-info__form-submit-container {
    margin-left: 18px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 52px;
  }
  .personal-info__form [type=submit], .competition-footer__form-field-requirements {
    flex-basis: 300px;
  }
  .personal-info__achievements .personal-info__title {
    margin-bottom: 42px;
  }
  .personal-info__label-container {
    display: flex;
    margin-bottom: 57px;
  }
  .personal-info__label-container:last-child {
    margin-bottom: 0;
  }
  .personal-info__title {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (min-width: 1200px) {
  .personal-info__form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 130px;
    margin-right: 130px;
  }
  .personal-info__name-section, .personal-info__journey-application {
    flex-basis: 435px;
  }
  .personal-info__name-element-label {
    margin-left: 0;
  }
  .personal-info__journey-application {
    margin-top: -12px;
    padding-left: 0;
    padding-right: 0;
  }
  .personal-info__contacts-tablet, .personal-info__achievements, .personal-info__emotions, .personal-info__form-submit-container {
    flex-basis: 100%;
  }
  .personal-info__form-submit-container {
    margin-bottom: 0;
  }
  .personal-info__contacts-tablet-container {
    display: flex;
  }
  .personal-info__contacts-tablet-input-container {
    width: calc(50% - 83px);
  }
  .personal-info__contacts-tablet-input-container:first-of-type {
    margin-right: 35px;
  }
  .personal-info__contacts-tablet-input-container:last-of-type {
    margin-left: 35px;
  }
  .personal-info__achievements-element-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 38px;
  }
  .personal-info__contacts-tablet {
    padding-bottom: 1px;
  }
  .personal-info__contacts-tablet .personal-info__title {
    margin-bottom: 36px;
  }
  .personal-info__textarea {
    height: 122px;
    margin-bottom: 45px;
  }
  .personal-info__emotions {
    padding-bottom: 0;
  }
  .personal-info__element-label {
    margin-left: 76px;
    margin-bottom: 39px;
  }
  .personal-info__label-container {
    margin-bottom: 58px;
  }
  .personal-info__contacts-tablet .personal-info__name-element-label {
    margin-bottom: 13px;
  }
}
.photo-editor {
  text-align: center;
  background-image: url("../../img/grey-back.jpg");
  display: flex;
  flex-direction: column;
}
.photo-editor__image {
  display: block;
  margin-left: 18px;
  margin-right: 20px;
  padding-top: 20px;
  width: 280px;
  height: 374px;
  margin-bottom: 42px;
  background-image: url("../../img/photo-7-mobile.jpg");
  background-repeat: no-repeat;
  background-position-y: 20px;
}
.photo-editor__crop-image {
  background-image: url("../../img/crop.svg");
  width: 44px;
  height: 44px;
  margin-right: 34px;
}
.photo-editor__fill-image {
  background-image: url("../../img/fill.svg");
  width: 48px;
  height: 43px;
  margin-right: 40px;
}
.photo-editor__contrast-image {
  background-image: url("../../img/contrast.svg");
  width: 32px;
  height: 32px;
  position: relative;
  top: -5px;
}
.photo-editor__image-modification-button {
  padding: 0;
  border: none;
  background-color: transparent;
}
.photo-editor__functions {
  margin-bottom: 33px;
}
.photo-editor__range {
  height: 2px;
  background-color: #283645;
  position: relative;
}
.photo-editor__range::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #d22856;
  border-radius: 50%;
  position: absolute;
  top: -6px;
  background-color: #f2f2f2;
}
.photo-editor__range:nth-child(8)::after {
  right: 33px;
}
.photo-editor__range:nth-child(-n+5) {
  display: none;
  margin-bottom: 11px;
}
.photo-editor__range:nth-child(8) {
  display: block;
  margin: auto;
  width: 240px;
  margin-top: 33px;
}
.photo-editor__button {
  font-family: 'Open Sans','open_sansbold',sans-serif;
  font-size: 18px;
  color: #d22856;
  line-height: 18px;
  font-weight: bold;
  text-align: center;
  text-transform: none;
  display: block;
  margin: auto;
  margin-bottom: 12px;
  border-radius: 28px;
  border-color: #d22856;
  border-width: 3px;
  border-style: solid;
  padding-top: 17px;
  padding-bottom: 14px;
  width: 280px;
}
.photo-editor__button--cancel {
  color: #283645;
  opacity: .1;
  border-color: rgba(40, 54, 69, 1.0);
}
.photo-editor__function-tuning {
  padding-bottom: 41px;
}
hr {
  border-bottom: none;
  border-top-color: rgba(40, 54, 69, 0.1);
}
hr:not(:last-of-type) {
  margin-bottom: 38px;
  display: none;
}
hr:last-of-type {
  margin-top: 34px;
  margin-bottom: 38px;
}
@media (min-width: 700px) {
  .photo-editor {
    flex-direction: row;
  }
  .photo-editor__image {
    width: 300px;
    height: 400px;
    background-image: url("../../img/photo-7-tablet.jpg");
    margin-left: 40px;
    margin-bottom: 54px;
    margin-right: 45px;
    padding-top: 57px;
    background-position-y: 57px;
  }
  .photo-editor__function-container {
    flex-grow: 1;
    margin-right: 40px;
    margin-top: 66px;
  }
  .photo-editor__crop-image {
    width: 22px;
    height: 22px;
    background-image: url("../../img/crop_50.svg");
    margin-right: 0;
  }
  .photo-editor__fill-image {
    background-image: url("../../img/fill_50.svg");
    width: 24px;
    height: 22px;
    margin-right: 0;
  }
  .photo-editor__contrast-image {
    background-image: url("../../img/contrast_50.svg");
    width: 16px;
    height: 16px;
    top: 6px;
  }
  .photo-editor__range {
    margin-bottom: 24px;
    margin-right: 18px;
    width: 69%;
  }
  .photo-editor__range:not(:first-of-type) {
    display: inline-block;
  }
  .photo-editor__range:nth-child(-n+5) {
    display: inline-block;
  }
  .photo-editor__range:nth-child(2)::after {
    right: 42px;
  }
  .photo-editor__range:nth-child(5)::after {
    left: 25px;
  }
  .photo-editor__range:nth-child(8)::after {
    left: 92px;
  }
  .photo-editor__range:nth-child(8) {
    width: 69%;
    margin-top: 0;
    margin-right: 18px;
  }
  .photo-editor__image-modification-button {
    margin-right: 30px;
  }
  .photo-editor__button {
    margin-bottom: 24px;
  }
  hr {
    margin-bottom: 27px;
  }
  hr:last-of-type {
    margin-bottom: 67px;
    margin-top: 27px;
  }
  hr:not(:last-of-type) {
    display: block;
    margin-top: 23px;
  }
}
@media (min-width: 1200px) {
  .photo-editor {
    margin-left: 130px;
    margin-right: 130px;
    margin-bottom: 98px;
  }
  .photo-editor__image {
    margin-left: 80px;
    margin-right: 90px;
  }
  .photo-editor__function-container {
    margin-right: 60px;
  }
  .photo-editor__crop-image {
    background-image: url("../../img/crop.svg");
    width: 44px;
    height: 44px;
  }
  .photo-editor__fill-image {
    background-image: url("../../img/fill-desktop.svg");
    width: 48px;
    height: 43px;
  }
  .photo-editor__contrast-image {
    background-image: url("../../img/contrast-desktop.svg");
    width: 32px;
    height: 32px;
  }
  .photo-editor__button {
    display: inline-block;
    width: 183px;
  }
  .photo-editor__function-tuning {
    padding-bottom: 23px;
  }
  .photo-editor__image-modification-button {
    margin-right: 44px;
  }
  .photo-editor__button--cancel {
    margin-left: 35px;
  }
  hr:not(:last-of-type) {
    margin-top: 13px;
  }
  hr:last-of-type {
    margin-top: 19px;
  }
}
.photos__description {
  font-family: 'Open Sans','open_sansregular',sans-serif;
  font-size: 14px;
  color: #283645;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  text-transform: ;
  margin-top: 46px;
  margin-left: 29px;
  margin-right: 29px;
  margin-bottom: 48px;
}
.photos__element-comment {
  background-color: #f2f2f2;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: -4px;
  padding-top: 25px;
  padding-left: 17px;
  padding-right: 6px;
  padding-bottom: 0;
}
.photos__element--panorama .photos__element-comment {
  margin-bottom: 20px;
}
.photos__element-comment .like {
  padding-left: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}
.photos__element--panorama-label {
  font-family: 'Open Sans','open_sansbold',sans-serif;
  font-size: 12px;
  color: #fff;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  text-transform: none;
  background-color: #d22856;
  padding-top: 7px;
  padding-right: 21px;
  padding-bottom: 5px;
  padding-left: 20px;
  position: absolute;
  top: 0;
  right: 20px;
}
.photos__element--panorama-image {
  width: 100%;
}
.photos__element--panorama-image-block {
  position: relative;
}
.photos__element-author {
  font-family: 'Open Sans','open_sansbold',sans-serif;
  font-size: 14px;
  color: #283645;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  text-transform: none;
}
.photos__element-time {
  font-family: 'Open Sans','open_sanslight',sans-serif;
  font-size: 12px;
  color: #283645;
  line-height: 24px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}
.photos__element-message {
  margin: 0;
  font-family: 'Open Sans','open_sansregular',sans-serif;
  font-size: 14px;
  color: #283645;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  text-transform: none;
  padding-bottom: 13px;
}
.photos__element-image {
  display: block;
  margin: 0 20px;
  width: 87%;
}
.photos__container .photos__element-image {
  width: 280px;
  height: 180px;
}
.photos__element--auto .photos__element-image {
  background-image: url("../../img/photo-1-mobile.jpg");
}
.photos__element--drums .photos__element-image {
  background-image: url("../../img/photo-2-mobile.jpg");
}
.photos__element--roof .photos__element-image {
  background-image: url("../../img/photo-3-mobile.jpg");
}
.photos__element--bakhcha .photos__element-image {
  background-image: url("../../img/photo-4-mobile.jpg");
}
.photos__element--legs .photos__element-image {
  background-image: url("../../img/photo-5-mobile.jpg");
}
.photos__element--plane .photos__element-image {
  background-image: url("../../img/photo-6-mobile.jpg");
}
.photos__container .photos__element {
  margin-bottom: 20px;
}
@media (min-width: 700px) {
  .photos__description {
    font-size: 18px;
    margin-left: 57px;
    margin-right: 57px;
    margin-bottom: 72px;
    margin-top: 54px;
  }
  .photos__element-comment-container {
    padding-top: 25px;
    flex-grow: 1;
  }
  .photos__element--panorama-label {
    right: 40px;
    top: 57px;
  }
  .photos__container {
    display: flex;
    flex-wrap: wrap;
    padding-right: 40px;
    padding-left: 40px;
    justify-content: space-between;
  }
  .photos__container .like {
    margin-bottom: 24px;
  }
  .photos__container .photos__element {
    width: calc(50% - 10px);
    background-color: #f2f2f2;
  }
  .photos__element--panorama-image-block {
    background-image: url("../../img/panorama-tablet.jpg");
    min-height: 509px;
    background-repeat: no-repeat;
  }
  .photos__element--panorama-image {
    display: none;
  }
  .photos__element--panorama {
    margin-bottom: 50px;
  }
  .photos__element--panorama .photos__element-comment {
    width: calc(100% - 114px);
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 0;
    position: relative;
    padding-bottom: 28px;
    padding-top: 31px;
  }
  .photos__element-comment {
    width: auto;
    padding-left: 28px;
  }
  .photos__container .photos__element-comment {
    min-height: 155px;
    padding-bottom: 0;
    padding-top: 0;
    display: flex;
    flex-direction: column;
  }
  .photos__element--panorama .like {
    position: absolute;
    top: 30px;
    right: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 0;
  }
  .photos__element-comment .like {
    display: flex;
    padding-bottom: 0;
  }
  .photos__element-comment .like__button {
    order: 1;
    margin-right: 25px;
    padding-right: 0;
    margin-left: auto;
  }
  .photos__element--panorama .like__button {
    margin-right: 28px;
    padding-right: 0;
    margin-left: 17px;
  }
  .photos__element-image {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .photos__element-comment {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
  }
  .photos__element--panorama .photos__element-message {
    padding-bottom: 0;
  }
  .photos__container .photos__element-image {
    width: 300px;
    height: 300px;
  }
  .photos__element--auto .photos__element-image {
    background-image: url("../../img/photo-1-tablet.jpg");
  }
  .photos__element--drums .photos__element-image {
    background-image: url("../../img/photo-2-tablet.jpg");
  }
  .photos__element--roof .photos__element-image {
    background-image: url("../../img/photo-3-tablet.jpg");
  }
  .photos__element--bakhcha .photos__element-image {
    background-image: url("../../img/photo-4-tablet.jpg");
  }
  .photos__element--legs .photos__element-image {
    background-image: url("../../img/photo-5-tablet.jpg");
  }
  .photos__element--plane .photos__element-image {
    background-image: url("../../img/photo-6-tablet.jpg");
  }
}
@media (min-width: 1200px) {
  .photos__description {
    width: 632px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 101px;
    margin-bottom: 92px;
  }
  .photos__element--panorama-image-block {
    background-image: url("../../img/panorama-desktop.jpg");
  }
  .photos__element--panorama .photos__element-comment {
    margin-top: -3px;
    margin-left: 130px;
    margin-right: 130px;
    width: calc(100% - 294px);
  }
  .photos__element--panorama-label {
    right: 130px;
    top: 54px;
  }
  .photos__container {
    padding-right: 130px;
    padding-left: 130px;
  }
  .photos__container .photos__element {
    width: 300px;
  }
  .photos__container .photos__element-image {
    height: 400px;
  }
  .photos__container .photos__element {
    margin-bottom: 54px;
  }
  .photos__element--auto .photos__element-image {
    background-image: url("../../img/photo-1-desktop.jpg");
  }
  .photos__element--drums .photos__element-image {
    background-image: url("../../img/photo-2-desktop.jpg");
  }
  .photos__element--roof .photos__element-image {
    background-image: url("../../img/photo-3-desktop.jpg");
  }
  .photos__element--bakhcha .photos__element-image {
    background-image: url("../../img/photo-4-desktop.jpg");
  }
  .photos__element--legs .photos__element-image {
    background-image: url("../../img/photo-5-desktop.jpg");
  }
  .photos__element--plane .photos__element-image {
    background-image: url("../../img/photo-6-desktop.jpg");
  }
  .photos__description:last-child {
    margin-top: 14px;
    margin-bottom: 69px;
  }
}
.platforms {
  background-color: #1d2631;
  padding-top: 28px;
  padding-bottom: 35px;
  margin-top: 389px;
  position: relative;
  z-index: 1;
}
.platforms__download-link {
  font-family: 'Open Sans','open_sansbold',sans-serif;
  font-size: 18px;
  color: #fff;
  line-height: 18px;
  font-weight: bold;
  text-align: center;
  text-transform: none;
  vertical-align: top;
  border-radius: 28px;
  padding-top: 17px;
  padding-bottom: 14px;
  border: 3px solid #fff;
  text-decoration: none;
  margin: auto;
  margin-bottom: 32px;
  display: block;
  width: 258px;
}
.platforms__description {
  font-family: 'Open Sans','open_sanslight',sans-serif;
  font-size: 14px;
  color: #fff;
  line-height: 24px;
  font-weight: 300;
  text-align: center;
  text-transform: none;
  padding-left: 33px;
  padding-right: 33px;
  margin: 0;
}
.platforms__images {
  display: flex;
  justify-content: space-between;
  margin-left: 57px;
  margin-right: 57px;
  margin-bottom: 28px;
}
@media (min-width: 700px) {
  .platforms {
    margin-top: 0;
    margin-left: 40px;
    margin-right: 40px;
    width: 300px;
    position: relative;
    z-index: 1;
    background-color: transparent;
    padding-top: 39px;
  }
  .platforms__download-link {
    width: auto;
    margin-bottom: 46px;
  }
  .platforms__images {
    margin-left: 47px;
    margin-right: 47px;
    margin-bottom: 41px;
  }
  .platforms__description {
    font-size: 18px;
    padding: 0;
  }
  .platforms__android {
    opacity: 0.4;
  }
}
@media (min-width: 1200px) {
  .platforms {
    margin-left: 130px;
  }
  .platforms__download-link {
    font-size: 21px;
  }
  .platforms__android {
    opacity: 1;
  }
}
.promo {
  list-style: none;
  padding: 0;
  margin: 0;
}
.promo__content-title {
  font-family: 'Open Sans','open_sansbold',sans-serif;
  font-size: 18px;
  color: #000;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  text-transform: ;
  margin: 0;
}
.promo__content-description {
  font-family: 'Open Sans','open_sansregular',sans-serif;
  font-size: 14px;
  color: #283645;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  text-transform: ;
  margin-bottom: 40px;
  margin-top: 19px;
}
.promo__item {
  padding: 0 24px;
}
.promo__item:last-child {
  padding: 0 20px;
}
@media (min-width: 700px) {
  .promo {
    flex-basis: 50%;
    min-width: 310px;
    position: relative;
    top: 117px;
  }
  .promo__content-title, .promo__content-description {
    text-align: left;
  }
  .promo__item, .promo__item:last-child {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 1200px) {
  .promo {
    flex-basis: 100%;
    display: flex;
    top: 101px;
  }
  .promo__item:first-child {
    background-image: url("../../img/Iphone_screen_1_copy.png");
  }
  .promo__item {
    background-repeat: no-repeat;
    background-position-x: 50%;
  }
  .promo__content-title {
    margin-top: 328px;
    padding-top: 60px;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    background-image: url("../../img/Layer 157.png");
  }
  .promo__item:nth-child(2) .promo__content-title {
    padding-left: 50px;
    padding-right: 50px;
  }
  .promo__content-description {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    padding-left: 44px;
    padding-right: 45px;
  }
  .promo__item:last-child .promo__content-description {
    padding-left: 20px;
    padding-right: 21px;
  }
  .promo__item:nth-child(2) {
    background-image: url("../../img/Iphone screen 2.png");
  }
  .promo__item:last-child {
    background-image: url("../../img/Iphone screen 3.png");
  }
}
.promo-container {
  background-color: #f2f2f2;
  text-align: center;
  overflow: hidden;
}
.promo-container__content-image {
  margin-bottom: -49px;
  background-image: url("../../img/iphone_screen_3.png");
  width: 157px;
  height: 320px;
  margin-top: 116px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 700px) {
  .promo-container {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 40px;
    padding-left: 40px;
    background-color: transparent;
    background-image: url("../../img/Shape 2-tablet.svg");
    background-position-y: 22px;
    background-repeat: no-repeat;
    min-height: 558px;
  }
  .promo-container__content-image {
    background-image: url("../../img/Iphone.png");
    background-repeat: no-repeat;
    flex-basis: 50%;
    margin-top: 76px;
    height: auto;
  }
}
@media (min-width: 1200px) {
  .promo-container {
    padding-right: 130px;
    padding-left: 130px;
    background-image: url("../../img/Shape 2-desktop.png");
    background-position-y: 97px;
    min-height: 715px;
  }
  .promo-container__content-image {
    display: none;
  }
}
.second-slider {}
.second-slider__header-group {
  background-color: #283645;
}
.second-slider__header {
  text-align: center;
  padding-bottom: 16px;
  overflow: hidden;
  position: relative;
  margin: 0 20px;
  border-left: 2px solid #e5e5e5;
  border-right: 2px solid #e5e5e5;
}
.second-slider__header:first-child, .second-slider__header:last-child {
  display: none;
}
.second-slider__package {
  font-family: 'Open Sans','open_sansbold',sans-serif;
  font-size: 18px;
  color: #fff;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  padding-top: 19px;
  margin: 0;
  margin-bottom: 3px;
}
.second-slider__price {
  font-family: 'Open Sans','open_sanslight',sans-serif;
  font-size: 24px;
  color: #fff;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
  text-transform: none;
}
.second-slider__hit {
  font-family: 'Open Sans',sans-serif;
  font-size: 14px;
  color: #fff;
  line-height: 30px;
  font-weight: 600;
  text-align: center;
  text-transform: none;
  background-color: #d22856;
  transform: rotate(-45deg);
  display: block;
  position: absolute;
  left: -41%;
  top: 9%;
  width: 100%;
}
.second-slider__option {
  font-family: 'Open Sans','open_sansregular',sans-serif;
  font-size: 14px;
  color: #283645;
  line-height: 30px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  border-bottom: 2px solid #e5e5e5;
  margin: 0px 19px;
  border-left: 2px solid #e5e5e5;
  border-right: 2px solid #e5e5e5;
  padding-left: 44px;
  padding-top: 14px;
  padding-bottom: 15px;
  position: relative;
}
.second-slider__option::before {
  content: "";
  display: block;
  width: 20px;
  height: 59px;
  position: absolute;
  top: 0;
  border-bottom: 2px solid #e5e5e5;
  left: -22px;
}
.second-slider__option::after {
  content: "";
  display: block;
  width: 20px;
  height: 59px;
  position: absolute;
  top: 0;
  border-bottom: 2px solid #e5e5e5;
  right: -21px;
}
.second-slider__option-check {
  background-image: url("../../img/yes.svg");
  background-repeat: no-repeat;
  background-position: 92% center;
}
.second-slider__option--not-selected .second-slider__option-check {
  background-image: none;
}
.second-slider__option--not-selected {
  background-image: url("../../img/no.svg");
  background-repeat: no-repeat;
  background-position: 92% center;
}
.second-slider__options {
  background-color: #fff;
  list-style: none;
  padding: 0;
  margin: 0;
}
.second-slider .slider-tumbler {
  margin-top: 40px;
}
@media (min-width: 700px) {
  .second-slider {
    display: table;
    margin-left: 40px;
    margin-right: 40px;
    width: calc(100% - 80px);
    border-collapse: collapse;
    background-image: none;
  }
  .second-slider__header, .second-slider__header:first-child, .second-slider__header:last-child {
    display: table-cell;
    border-right: 2px solid #e5e5e5;
    width: 25%;
    padding-bottom: 9px;
  }
  .second-slider__header:first-child {
    border-radius: 5px 0 0 5px;
  }
  .second-slider__header:last-child {
    border-right: none;
    border-radius: 0 3px 3px 0;
  }
  .second-slider__header-group::before {
    content: "";
    display: table-cell;
    background-color: #f2f2f2;
  }
  .second-slider__hit {
    left: -38%;
    top: 5%;
  }
  .second-slider .slider-tumbler {
    display: none;
  }
  .second-slider__header-group {
    display: table-header-group;
  }
  .second-slider__options {
    display: table-row-group;
  }
  .second-slider__option {
    display: table-row;
  }
  .second-slider__option:first-child .second-slider__option-check:not(:first-child) {
    border-top: none;
  }
  .second-slider__option::after, .second-slider__option::before {
    display: none;
  }
  .second-slider__option-check {
    display: table-cell;
    border: 2px solid #e5e5e5;
    text-transform: none;
    padding-left: 15px;
    padding-top: 8px;
    padding-bottom: 6px;
    background-position: center center;
  }
  .second-slider__option-check:first-child, .second-slider__option--not-selected, .second-slider__option--not-selected .second-slider__option-check:first-child {
    background-image: none;
  }
  .second-slider__option--not-selected .second-slider__option-check:last-child {
    background-image: url("../../img/yes.svg");
  }
  .second-slider__option--not-selected .second-slider__option-check, .second-slider__option .second-slider__option--not-selected {
    background-image: url("../../img/no.svg");
  }
  .second-slider__package {
    font-size: 16px;
    padding-top: 12px;
    margin-bottom: 0;
  }
  .second-slider__price {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .second-slider {
    margin-left: 130px;
    margin-right: 130px;
    width: calc(100% - 260px);
  }
  .second-slider__package {
    font-size: 18px;
    padding-top: 15px;
  }
  .second-slider__price {
    font-size: 24px;
  }
  .second-slider__option-check {
    font-size: 18px;
    padding-top: 16px;
    padding-bottom: 12px;
    padding-left: 24px;
  }
  .second-slider__header {
    padding-bottom: 23px;
  }
}
.second-slider-container {
  padding-top: 114px;
  padding-bottom: 48px;
  background-image: url("../../img/Shape 2 copy.svg");
  background-position: 0 -23px;
}
@media (min-width: 700px) {
  .second-slider-container {
    padding-bottom: 70px;
  }
}
@media (min-width: 1200px) {
  .second-slider-container {
    padding-top: 158px;
    background-position: 0 0;
    padding-bottom: 97px;
  }
}
.site-logo {
  text-decoration: none;
}
.site-logo--footer {
  display: block;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 43px;
}
.site-logo:hover .site-logo__text {
  display: none;
}
.site-logo:hover {
  background: url("../../img/PINK.svg");
  background-repeat: no-repeat;
  width: 75px;
  height: 26px;
}
.site-logo--footer:hover {
  width: auto;
  height: auto;
  background-image: none;
}
.site-logo:hover:active .site-logo__text {
  opacity: .3;
  display: block;
}
.site-logo:hover:active {
  background-image: none;
}
@media (min-width: 700px) {
  .site-logo:hover {
    background-image: none;
    height: auto;
  }
  .site-logo:hover:active .site-logo__text {
    display: none;
  }
  .site-logo::before {
    content: "";
    display: inline-block;
    width: 147px;
    height: 40px;
    background: url("../../img/logotype-white-tablet.svg");
  }
  .site-logo:hover::before {
    background: url("../../img/PINK copy.svg");
    background-repeat: no-repeat;
  }
  .site-logo:active::before {
    background: url("../../img/logotype-white-tablet.svg");
    opacity: .3;
  }
  .site-logo__text {
    display: none;
  }
  .site-logo--footer {
    margin-top: 36px;
    margin-bottom: 51px;
  }
}
@media (min-width: 1200px) {
  .site-logo__image {
    display: none;
  }
  .site-logo--footer {
    width: 147px;
    height: 40px;
    background: url("../../img/logotype-blue-desktop.svg");
    background-repeat: no-repeat;
    margin-top: 0;
    margin-bottom: 0;
  }
  .site-logo--footer .site-logo__image {
    display: inline;
  }
}
.slider__title {
  font-family: 'Open Sans','open_sansbold',sans-serif;
  font-size: 18px;
  color: #000;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: none;
  margin-top: 49px;
  margin-bottom: 25px;
}
.slider__description {
  font-family: 'Open Sans','open_sansregular',sans-serif;
  font-size: 14px;
  color: #283645;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  text-transform: none;
  margin: 0 17px;
  margin-bottom: 39px;
}
.slider__subtitle {
  display: none;
}
.slider__top-content {
  display: none;
}
@media (min-width: 700px) {
  .slider {
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 58px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
  }
  .slider__title {
    font-size: 20px;
    order: 2;
  }
  .slider__subtitle {
    font-family: 'Open Sans','open_sansregular',sans-serif;
    font-size: 14px;
    color: #283645;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
    text-transform: none;
    display: block;
  }
  .slider__description {
    font-size: 18px;
    margin: 106px 0 0;
    order: 1;
  }
  .slider__top-content {
    display: flex;
    justify-content: space-between;
  }
  .slider__top-conten-right-side {
    flex-basis: 50%;
  }
  .slider__top-conten-right-side-title {
    font-family: 'Open Sans','open_sansbold',sans-serif;
    font-size: 30px;
    color: #000;
    line-height: 36px;
    font-weight: 400;
    text-align: left;
    text-transform: none;
    margin-top: 44px;
    width: 170px;
  }
  .slider__top-conten-right-side-content {
    font-family: 'Open Sans','open_sansregular',sans-serif;
    font-size: 14px;
    color: #283645;
    line-height: 24px;
    font-weight: 400;
    text-align: left;
    text-transform: none;
    padding-right: 14px;
  }
  .slider__top-conten-right-link {
    font-family: 'Open Sans','open_sansregular',sans-serif;
    font-size: 14px;
    color: #d22856;
    line-height: 24px;
    font-weight: 400;
    text-align: left;
    text-transform: none;
  }
  .slider__top-content-image-container {
    position: relative;
    text-align: center;
  }
  .slider__top-content-number {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    font-family: 'Open Sans','open_sansbold',sans-serif;
    font-size: 96px;
    color: #d22856;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
    text-transform: none;
  }
}
@media (min-width: 1200px) {
  .slider {
    margin-top: 44px;
    padding-top: 0;
    padding-right: 130px;
    padding-left: 130px;
  }
  .slider__top-content-image {
    display: none;
  }
  .slider__top-content-image-container {
    background-image: url("../../img/diagram-fill-desktop.svg");
    height: 345px;
    width: 298px;
  }
  .slider__top-conten-right-side {
    flex-basis: 570px;
  }
  .slider__top-conten-right-side-title {
    width: auto;
    margin-top: 97px;
  }
  .slider__top-content-number {
    font-size: 120px;
  }
  .slider__top-conten-right-side-content {
    font-size: 18px;
    line-height: 30px;
    padding-right: 50px;
  }
  .slider__top-conten-right-link {
    font-size: 18px;
  }
  .slider__top-content {
    background-color: #f2f2f2;
    margin-left: -130px;
    padding-left: 130px;
    margin-right: -130px;
    padding-right: 130px;
    margin-top: -46px;
    padding-top: 46px;
    padding-bottom: 67px;
  }
  .slider__description {
    padding-top: 193px;
    margin-top: 0;
    background-image: url("../../img/quotes.svg");
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position: center 72px;
    width: 792px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  .slider__title {
    margin-top: 45px;
    font-size: 24px;
    margin-bottom: 36px;
  }
  .slider__subtitle {
    font-size: 18px;
  }
  .slider__description::before {
    background-image: url("../../img/left-arrow.svg");
    left: 130px;
    left: -66.5px;
    content: "";
    display: block;
    width: 22px;
    height: 41px;
    position: absolute;
    top: 213px;
  }
  .slider__description::after {
    background-image: url("../../img/left-arrow.svg");
    right: 130px;
    right: -66.5px;
    transform: rotate(180deg);
    content: "";
    display: block;
    width: 22px;
    height: 41px;
    position: absolute;
    top: 213px;
  }
}
.slider-tumbler {
  width: 59px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slider-tumbler__element {
  width: 6px;
  height: 6px;
  padding: 0;
  border-radius: 50%;
  border: none;
  background-color: rgba(40, 54, 69, 0.3);
}
.slider-tumbler__element--active {
  width: 12px;
  height: 12px;
  border-width: 3px;
  border-style: solid;
  border-color: rgb(40, 54, 69);
  background-color: transparent;
}
@media (min-width: 700px) {
  .slider-tumbler {
    order: 2;
  }
}
@media (min-width: 1200px) {
  .slider-tumbler {
    display: none;
  }
}
.socials {
  text-align: center;
  margin-bottom: 42px;
}
.socials__element {
  text-decoration: none;
  width: 46px;
  height: 45px;
  display: inline-block;
  border-style: solid;
  border-width: 3px;
  border-color: rgba(40, 54, 69, 0.1);
  border-radius: 50%;
  line-height: 46px;
  margin-right: 12px;
}
@media (min-width: 700px) {
  .socials {
    flex-grow: 1;
    margin-bottom: 0;
  }
}
.logotype {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 22px;
  margin-right: auto;
  padding-bottom: 22px;
  background-color: rgba(0,0,0,.3);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.logotype__menu-button {
  background-color: transparent;
  border: none;
}
@media (min-width: 700px) {
  .logotype {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 27px;
    padding-bottom: 39px;
  }
}
@media (min-width: 1200px) {
  .logotype {
    display: none;
  }
}
.site-logo {
  text-decoration: none;
}
.site-logo--footer {
  display: block;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 43px;
}
.site-logo:hover .site-logo__text {
  display: none;
}
.site-logo:hover {
  background: url("../../img/PINK.svg");
  background-repeat: no-repeat;
  width: 75px;
  height: 26px;
}
.site-logo--footer:hover {
  width: auto;
  height: auto;
  background-image: none;
}
.site-logo:hover:active .site-logo__text {
  opacity: .3;
  display: block;
}
.site-logo:hover:active {
  background-image: none;
}
@media (min-width: 700px) {
  .site-logo:hover {
    background-image: none;
    height: auto;
  }
  .site-logo:hover:active .site-logo__text {
    display: none;
  }
  .site-logo::before {
    content: "";
    display: inline-block;
    width: 147px;
    height: 40px;
    background: url("../../img/logotype-white-tablet.svg");
  }
  .site-logo:hover::before {
    background: url("../../img/PINK copy.svg");
    background-repeat: no-repeat;
  }
  .site-logo:active::before {
    background: url("../../img/logotype-white-tablet.svg");
    opacity: .3;
  }
  .site-logo__text {
    display: none;
  }
  .site-logo--footer {
    margin-top: 36px;
    margin-bottom: 51px;
  }
}
@media (min-width: 1200px) {
  .site-logo__image {
    display: none;
  }
  .site-logo--footer {
    width: 147px;
    height: 40px;
    background: url("../../img/logotype-blue-desktop.svg");
    background-repeat: no-repeat;
    margin-top: 0;
    margin-bottom: 0;
  }
  .site-logo--footer .site-logo__image {
    display: inline;
  }
}
.pop-up {
  display: none;
  max-width: 320px;
  margin: auto;
}
.pop-up__button {
  margin-top: 50px;
  background-color: #2aab6d;
  font-family: 'Open Sans','open_sansregular',sans-serif;
  font-size: 18px;
  color: #fff;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  width: 100%;
  height: 63px;
  border-radius: 3px;
}
.pop-up__button-container {
  height: 163px;
  background-color: #f2f2f2;
  padding-right: 20px;
  padding-left: 20px;
}
.pop-up__header {
  font-family: 'Open Sans','open_sansbold',sans-serif;
  font-size: 18px;
  color: #000;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  text-transform: ;
  padding-top: 46px;
  padding-bottom: 32px;
  margin: 0;
}
.pop-up__message {
  font-family: 'Open Sans',sans-serif;
  font-size: 14px;
  color: #283645;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  text-transform: ;
  padding-left: 22px;
  padding-right: 22px;
  margin-bottom: 37px;
  margin-top: 0;
}
.pop-up--show {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 11;
  bottom: 726px;
  background-color: #fff;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}
@media (min-width: 700px) {
  .pop-up {
    max-width: 484px;
  }
  .pop-up__header {
    font-size: 30px;
    line-height: 40px;
    margin-left: auto;
    margin-right: auto;
  }
  .pop-up__message {
    font-size: 18px;
    width: 63%;
    margin-left: auto;
    margin-right: auto;
  }
  .pop-up__button {
    width: 299px;
    position: absolute;
    left: 50%;
    margin-left: -150px;
  }
  .pop-up--show {
    bottom: 1199px;
    border-radius: 3px;
  }
}
@media (min-width: 1200px) {
  .pop-up {
    max-width: 804px;
  }
  .pop-up--show {
    bottom: 401px;
  }
  .pop-up__message {
    width: 55%;
  }
}
.pop-up_failure .pop-up__button-container {
  background-color: transparent;
}
.pop-up_failure .pop-up__message {
  margin-bottom: 43px;
}
.pop-up_failure .pop-up__button {
  margin-top: 0;
}
.pop-up_failure .pop-up__button-container {
  padding-bottom: 52px;
  height: 63px;
}
.pop-up_failure.pop-up--show {
  bottom: 1291px;
}
@media (min-width: 700px) {
  .pop-up__header {
    width: 53%;
  }
  .pop-up_failure.pop-up--show {
    bottom: 1741px;
  }
}
@media (min-width: 1200px) {
  .pop-up_failure.pop-up--show {
    bottom: 866px;
    max-width: 484px;
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}
.overlay--show {
  display: block;
}
body {
  margin: 0;
  position: relative;
}
