.competition-footer__form-field-requerements {
  font-family: 'Open Sans',sans-serif;
  font-size: 14px;
  color: #283645;
  line-height: 30px;
  @mixin-content;
}
.competition-footer__form-field-requerements {
  text-transform: uppercase;
}
.content__slogan {
  font-family: 'Open Sans',sans-serif;
  font-size: 24px;
  color: #283645;
}
.main-footer__block-title {
  font-family: 'Open Sans',sans-serif;
}
.main-footer__description {
  font-family: 'Open Sans',sans-serif;
  font-size: 24px;
  color: #283645;
  line-height: normal;
  @mixin-content;
}
.main-footer__description {
  font-weight: 300;
}
.main-header {
  background-color: #283645;
  background-image: url("../../img/back-mobile@1x.jpg");
  background-repeat: no-repeat;
  min-height: 462px;
}
.main-header--short {
  min-height: 243px;
}
.menu {
  background-color: #283645;
  display: none;
}
.menu__elements {
  background-color: #283645;
}
.menu__element {
  border-top: 1px solid #485461;
  border-bottom: 1px solid;
}
.menu__link {
  font-family: 'Open Sans',sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #fff;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  padding-top: 26px;
  padding-bottom: 23px;
}
.menu__button {
  padding: 0;
  border: 0;
}
.platforms {
  background-color: #1d2631;
  padding-top: 28px;
  padding-bottom: 35px;
}
.platforms__download-link {
  font-family: 'Open Sans',sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  color: #fff;
  display: inline-block;
  vertical-align: top;
  padding-left: 37px;
  padding-top: 17px;
  padding-right: 36px;
  padding-bottom: 14px;
  border: 3px solid #fff;
  text-decoration: none;
}
.platforms__description {
  font-family: 'Open Sans',sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}
.promo {
  background-image: url("../../img/promo-background.png");
  background-repeat: no-repeat;
}
.promo__content-title {
  font-family: 'Open Sans',sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}
.promo__content-description {
  font-family: 'Open Sans',sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}
.second-slider {
  background-image: url("../../img/Shape_2_copy.png");
}
.second-slider__header {
  background-color: #283645;
}
.second-slider__package {
  font-family: 'Open Sans',sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  line-height: 30px;
}
.second-slider__price {
  font-family: 'Open Sans',sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: #fff;
  line-height: 30px;
}
.second-slider__hit {
  font-family: 'Open Sans',sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  line-height: 30px;
  background-color: #d22856;
}
.second-slider__option {
  font-family: 'Open Sans',sans-serif;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
}
.slider__title {
  font-family: 'Open Sans',sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
}
.slider__description {
  font-family: 'Open Sans',sans-serif;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
}
.logotype {
  padding-left: 20px;
  padding-top: 22px;
  margin-right: auto;
  padding-bottom: 22px;
  background-color: rgba(178,178,178,.3);
}
body {
  margin: 0;
}
