@import url(normalize.css);
body{
    background-color: #fff6ec;
}
#wrapper{
    margin: 0 auto;
    width:1004px;
    height:1000px;
    background:url("../images/wrapper_bg.jpg") no-repeat;
    position: relative;
}
header a{
    text-decoration: none;
}
header h1{
    font-size:52px;
    color:#c48502;
    font-family: ariston;
    background: url("../images/logo.png") no-repeat;
    padding-left: 3px;
    width: 196px;
    background-position: -1px -1px;
}
header h2{
    font-size:40px;
    color:#141210;
    font-family: helvetica;
}
header p{
    font:11px Verdana;
    color:#34160c;
    width: 178px;
    height: 16px;
    background-color:#fff;
    padding-left: 8px;
    padding-top: 2px;
    border-radius: 3px;
    margin-left: 1px;
}
header{
    position: absolute;
    left: 127px;
    top:28px;
}
nav ul li a{
    text-decoration: none;
    color:#141210;
    font:bold 11px Trebuchet MS;
    display:block;
}
nav ul li:first-child{
    background-color: #ffeec6;
}
nav ul li:hover{
    background:url("../images/left_SB_arr.png") no-repeat left center #ffeec6;
}
nav ul div{
    width: 6px;
    height: 126px;
    position: absolute;
    top:27px;
}
nav ul{
    width: 157px;
    height:139px;
    background-color: #fff !important;
    padding-top: 21px;
    padding-left: 15px;
    padding-bottom: 23px;
    border:1px solid #e3d5c5;
    border-radius: 3px;
    position: absolute;
    top:176px;
    left: 131px;
}
nav ul li{
    background: url("../images/left_SB_arr.png") no-repeat left center;
    padding-bottom: 3px;
    width: 142px;
    border-bottom:1px solid #e5e5e5;
}
nav ul li:last-child{
    border-bottom: none;
}
@font-face{
    font-family: ariston;
    src:url("../Ariston Regular.woff");
}
@font-face{
    font-family: arial black;
    src:url("../arial-black_[allfont.ru].woff");
}
@font-face{
    font-family: helvetica;
    src:url("../Helvetica-Condensed-Bold.woff");
}
@font-face{
    font-family: helvetica black;
    src:url("../Helvetica-CondensedBlack-Black.woff");
}
@font-face{
    font-family: kroeger;
    src:url("../kroeger_05_63.woff");
}
article{
    position: absolute;
    top:381px;
    left: 125px;
    width: 560px;
    height: 266px;
}
article h2{
    font:bold 30px Georgia;
    margin-bottom: 15px;
}
section h3{
    font:13px Verdana;
    color:#34160c;
    margin-bottom: 17px;
}
section h3 span{
    font-weight: bold;
}
.yellow{
    color:#d15401;
}
section a{
    text-decoration: none;
    color:#000;
    font-weight: bold;
}
#read{
    background: rgba(0, 0, 0, 0) url("../images/read-more.png") no-repeat scroll 0 0;
    border-radius: 3px;
    color: #850000;
    float: right;
    font-family: kroeger;
    font-size: 8px;
    height: 12.5px;
    margin-right: 16px;
    padding-left: 7px;
    padding-top: 3px;
    text-decoration: none;
    width: 76px;
}
#last{
    margin-bottom: -2px;
}
#content{
    position: absolute;
    left:131px;
    top:661px;
    width:548px;
    height:174px;
    background-color: #fffbf6;
}
#content h1{
    font:20px Georgia;
    padding-left: 38px;
    padding-top: 13px;
    background: url("../images/content_ch.png") no-repeat 12px 13px;
}
#wrapper div ul{
    font:12px Verdana;
    margin-left: 13px;
    padding-top: 10px;
    float: left;
}
#wrapper div ul li{
    padding-bottom: 7px;
    background: url("../images/content_arr.png") no-repeat 0px 5px;
}
#wrapper div ul li a{
    text-decoration: none;
    color:#7d5400;
}
#search{
    width:157px;
    height:78px;
    background-color: #f16515;
    border-radius: 3px;
    position: relative;
    left: 11px;
    top:9px;
}
#search p{
    font:bold 15px Georgia;
    color:#fff;
    padding-left:11px;
    padding-top: 6px;
}
#search input{
    margin-top:2px;
    margin-left: 10px;
    width:131px;
    border-bottom:1px solid #cac8c5;
    border-top:2px ridge #404040;
    border-left:2px ridge #404040;
    border-right:2px ridge #404040;
}
#search a{
    font:bold 10px Verdana;
    color:#000;
    padding-left:11px;
    position: relative;
    top: -19px;
}
#search input[type=image]{
    background: url("../images/go.png") no-repeat;
    width:32px;
    height: 11px;
    border:none;
    font:8px kroeger;
    color:#850000;
    margin-left: 115px;
    margin-top: 6px;
}
#right_SB{
    width: 179px;
    height: 798px;
    border-radius: 5px;
    border:1px solid #e3d5c5;
    position: absolute;
    top:36px;
    right: 130px;
    background: url("../images/right_SB_div.png") no-repeat 13px 148px,url("../images/right_SB_div.png") no-repeat 13px 234px,url("../images/right_SB_div.png") no-repeat 13px 320px #fff;
}
#news h1{
    font:18px georgia;
    color:#381604;
    margin-top:20px;
    margin-bottom: 8px;
    padding-left: 33px;
    background: url("../images/news_ic.png") no-repeat 14px;
}
#news a{
    font:bold 12px Verdana;
    color:#8f3102;
    text-decoration: none;
    padding-left: 32px;
    background: url("../images/right_SB_arr.png") no-repeat 14px;
}
#news .p{
    font:11px Verdana;
    color:#34160c;
    padding-left: 14px;
    margin-top: 12px;
    margin-bottom: 19px;
    display: block;
    background: none;
}
#online{
    width: 157px;
    height: 78px;
    background-color: #f8b11d;
    border-radius: 5px;
    margin-left: 11px;
    margin-top: -2px;
}
#online h2{
    color: #fff;
    font:24px helvetica black;
    text-transform: uppercase;
    text-align: center;
    padding-top: 14px;
}
#online h3{
    color:#bba083;
    font-size: 24px;
    font-family: arial black;
    text-transform: uppercase;
    text-align: center;
    margin-top: -5px;
}
#online a{
    text-decoration: none;
}
#login{
    width: 157px;
    height: 195px;
    background-color: #eaeaea;
    border-radius: 5px;
    margin-top: 11px;
    margin-left: 11px;
}
#login h1{
    height: 30px;
    background-color: #000;
    color:#fff;
    border-radius: 5px 5px 0 0;
    font:bold 15px Georgia;
    padding-left: 11px;
    padding-top: 9px;
    margin-bottom: 5px;
}
form label{
    font: bold 10px Verdana;
    margin-left: 11px;
    position: relative;
    bottom: 3px;
}
form input{
    margin-top: 1px;
    margin-left: 10px;
    width:131px;
    border-bottom:1px solid #cac8c5;
    border-top:2px ridge #404040;
    border-left:2px ridge #404040;
    border-right:2px ridge #404040;
}
#login form input[type="checkbox"]{
    float: left;
    width: 9px !important;
    height: 8px;
    margin-left: 11px;
    margin-top: 8px;
}
#label{
    margin: 0;
    position: relative;
    top: 4px;
    left: 5px;
}
#login a{
    font:bold 10px Verdana;
    color:#9a6902;
    margin-left: 11px;
    position: relative;
    top: -4px;
}
.clear{
    clear: both;
}
#login form input[type="submit"]{
  background: rgba(0, 0, 0, 0) url("../images/login.png") no-repeat scroll 0 0;
    border: medium none;
    font: 8px kroeger;
    height: 14px;
    width: 51px;
    color:#850000;
    text-transform: uppercase;
    padding-left: 0;
    padding-bottom: 2px;
    float:right;
    margin-bottom: 17px;
    position: relative;
    top: 5px;
    right: 9px;
}
#passw{
    position: relative;
    top: -1px;
}
footer{
    height: 126px;
    position: absolute;
    top:874px;
    width:100%;
    box-shadow: 0 15px 5px 5px #dad2ca;
    background: url("../images/footer_sh.png") repeat-x #ddd1c3;    
}
footer ul{
    margin: 15px auto 0;
    width: 448px;
}
footer ul li{
    float: left; 
    background: url("../images/menu_div.png") no-repeat right 73%;
    padding-right: 10px;
    margin-right: 8px;
}
footer ul li:last-child{
    background:none;
}
footer ul li a{
    text-decoration: none;
    font:bold 11px Trebuchet MS;
    color:#141210;
}
footer p{
    font:11px Trebuchet MS;
    color:#5d3608;
    text-align: center;
    margin-top: 38px;
}
#valid{
    margin-top: 0;   
}
#valid a{
    text-decoration: none;
}
#des{
    font:bold 12px Trebuchet MS;
    margin-top:0px;
}
#des span{
    color:#fff;
    background-color: #c14c10;
    padding:0 5px 0 3px;
    margin-left: 1px;
}