body {
  margin: 1px;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.container {
  outline: 1px solid;
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}
.main-header {
  margin-bottom: 55px;
  outline: 1px solid;
}
.index-header {
  margin-bottom: 60px;
}
.main-navigation {
  outline: 1px solid;
  float: left;
  width: 780px;
  min-height: 70px;
}
ul li{
  display: inline-block;
}
.user-block {
  outline: 1px solid;
  float: right;
  width: 140px;
  min-height: 70px;
}
.index-logo {
  outline: 1px solid;
  height: 204px;
  width: 368px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}
.features {
  outline: 1px solid;
  margin-bottom: 80px;
}
.features-item {
  outline: 1px solid;
  float: left;
  width: 300px;
  min-height: 175px;
  margin-right: 20px;
}
.features-item:last-child {
  margin-right: 0;
}
.index-content {
  outline: 1px solid;
  padding: 50px 80px;
  margin-bottom: 35px;
}
.index-content-left {
  outline: 1px solid;
  float: left;
  width: 380px;
  min-height: 330px;
}
.index-content-right {
  outline: 1px solid;
  float: right;
  width: 300px;
  min-height: 330px;
}
.main-footer {
  outline: 1px solid;
  margin-top: 50px;
  padding-top: 60px;
  padding-bottom: 40px;
}
.footer-contacts {
  outline: 1px solid;
  float: left;
  width: 320px;
  min-height: 88px;
  margin-right: 60px;
}
.footer-social {
  outline: 1px solid;
  float: left;
  width: 180px;
  min-height: 88px;
}
.footer-social p {
  margin: 0;
}
.footer-copyright {
  outline: 1px solid;
  float: right;
  width: 180px;
  min-height: 88px;
}
.top-column {
  outline: 1px solid;
  margin-bottom: 55px;
}
.left-column {
  float: left;
  outline: 1px solid;
  width: 460px;
}
.left-column-shop {
  width: 220px;
}
.left-column-item {
  font-size: 0;
}
.right-column {
  float: right;
  outline: 1px solid;
  width: 400px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
td {
  border: 1px solid;
  width: 50%;
  height: 43px;
}
.wrap {
  width: 220px;
  min-height: 286px;
  outline: 1px solid;
  float: left;
  margin-right: 20px;
}
.first-raw {
  margin-bottom: 20px;
}
.first-raw .wrap:last-child {
  margin-right: 0;
}
.second-raw {
  margin-bottom: 45px;
}
.second-raw .wrap:last-child {
  margin-right: 0;
}
.right-column-price {
  width: 460px;
}
.right-column-shop {
  width: 700px;
}
.paggination {
  margin-bottom: 49px;
}
.view {
  margin-bottom: 21px;
}
.preview {
  margin-right: 20px;
}
.preview:last-child {
  margin-right: 0;
}
.index-footer {
    margin-top: 65px;
}
.price-footer {
    margin-top: 82px;
}
