body {
  margin: 1px;
  font-family: "PT Sans Narrow bold", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  min-width: 960px;
  text-transform: uppercase;
  background: #070707 url("../img/tint.png") no-repeat center top;
}
.price {
  background: none;
  color: black;
  font-weight: 400;
}
.shop {
  background: none;
  color: black;
}
.item {
  background: none;
  color: black;
  font-weight: 400;
}
@font-face {
  src: url(../fonts/ptsansnarrow.woff2);
  font-family: "PT Sans Narrow";
}
@font-face {
  src: url(../fonts/ptsansnarrowbold.woff2);
  font-family: "PT Sans Narrow bold";
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.container {
  outline: 1px solid;
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
  display: block;
}
.main-header {
  margin-bottom: 57px;
  outline: 1px solid;
  background-color: #000000;
  color: #ffffff;
}
.index-header {
  margin-bottom: 58px;
}
.main-navigation {
  outline: 1px solid;
  float: left;
  width: 780px;
  min-height: 70px;
}
.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}
.main-navigation li{
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 14px;
}
.main-navigation a {
  display: block;
  padding: 24px 20px;
  padding-right: 23px;
  padding-bottom: 29px;
  padding-top: 27px;
  color: #ffffff;
  text-decoration: none;
}
.main-navigation li:nth-child(2) {
  margin-right: -1px;
}
.main-navigation li:nth-child(6) {
  margin-left: 2px;
}
.main-navigation a:hover {
  background: #242424;
}
.main-navigation img {

}
.breadcrumbs {
  margin: 0;
  padding: 0;
}
.breadcrumbs li:first-child {
  margin-left: 0;
}
.breadcrumbs li:last-child {
  color: #aba9a7;
  margin-left: 17px;
}
.breadcrumbs li:last-child::after {
  content: "";
  display: none;
}
.breadcrumbs li::after {
  width: 6px;
  border: 1px solid #61605f;
  content: "";
  display: inline-block;
  height: 6px;
  background: black;
  margin-left: 17px;
  transform: rotate(45deg);
}
.breadcrumbs li {
  display: inline-block;
  vertical-align: top;
  margin-left: 13px;
}
.breadcrumbs a {
  color: #000;
  text-decoration: none;
}
.user-block {
  outline: 1px solid;
  float: right;
  max-width: 140px;
  min-height: 70px;
}
.login {
  position: relative;
  display: inline-block;
  padding: 24px 23px;
  padding-left: 50px;
  vertical-align: top;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
}
.login:hover {
  background: #242424;
}
.login::before {
  position: absolute;
  top: 28px;
  left: 20px;
  content: "";
  width: 18px;
  height: 18px;
  background: url("../img/.icon-login.png") no-repeat;
  opacity: 0.3;
}
.login:hover::before{
  opacity: 1;
}
.index-logo {
  outline: 1px solid;
  height: 204px;
  width: 368px;
  margin: 0 auto;
  margin-bottom: 25px;
  margin-left: 291px;
}
.index-logo img{
  width: 368px;
  height: 204px;
}
.features {
  outline: 1px solid;
  margin-bottom: 80px;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.features-item {
  outline: 1px solid;
  float: left;
  width: 300px;
  min-height: 175px;
  margin-right: 20px;
  text-align: center;
}
.features-item:nth-child(2) p{
  letter-spacing: 0.02px;
  margin-right: 2px;
}
.features-item:nth-child(3n) {
  margin-right: 0;
}
.features-item p {
  margin: 10px 5px;
  margin-bottom: 0;
  letter-spacing: 0.15px;
}
.features-name {
  position: relative;
  display: block;
  font-size: 30px;
  line-height: 42px;
  margin-bottom: 30px;
  padding-bottom: 38px;
  margin-top: -4px;
  font-weight: 400;
}
.features-name::after {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 50%;
  display: block;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  background-color: #ffffff;
  transform: rotate(45deg);
}
.index-content {
	width: 780px;
  outline: 1px solid;
  padding: 50px 80px;
  color: #000000;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 33px;
  background:
    url("../img/Layer 17 copy.png") no-repeat center,
    #f8f5f2 url("../img/Layer 10 copy.jpg") no-repeat center;
}
.news-preview {
  margin: 0;
  padding: 0;
  padding-right: 70px;
  list-style: none;
}
.news-preview li {
  margin-bottom: 25px;
}
.news-preview li:last-child {
  margin-bottom: 24px;
}
.news-preview time {
  text-transform: none;
  font-weight: 400;
}
.btn {
  display: inline-block;
  margin-right: 16px;
  padding: 10px 33px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow bold", "Arial", sans-serif;
  vertical-align: top;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  border: 0;
  outline: 0;
  cursor: pointer;
  text-decoration: none;
}
.price-label {
  background: #e5e5e5 none repeat scroll 0 0;
  display: inline-block;
  padding: 10px 20px;
}
.buy {
  background: black none repeat scroll 0 0;
  color: white;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
}
button {
  text-transform: uppercase;
}
.btn:hover, .btn:active {
  background-color: #663d15;
}
.btn.disabled {
  cursor: default;
  opacity: 0.5;
}
.btn.disabled:hover {
  background-color: #000000;
}
.gallery {
  position: relative;
  height: 260px;
  margin-top: 31px;
}
.gallery-content {
  height: 164px;
  margin: 0;
  background: #cccccc;
  border: 7px solid #ffffff;
}
.gallery-content img {
  width: 286px;
  height: 164px;
}
.gallery .btn {
  position: absolute;
  bottom: 2px;
  width: 140px;
  margin: 0;
}
.gallery-prev {
  padding-left: 37px;
  padding-top: 9px;
  padding-bottom: 11px;
}
.gallery-next {
  right: 0;
  padding-left: 37px;
  padding-top: 9px;
  padding-bottom: 11px;
}
.appointment-form input {
  float: left;
  width: 106px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 7px 15px;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow bold", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  background-color: #f9f6f3;
  border: 2px solid #000000;
  outline: none;
}
.appointment-form input:focus {
  border: 2px solid #663d15;
}
.appointment-form input:nth-child(2n) {
  margin-right: 0;
}
.appointment-form .btn {
  clear: both;
  margin-top: 15px;
  padding-left: 115px;
  padding-right: 124px;
  padding-top: 8px;
}
.index-content-left {
  outline: 1px solid;
  float: left;
  width: 380px;
  min-height: 330px;
}
.index-content-left p {
  letter-spacing: 0;
}
.index-content p {
  margin-bottom: 23px;
  letter-spacing: 0.14px;
}
.news-preview p {
  margin-bottom: 0;
  letter-spacing: 0.14px;
}
.index-content-left .work-time {
  margin-bottom: 48px;
}
.index-content-left .btn {
  padding-right: 29px;
  padding-top: 9px;
}
.index-content-left .news {
  margin-top: 6px;
  padding-right: 33px;
  padding-left: 35px;
  padding-top: 9px;
}
.index-content-left .back-connect {
  padding-right: 22px;
  margin-left: 1px;
  padding-left: 27px;
}
.index-content-right {
  outline: 1px solid;
  float: right;
  width: 300px;
  min-height: 330px;
}
.index-content-right p {
  margin-bottom: 30px;
  margin-left: 2px;
  letter-spacing: 0.1px;
  word-spacing: -0.5px;
}
.index-content-right h2 {
  letter-spacing: 0.5px;
  margin-left: 2px;
}
.index-content-title {
  margin: 0;
  margin-bottom: 23px;
  font-size: 30px;
  line-height: 42px;
  margin-top: -6px;
}
.main-footer {
  outline: 1px solid;
  padding-top: 63px;
  padding-bottom: 40px;
  color: #ffffff;
  background: #252525 url("../img/Layer 23.jpg");
}
.footer-contacts {
  outline: 1px solid;
  float: left;
  width: 320px;
  min-height: 88px;
  margin-right: 60px;
}
.footer-contacts a {
  color: #ffffff;
}
.footer-contacts p {
  margin: 0;
  margin-top: -7px;
  letter-spacing: 0.1px;
}
.footer-contacts a:hover {
  text-decoration: none;
}
.footer-social {
  outline: 1px solid;
  float: left;
  width: 180px;
  min-height: 88px;
  text-align: center;
}
.footer-social p {
  margin: 0;
  margin-bottom: 16px;
  margin-top: -7px;
}
.social-btn {
  display: inline-block;
  width: 43px;
  height: 43px;
  margin: 0 2px;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
  background: #000000 url("../img/sprite_social.png");
}
.social-btn:hover {
  background-color: #ffffff;
}
.social-btn-vk {
  background-position: 11px -14px;
  margin-left: 3px;
}
.social-btn-vk:hover {
  background-position: 41px -14px;;
}
.social-btn-fb {
  background-position: 0px 61px;
}
.social-btn-fb:hover {
  background-position: 36px 140px;
}
.social-btn-inst {
  background-position: 1px 139px;
}
.social-btn-inst:hover {
  background-position: 33px 62px;
}
.footer-copyright {
  outline: 1px solid;
  float: right;
  max-width: 180px;
  min-height: 88px;
}
.footer-copyright p {
  margin: 0;
  margin-bottom: 15px;
  text-align: center;
  margin-top: -7px;
  margin-left: -1px;
  letter-spacing: 0.35px;
}
.footer-copyright .btn {
  margin-right: 0;
  padding-left: 22px;
  padding-right: 19px;
  margin-top: 0px;
  padding-top: 9px;
  letter-spacing: 0.2px;
}
.footer-copyright .btn:hover {
  color: #000000;
  background-color: #ffffff;
}
.top-column {
  outline: 1px solid;
  margin-bottom: 60px;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.price .top-column {
  margin-bottom: 13px;
}
.left-column {
  float: left;
  outline: 1px solid;
  width: 460px;
}
.left-column p {
  padding-right: 72px;
  letter-spacing: -0.1px;
}
.left-column li {
  margin-bottom: 13px;
}
.left-column li:last-child {
  margin-bottom: 59px;
}
.left-column li::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  background: black;
  transform: rotate(45deg);
  margin-right: 11px;
  border: 1px solid #61605f;
}
.left-column ul {
  padding-left: 2px;
  list-style: none;
}
.left-column-shop {
  width: 220px;
  min-height: 506px;
}
.left-column-item {
  font-size: 0;
  margin-bottom: 49px;
}
.right-column {
  position: relative;
  float: right;
  outline: 1px solid;
  width: 400px;
  min-height: 519px;
}
.right-column ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.right-column li::before {
  background: black none repeat scroll 0 0;
  border: 1px solid #61605f;
  content: "";
  display: inline-block;
  height: 6px;
  margin-right: 11px;
  transform: rotate(45deg);
  width: 6px;
}
.article {
  position: absolute;
  right: 0;
}
.right-column b {
  font-weight: 400;
}
table {
  width: 100%;
  border-collapse: collapse;
}
td {
  border: 2px solid;
  width: 50%;
  height: 37px;
}
.wrap {
  width: 220px;
  min-height: 286px;
  outline: 1px solid;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
.wrap div {
  padding-right: 56px;
}
.wrap a {
  color: #000;
  text-decoration: none;
}
.wrap>a {
  display: inline-block;
  color: white;
  background: black;
  padding: 10px 20px;
  padding-right: 17px;
}
.wrap .cost {
  display: inline-block;
  background: #e5e5e5;
  margin-left: 15px;
  margin-top: 9px;
  padding-left: 29px;
  padding-right: 23px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-right: -1px;
}
.wrap>span {
  display: inline-block;
  background: #e5e5e5;
  margin-left: 15px;
  margin-top: 9px;
  padding-left: 34px;
  padding-right: 27px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-right: -1px;
}
.wrap span:nth-child(3) {
  text-transform: none;
}
.first-raw .wrap:nth-child(3n) {
  margin-right: 0;
}
.second-raw {
  margin-bottom: 45px;
}
.second-raw .wrap:nth-child(3n) {
  margin-right: 0;
}
.right-column-price {
  width: 460px;
}
.right-column-price p {
  padding-right: 80px;
  margin-top: 120px;
  letter-spacing: 0.15px;
  margin-bottom: 76px;
}
.right-column-shop {
  width: 700px;
  margin-top: -5px;
}
.paggination {
  margin-bottom: 43px;
}
.paggination span {
  display: inline-block;
  padding: 10px 20px;
}
.paggination a {
  outline: 1px solid;
  display: inline-block;
  vertical-align: top;
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}
.view {
  margin-bottom: 21px;
}
.preview {
  margin-right: 20px;
}
.preview:nth-child(5) {
  margin-right: 0;
}
input[type="submit"] {
  height: 43px;
  width: 112px;
}
figure {
  margin: 0;
}
.index-footer {
  margin-top: 65px;
}
.index-footer {
  padding-top: 62px;
}
h2 {
  font-size: 30px;
  letter-spacing: 0.3px;
  font-weight: 400;
}
.shop h2 {
  letter-spacing: normal;
}
.price h2 {
  margin-top: 61px;
  margin-bottom: 22px;
}
.main-navigation .main {
  width: 111px;
  padding: 0;
}
h1 {
  font-size: 48px;
  display: inline-block;
  margin-left: 186px;
}
.item h1 {
  margin-left: 0;
  font-weight: 400;
}
.shop h1 {
  margin-left:0;
}
.price h1::before {
  width: 160px;
  height: 2px;
  background: black;
  content: "";
  position: absolute;
  left: 0;
  top: 141px;
}
.price h1::after {
  width: 160px;
  height: 2px;
  background: black;
  content: "";
  position: absolute;
  right: 0;
  top: 141px;
}
h3 {
  font-size: 24px;
  font-weight: 400;
}
.price h3 {
  padding-right: 158px;
  line-height: 28px;
  margin-bottom: 30px;
  margin-top: 23px;
}
.price .master-price {
  margin-bottom: 37px;
  padding-right: 232px;
}
td:nth-child(odd) {
  padding-left: 17px;
}
td:nth-child(even) {
  text-align: center;
  padding-left: 6px;
}
legend {
  font-size: 24px;
  margin-bottom: 5px;
  margin-left: -2px;
}
fieldset {
  padding: 0px;
  margin-top: -9px;
  border: none;
}
.goods-groups {
  margin-bottom: 41px;
}
label:hover {
  color: #663d15;
}
.product-filter span {
  margin-left: 41px;
  position: relative;
  top: -19px;
}
.product-filter>input {
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
  padding-left: 10px;
  letter-spacing: -0.4px;
}
.price h1 {
  margin-left: 184px;
  margin-top: 59px;
  font-weight: 400;
  letter-spacing: 0.3px;
}
input[type=checkbox] {
  margin-right: 28px;
  margin-bottom: 20px;
}
.groups {
  margin-top: 42px;
  margin-left: -1px;
}
input[type=radio] {
  margin-right: 28px;
  margin-bottom: 17px;
}
.goods-href span {
  line-height: 18px;
  display: inline-block;
  padding-left: 15px;
  padding-top: 7px;
}
.gel{
  padding-right: 10px;
}
