body {
  margin: 1px;
  font-family: "PT Sans Narrow bold", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  min-width: 960px;
  text-transform: uppercase;
  background: #070707 url("../img/tint.png") no-repeat center top;
}
.price {
  background: #f8f5f2 url("../img/Layer 24 copy.png");
  color: black;
  font-weight: 400;
}
.shop {
  background: #f8f5f2 url("../img/Layer 24 copy.png");
  color: black;
}
.item {
  background: #f8f5f2 url("../img/Layer 24 copy.png");
  color: black;
  font-weight: 400;
}
@font-face {
  src: url(../fonts/ptsansnarrow.woff);
  src: url(../fonts/ptsansnarrow.woff2);
  font-family: "PT Sans Narrow";
}
@font-face {
  src: url(../fonts/ptsansnarrowbold.woff2);
  src: url(../fonts/ptsansnarrowbold.woff);
  font-family: "PT Sans Narrow bold";
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.container {
  outline: 1px solid;
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
  display: block;
}
.main-header {
  margin-bottom: 57px;
  outline: 1px solid;
  background-color: #000000;
  color: #ffffff;
}
.item .main-header {
  margin-bottom: 59px;
}
.index-header {
  margin-bottom: 58px;
}
.price .index-header {
  margin-bottom: 62px;
}
.main-navigation {
  outline: 1px solid;
  float: left;
  width: 780px;
  min-height: 70px;
}
.main-navigation span {
  display: inline-block;
  padding: 24px 20px;
  padding-right: 23px;
  padding-bottom: 29px;
  padding-top: 27px;
}
.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}
.main-navigation li{
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 14px;
}
.main-navigation a {
  display: inline-block;
  padding: 24px 20px;
  padding-right: 23px;
  padding-bottom: 29px;
  padding-top: 27px;
  color: #ffffff;
  text-decoration: none;
}
.main-navigation li:nth-child(2) {
  margin-right: -1px;
}
.main-navigation li:nth-child(6) {
  margin-left: 2px;
}
.main-navigation a:hover {
  background: #242424;
}
.breadcrumbs {
  margin: 0;
  padding: 0;
}
.breadcrumbs li:first-child {
  margin-left: 0;
}
.breadcrumbs li:last-child {
  color: #aba9a7;
  margin-left: 17px;
}
.breadcrumbs-price li:last-child {
  margin-left: 12px;
}
.breadcrumbs li:last-child::after {
  content: "";
  display: none;
}
.breadcrumbs li::after {
  width: 6px;
  border: 1px solid #61605f;
  content: "";
  display: inline-block;
  vertical-align: baseline;
  height: 6px;
  background: black;
  margin-left: 17px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.item .breadcrumbs li::after {
  margin-left: 19px;
}
.item li:first-child::after {
  margin-left: 16px;
}
.item li:nth-child(3)::after {
  margin-left: 22px;
}
.breadcrumbs li {
  display: inline-block;
  vertical-align: top;
  margin-left: 13px;
}
.breadcrumbs a {
  color: #000;
  text-decoration: none;
}
.breadcrumbs a:hover {
  text-decoration: underline;
}
.user-block {
  outline: 1px solid;
  float: right;
  max-width: 140px;
  min-height: 70px;
}
.login {
  position: relative;
  display: inline-block;
  padding: 24px 23px;
  padding-bottom: 27px;
  padding-left: 50px;
  vertical-align: top;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
}
.login:hover {
  background: #242424;
}
.login::before {
  position: absolute;
  top: 28px;
  left: 20px;
  content: "";
  width: 18px;
  height: 18px;
  background: url("../img/.icon-login.png") no-repeat;
  opacity: 0.3;
}
.login:hover::before{
  opacity: 1;
}
.index-logo {
  outline: 1px solid;
  height: 204px;
  width: 368px;
  margin: 0 auto;
  margin-bottom: 25px;
  margin-left: 291px;
}
.index-logo img{
  width: 368px;
  height: 204px;
}
.features {
  outline: 1px solid;
  margin-bottom: 80px;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.features-item {
  outline: 1px solid;
  float: left;
  width: 300px;
  min-height: 175px;
  margin-right: 20px;
  text-align: center;
}
.features-item:nth-child(2) p{
  letter-spacing: 0.02px;
  margin-right: 2px;
}
.features-item:nth-child(3n) {
  margin-right: 0;
}
.features-item p {
  margin: 10px 5px;
  margin-bottom: 0;
  letter-spacing: 0.15px;
}
.features-name {
  position: relative;
  display: block;
  font-size: 30px;
  line-height: 42px;
  margin-bottom: 30px;
  padding-bottom: 38px;
  margin-top: -4px;
  font-weight: 400;
}
.features-name::after {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 50%;
  display: block;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  background-color: #ffffff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.index-content {
	width: 780px;
  outline: 1px solid;
  padding: 50px 80px;
  color: #000000;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 33px;
  background:
    url("../img/Layer 17 copy.png") no-repeat center,
    #f8f5f2 url("../img/Layer 10 copy.jpg") no-repeat center;
}
.news-preview {
  margin: 0;
  padding: 0;
  padding-right: 70px;
  list-style: none;
}
.news-preview li {
  margin-bottom: 25px;
}
.news-preview li:last-child {
  margin-bottom: 24px;
}
.news-preview time {
  text-transform: none;
  font-weight: 400;
}
.btn {
  display: inline-block;
  margin-right: 16px;
  padding: 10px 33px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow bold", "Arial", sans-serif;
  vertical-align: top;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  border: 0;
  outline: 0;
  cursor: pointer;
  text-decoration: none;
}
.price-label {
  display: inline-block;
  vertical-align: top;
  background: #E5E5E5 none repeat scroll 0% 0%;
  margin-left: 15px;
  padding: 10px 23px 10px 29px;
  margin-left: 10px;
  margin-right: -1px;
}
.buy {
  display: inline-block;
  vertical-align: top;
  color: #FFF;
  background: #000 none repeat scroll 0% 0%;
  padding: 9px 17px 10px 20px;
  text-decoration: none;
  margin-bottom: 39px;
}
.buy:hover, .buy:active {
  background-color: #663d15;
}
button {
  text-transform: uppercase;
}
.btn:hover, .btn:active {
  background-color: #663d15;
}
.btn.disabled {
  cursor: default;
  opacity: 0.5;
}
.btn.disabled:hover {
  background-color: #000000;
}
.gallery {
  position: relative;
  height: 260px;
  margin-top: 31px;
}
.gallery-content {
  height: 164px;
  margin: 0;
  background: #cccccc;
  border: 7px solid #ffffff;
}
.gallery-content img {
  width: 286px;
  height: 164px;
}
.gallery .btn {
  position: absolute;
  bottom: 2px;
  width: 140px;
  margin: 0;
}
.gallery-prev {
  padding-left: 37px;
  padding-top: 9px;
  padding-bottom: 11px;
}
.gallery-next {
  right: 0;
  padding-left: 37px;
  padding-top: 9px;
  padding-bottom: 11px;
}
.appointment-form input {
  float: left;
  width: 106px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 7px 15px;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow bold", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  background-color: #f9f6f3;
  border: 2px solid #000000;
  outline: none;
}
.appointment-form input:focus {
  border: 2px solid #663d15;
}
.appointment-form input:nth-child(2n) {
  margin-right: 0;
}
.appointment-form .btn {
  clear: both;
  margin-top: 15px;
  padding-left: 115px;
  padding-right: 124px;
  padding-top: 8px;
}
.index-content-left {
  outline: 1px solid;
  float: left;
  width: 380px;
  min-height: 330px;
}
.index-content-left p {
  letter-spacing: 0;
}
.index-content p {
  margin-bottom: 23px;
  letter-spacing: 0.14px;
}
.news-preview p {
  margin-bottom: 0;
  letter-spacing: 0.14px;
}
.index-content-left .work-time {
  margin-bottom: 48px;
}
.index-content-left .btn {
  padding-right: 29px;
  padding-top: 9px;
}
.index-content-left .news {
  margin-top: 6px;
  padding-right: 33px;
  padding-left: 35px;
  padding-top: 9px;
}
.index-content-left .back-connect {
  padding-right: 22px;
  margin-left: 1px;
  padding-left: 27px;
}
.index-content-right {
  outline: 1px solid;
  float: right;
  width: 300px;
  min-height: 330px;
}
.index-content-right p {
  margin-bottom: 30px;
  margin-left: 2px;
  letter-spacing: 0.1px;
  word-spacing: -0.5px;
}
.index-content-right h2 {
  letter-spacing: 0.5px;
  margin-left: 2px;
}
.index-content-title {
  margin: 0;
  margin-bottom: 23px;
  font-size: 30px;
  line-height: 42px;
  margin-top: -6px;
}
.main-footer {
  outline: 1px solid;
  padding-top: 63px;
  padding-bottom: 40px;
  color: #ffffff;
  background: url("../img/Layer 37.png") repeat-x, #252525 url("../img/Layer 23.jpg");
}
.footer-contacts {
  outline: 1px solid;
  float: left;
  width: 320px;
  min-height: 88px;
  margin-right: 60px;
}
.footer-contacts a {
  color: #ffffff;
}
.footer-contacts p {
  margin: 0;
  margin-top: -7px;
  letter-spacing: 0.1px;
}
.footer-contacts a:hover {
  text-decoration: none;
}
.footer-social {
  outline: 1px solid;
  float: left;
  width: 180px;
  min-height: 88px;
  text-align: center;
}
.footer-social p {
  margin: 0;
  margin-bottom: 16px;
  margin-top: -7px;
}
.social-btn {
  display: inline-block;
  width: 43px;
  height: 43px;
  margin: 0 2px;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
  background: #000000 url("../img/sprite_social.png");
}
.social-btn:hover {
  background-color: #ffffff;
}
.social-btn-vk {
  background-position: 11px -14px;
  margin-left: 3px;
}
.social-btn-vk:hover {
  background-position: 41px -14px;;
}
.social-btn-fb {
  background-position: 0px 61px;
}
.social-btn-fb:hover {
  background-position: 36px 140px;
}
.social-btn-inst {
  background-position: 1px 139px;
}
.social-btn-inst:hover {
  background-position: 33px 62px;
}
.footer-copyright {
  outline: 1px solid;
  float: right;
  max-width: 180px;
  min-height: 88px;
}
.footer-copyright p {
  margin: 0;
  margin-bottom: 15px;
  text-align: center;
  margin-top: -7px;
  margin-left: -1px;
  letter-spacing: 0.35px;
}
.footer-copyright .btn {
  margin-right: 0;
  padding-left: 22px;
  padding-right: 19px;
  margin-top: 0px;
  padding-top: 9px;
  letter-spacing: 0.2px;
}
.footer-copyright .btn:hover {
  color: #000000;
  background-color: #ffffff;
}
.top-column {
  outline: 1px solid;
  margin-bottom: 61px;
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.item .top-column {
  margin-bottom: 54px;
}
.price .top-column {
  margin-bottom: 13px;
}
.left-column {
  float: left;
  outline: 1px solid;
  width: 460px;
}
.left-column p {
  padding-right: 72px;
  letter-spacing: -0.1px;
}
.left-column li {
  margin-bottom: 13px;
}
.left-column li:last-child {
  margin-bottom: 59px;
}
.left-column li::before {
  content: "";
  display: inline-block;
  vertical-align: baseline;
  width: 6px;
  height: 6px;
  background: black;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-right: 11px;
  border: 1px solid #61605f;
}
.left-column ul {
  padding-left: 2px;
  list-style: none;
}
.left-column-shop {
  width: 220px;
  min-height: 506px;
}
.left-column-item {
  font-size: 0;
  margin-bottom: 35px;
}
.right-column {
  float: right;
  outline: 1px solid;
  width: 400px;
  min-height: 519px;
  padding-top: 17px;
}
.right-column ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 12px;
}
.right-column li::before {
  background: black none repeat scroll 0 0;
  border: 1px solid #61605f;
  content: "";
  display: inline-block;
  vertical-align: baseline;
  height: 6px;
  margin-right: 11px;
  transform: rotate(45deg);
  width: 6px;
}
.article {
  margin-left: 173px;
  color: #aeaeae;
}
.right-column b {
  font-weight: 400;
  margin-left: 10px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
td {
  border: 2px solid;
  width: 50%;
  height: 37px;
}
.wrap {
  width: 220px;
  min-height: 286px;
  outline: 1px solid;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 15px 0 rgba(0, 1, 1, 0.2);
}
.goods-card {
  padding-right: 56px;
}
.wrap a {
  color: #000;
  text-decoration: none;
}
.wrap>a {
  display: inline-block;
  vertical-align: baseline;;
  color: white;
  background: black;
  padding: 10px 20px;
  padding-right: 17px;
}
.wrap>a:hover, .wrap>a:active {
  background-color: #663d15;
}
.wrap .cost {
  display: inline-block;
  vertical-align: baseline;;
  background: #e5e5e5;
  margin-left: 15px;
  margin-top: 12px;
  padding-left: 29px;
  padding-right: 23px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-right: -1px;
}
.wrap>span {
  display: inline-block;
  vertical-align: baseline;;
  background: #e5e5e5;
  margin-left: 15px;
  margin-top: 12px;
  padding-left: 34px;
  padding-right: 27px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-right: -1px;
}
.wrap span:nth-child(3) {
  text-transform: none;
}
.first-raw .wrap:nth-child(3n) {
  margin-right: 0;
}
.second-raw {
  margin-bottom: 27px;
}
.second-raw .wrap:nth-child(3n) {
  margin-right: 0;
}
.right-column-price {
  width: 460px;
}
.right-column-price p {
  padding-right: 80px;
  margin-top: 120px;
  letter-spacing: 0.15px;
  margin-bottom: 76px;
}
.right-column-shop {
  width: 700px;
  margin-top: -22px;
}
.paggination {
  margin-bottom: 47px;
}
.paggination span {
  display: inline-block;
  vertical-align: top;
  padding: 10px 17px;
  margin-top: -4px;
  background-color: #ffffff;
  margin-right: 5px;
}
.paggination a {
  outline: 1px solid;
  display: inline-block;
  vertical-align: top;
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  margin-top: -4px;
}
.paggination a:hover, .paggination a:active {
  background-color: #663d15;
}
.paggination a:first-child {
  padding-right: 18px;
  padding-left: 18px;
  margin-right: 5px;
}
.paggination a:nth-child(3) {
  padding-right: 17px;
  margin-right: 4px;
}
.paggination a:last-child {
  padding-right: 18px;
  padding-left: 18px;
}
.view {
  margin-bottom: 9px;
  box-shadow: 0px 0px 15px rgba(0, 1, 1, 0.2);
}
.preview {
  margin-right: 20px;
  box-shadow: 0px 0px 15px rgba(0, 1, 1, 0.2);
}
.preview:nth-child(5) {
  margin-right: 0;
}
input[type="submit"] {
  height: 43px;
  width: 112px;
}
figure {
  margin: 0;
}
.index-footer {
  margin-top: 65px;
  padding-top: 62px;
    background: #252525 url("../img/Layer 23.jpg");
}
h2 {
  font-size: 30px;
  letter-spacing: 0.3px;
  font-weight: 400;
}
.shop h2 {
  letter-spacing: normal;
}
.item h2 {
  letter-spacing: -0.05px;
}
.big-heading {
  margin-top: 61px;
  margin-bottom: 35px;
  margin-top: 59px;
  font-weight: 400;
  letter-spacing: 0.3px;
  text-align: center;
}
.big-heading::after {
  border-bottom: 2px solid #000000;
  content: "";
  position: relative;
  display: block;
  left: 0;
  top: -25px;
  z-index: 1;
}
.price h2 {
  display: inline;
  font-size: 48px;
  z-index: 2;
  position: relative;
  background: #f8f5f2 url("../img/Layer 24 copy.png");
  padding: 0 25px;
}
.main-navigation .main {
  width: 111px;
  padding: 0;
  float: left;
  height: 71px;
}
.main-navigation .main:hover {
  background: none;
}
.item h1 {
  margin-left: 0;
  font-weight: 400;
  font-size: 30px;
}
.shop h1 {
  margin-left:0;
  margin-bottom: 24px;
  font-size: 30px;
  font-weight: 400;
}
.price h1 {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.3px;
}
h3 {
  font-size: 24px;
  font-weight: 400;
}
.item h3 {
  margin-left: 10px;
  margin-bottom: 32px;
}
.price h3 {
  padding-right: 158px;
  line-height: 28px;
  margin-bottom: 30px;
  margin-top: 23px;
}
.price .master-price {
  margin-bottom: 37px;
  padding-right: 232px;
  margin-top: 6px;
}
.price .container {
  margin-bottom: -2px;
}
.price .breadcrumbs {
  margin-top: 24px;
}
td:nth-child(odd) {
  padding-left: 17px;
}
td:nth-child(even) {
  text-align: center;
  padding-left: 6px;
}
legend {
  font-size: 24px;
  margin-bottom: 29px;
  margin-left: -2px;
}
fieldset {
  padding: 0px;
  margin-top: -9px;
  border: none;
}
.goods-groups {
  margin-bottom: 34px;
  margin-top: 33px;
}
label:hover {
  color: #663d15;
}
.product-filter span {
  margin-left: 41px;
  position: relative;
  top: -15px;
}
.product-filter>input {
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
  padding-left: 10px;
  letter-spacing: -0.4px;
}
.product-filter>input:hover, .product-filter>input:active {
  background-color: #663d15;
  cursor: pointer;
}
input[type=checkbox] {
  margin-right: 28px;
  margin-bottom: 20px;
}
.groups {
  margin-left: -1px;
  margin-bottom: 31px;
}
input[type=radio] {
  margin-right: 28px;
  margin-bottom: 17px;
}
.product-filter input[type="submit"] {
  display: block;
}
.goods-groups label {
  position: relative;
  display: block;
  margin-left: 40px;
  line-height: 18px;
  top: 2px;
  margin-bottom: 20px;
}
.brands {
  position: relative;
}
.brands label:nth-child(3) {
  color: #ABA9A7;
}
.brands label {
  margin-left: 41px;
  margin-bottom: 13.5px;
  display: block;
  position: relative;
}
.brands label:last-child {
  margin-bottom: 13px;
}
.brands label:nth-child(4) {
  margin-right: 52px;
}
.product-filter input {
  display: none;
}
.product-filter input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: 1px;
  left: -84px;
  width: 15px;
  height: 16px;
  border: 2px solid #000000;
}
.product-filter input:disabled + .checkbox-indicator {
  position: absolute;
  top: 39px;
  left: -43px;
  width: 15px;
  height: 16px;
  border: 2px solid #ABA9A7;
}
.product-filter input:disabled + span + label {
  color: #ABA9A7;
}
.product-filter input:disabled + label::before {
  border: 2px solid #ABA9A7;
}
.product-filter input:disabled + label {
  color: #ABA9A7;
}
.product-filter input[type="checkbox"]:checked + .checkbox-indicator::before,
.product-filter input[type="checkbox"]:checked + .checkbox-indicator::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 0px;
  width: 15px;
  height: 2px;
  background: #000000;
}
.product-filter input[type="checkbox"]:checked + .checkbox-indicator::before {
  transform: rotate(45deg);
}
.product-filter input[type="checkbox"]:checked + .checkbox-indicator::after {
  transform: rotate(-45deg);
}
.goods-groups .first-good {
  margin-bottom: 14px;
}
.goods-groups label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid black;
  position: absolute;
  left: -43px;
  border-radius: 50%;
  top: -2px;
}
.product-filter input[type="radio"]:checked + .radio-indicator::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  position: absolute;
  left: -37px;
  border-radius: 50%;
  top: 4px;
  background-color: black;
}
.goods-href span {
  line-height: 18px;
  display: inline-block;
  vertical-align: top;
  padding-left: 15px;
  padding-top: 7px;
}
.gel{
  padding-right: 10px;
}
.wrap:last-child .goods-card {
  padding-right: 65px;
}
.good-description {
  margin-top: 29px;
  margin-left: 11px;
  margin-bottom: 35px;
}
.active::after {
  position: absolute;
  content: "";
  bottom: -1px;
  height: 5px;
  background: #ffffff;
  right: 20px;
  left: 20px;
}
.active {
  position: relative;
}
.active a:hover {
  background: none;
}
.modal-content {
  width: 300px;
  padding: 50px 80px;
  color: #000000;
  background: #f8f5f2 url("../img/Layer 24 copy.png");
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  margin-left: -230px;
  position: fixed;
  top: 121px;
  left: 50%;
  display: none;
  z-index: 20;
}
.modal-content-close {
  position: absolute;
  top: 0;
  right: -34px;
  width: 22px;
  height: 22px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}
.modal-content-close::before, .modal-content-close::after {
  content: "";
  position: absolute;
  top: 17px;
  left: -1px;
  width: 25px;
  height: 4px;
  background-color: #cfcfcf;
  border-radius: 1px;
}
.modal-content-close::before {
  transform: rotate(45deg);
}
.modal-content-close::after {
  transform: rotate(-45deg);
}
.modal-content h2 {
  margin: 0;
  margin-bottom: 16px;
  font-size: 30px;
  line-height: 42px;
  margin-top: -5px;
}
.modal-content p {
  margin: 0;
  margin-bottom: -20px;
  letter-spacing: 0.05px;
  margin-left: 2px;
}
.modal-content .login-form {
  margin-top: 30px;
  margin-bottom: 7px;
}
.login-form input[type="text"],.login-form input[type="password"] {
  width: 236px;
  margin: 0;
  margin-bottom: 10px;
  padding: 7px 20px;
  padding-right: 45px;
  padding-left: 15px;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow bold", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  background-color: #f9f6f3;
  border: 2px solid #000000;
  outline: none;
}
.login-form input:nth-child(2) {
  margin-bottom: 15px;
}
.login-form input:focus {
  border-color: #663d15;
}
.login-form input.icon-user {
  background-image: url("../img/User copy 2.png");
  background-repeat: no-repeat;
  background-position: 268px 14px;
}
.login-form input.icon-password {
  background-image: url("../img/User copy 2.png");
  background-repeat: no-repeat;
  background-position: 268px -473px;
}
.restore {
  float: right;
  color: #000000;
}
.login-form .btn {
  width: 100%;
  margin-top: 14px;
  padding-left: 26px;
}
.login-checkbox {
  position: relative;
  padding-left: 32px;
  cursor: pointer;
}
.login-checkbox:hover {
  color: #663e15;
}
.login-checkbox input[type="checkbox"] {
  display: none;
}
.login-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: -3px;
  left: 0;
  width: 17px;
  height: 17px;
  border: 2px solid #000000;
}
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
content: "";
position: absolute;
top: 8px;
left: 1px;
width: 15px;
height: 2px;
background: #000000;
}
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
  transform: rotate(45deg);
}
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  transform: rotate(-45deg);
}
.modal-content-map {
  width: 766px;
  height: 561px;
  background: #e9e5dc url("../img/Слой 2.jpg");
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -280px;
  margin-left: -390px;
  border: 7px solid white;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  z-index: 20;
  position: fixed;
  display: none;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}
::-webkit-input-placeholder {
  opacity: 1;
}
::-moz-placeholder {
  opacity: 1;
}
