body {
  margin: 1px;
  font: Roboto;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.container {
  outline: 1px solid;
  width: 880px;
  padding: 0 10px;
  margin: 0 auto;
}
.container img {
  outline: 1px solid;
  font-size: 14px;
}
.main-header {
  outline: 1px solid;
}
nav {
  float: right;
  outline: 1px solid;
  width: 560px;
}
.top-column {
		outline: 1px solid;
    min-height: 245px;
    margin-bottom: 82px;
    padding-top: 74px;
}
.left-column {
		outline: 1px solid;
		float: left;
		min-height: 694px;
    width: 240px;
}
.right-column {
		outline: 1px solid;
		float:right;
		width: 560px;
    min-height: 1094px;
}
.left-layout {
  width: 240px;
  outline: 1px solid;
  float: left;
}
.right-layout {
  width: 240px;
  outline: 1px solid;
  float: right;
}
.paggination {
  float: left;
  margin-bottom: 79px;
}
.layouts {
  min-height: 700px;
}
.layout {
  outline: 1px solid;
  height: 270px;
  margin-bottom: 80px;
}
.slider {
  outline: 1px solid;
  padding-top: 53px;
  padding-bottom: 69px;
  margin-bottom: 80px;
}
.slider-header {
  float: left;
  outline: 1px solid;
  width: 380px;
}
.slider-image {
  float: right;
  outline: 1px solid;
  width: 480px;
}
.slider-image img {
  float: right;
}
.tumbler {
  outline: 1px solid;
  width: 60px;
  float: left;
}
.tumbler input {
  margin: 0;
}
.promo-blocks {
  outline: 1px solid;
  padding-bottom: 80px;
  margin-bottom: 59px;
}
.promo-left {
  float: left;
  outline: 1px solid;
  width: 240px;
  margin-right: 80px;
}
.promo-center {
  float: left;
  outline: 1px solid;
  width: 240px;
}
.promo-right {
  float: right;
  outline: 1px solid;
  width: 240px
}
.features {
  outline: 1px solid;
  margin-bottom: 72px;
}
.main-promo-left {
  float: left;
  outline: 1px solid;
  width: 621px;
}
.main-promo-right {
  float: right;
  outline: 1px solid;
  width: 240px;
}
.logos {
  outline: 1px solid;
  height: 166px;
}
.logos a {
  font-size: 0;
  margin-right: 113px;
}
.logos a img {
  font-size: 16px;
}
.logos a img:first-child {
  margin-left: 12px;
}
.main-footer {
  outline: 1px solid;
}
.map {
  padding-top: 89px;
  padding-bottom: 87px;
  outline: 1px solid;
  width: 880px;
}
.contacts {
  width: 250px;
  min-height: 240px;
  outline: 1px solid;
}
.marker {
  display: inline-block;
	width: 20px;
  height: 20px;
  outline: 1px solid;
}
.marker:hover {
  cursor: pointer;
}
.range {
  height: 81px;
  outline: 1px solid;
}
.range-input {
  width: 80px;
  height: 38px;
}
fieldset {
  padding: 0;
}
.left-footer {
  float: left;
  outline: 1px solid;
  width: 240px;
}
.right-footer {
  float: right;
  outline: 1px solid;
  width: 550px;
}
.main-footer {
  min-height: 215px;
}
