body {
  margin: 1px;
  font-family: "Roboto Medium", "Arial", sans-serif;
}
@font-face {
  src: url(../fonts/roboto.woff2);
  src: url(../fonts/roboto.woff);
  font-family: "Roboto";
}
@font-face {
  src: url(../fonts/robotomedium.woff2);
  src: url(../fonts/robotomedium.woff);
  font-family: "Roboto Medium";
}
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "symbols-nerds";
  src: url("../fonts/symbols-nerds.woff2") format("woff2");
  src: url("../fonts/symbols-nerds.woff") format("woff");
}
[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;
  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-nerds";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;
  speak: none;
}
.icon-basket::before { content: "\62"; } /* "b" */
.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-vk::before { content: "\76"; } /* "v" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-circle::before { content: "\25cb"; color: #c1c1c1; font-size: 28px;}
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-instagramm::before { content: "📷"; } /* "\1f4f7" */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.container {
  outline: 1px solid;
  width: 880px;
  padding: 0 10px;
  margin: 0 auto;
  display: block;
}
.layout-picture {
  outline: 1px solid;
  font-size: 14px;
  padding-top: 30px;
}
.container>a {
  display: inline-block;
  vertical-align: top;
  height: 56px;
  width: 139px;
}
.main-header {
  outline: 1px solid;
  padding-top: 27px;
  background: #eeeeee;
}
.second-header {
  background: #eeeeee;
}
nav {
  float: right;
  outline: 1px solid;
  width: 560px;
}
.main-menu {
  padding: 0;
  padding-top: 13px;
  padding-left: 3px;
  position: relative;
}
.main-menu li {
  display: inline-block;
  vertical-align: top;
  margin-right: 40px;
}
.main-menu li:nth-child(3) {
  margin-right: 41px;
}
.main-menu a:hover {
  color: #fb565a;
}
.main-menu a:active {
  color: #8f8f8f;
}
.main-menu li:last-child {
  margin-right: 0px;
  position: absolute;
  right: 0;
  top: 13px;
}
.menu-element {
  font-size: 14px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}
.header-btn {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background: #fb565a;
  padding: 11px 71px;
  font-size: 12px;
  border-radius: 2px;
}
.top-column {
		outline: 1px solid;
    min-height: 234px;
    margin-bottom: 78px;
    margin-left: auto;
    margin-right: auto;
    background: #eeeeee;
}
.top-column h1 {
  margin: 0;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  padding: 0 27px;
  padding-top: 54px;
  padding-left: 17px;
}
.left-column {
		outline: 1px solid;
		float: left;
		min-height: 728px;
    width: 244px;
}
legend {
  margin-bottom: 17px;
  font-size: 18px;
  margin-left: -3px;
  text-transform: uppercase;
}
.right-column {
		outline: 1px solid;
		float:right;
		width: 560px;
    min-height: 1094px;
}
.sort {
  position: relative;
  margin-bottom: 21px;
}
.sort li {
  display: inline-block;
  vertical-align: top;
  margin-right: 40px;
}
.sort ul {
  margin: 0;
  display: inline-block;
  padding-left: 38px;
}
.sort b {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 12px;
  margin-left: -2px;
  position: relative;
  top: -1px;
}
.sort button {
  border: none;
  padding: 0;
  background: none;
  font-size: 12px;
  text-transform: uppercase;
  border-bottom: 1px dotted #00ca74;
  color: #b7b7b7;
}
.sort button:hover {
  border-bottom: 1px solid #00ca74;
}
.left-layout {
  width: 240px;
  outline: 1px solid;
  float: left;
}
.right-layout {
  width: 240px;
  outline: 1px solid;
  float: left;
  margin-left: 80px;
}
.paggination {
  float: left;
  margin-bottom: 2px;
  margin-top: 7px;
}
.paggination a {
  background: #f1f1f1 none repeat scroll 0 0;
  border-radius: 4px;
  color: #000000;
  font-size: 12px;
  margin-right: 7px;
  padding: 11px 15px;
  text-decoration: none;
  text-transform: uppercase;
}
.paggination a:hover {
  background: #e5e5e5;
}
.paggination a:active {
  background: #d5d5d5;
  box-shadow: 0 3px 0 0 #b5b5b5 inset;
}
.paggination a:last-child {
  padding: 11px 30px;
}
.paggination span {
  border: 2px solid #f1f1f1;
  border-radius: 4px;
  font-size: 12px;
  margin-left: 1px;
  margin-right: 8px;
  padding: 9px 13px;
}
.layouts {
  min-height: 700px;
}
.layout {
  outline: 1px solid;
  height: 270px;
  margin-bottom: 80px;
  position: relative;
  background: url("../img/browser copy.png") no-repeat;
  border-radius: 5px;
}
.layout:hover {
  background: #797979 url("../img/browser copy.png") no-repeat 0px -33px;
}
.content {
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -100px;
  display: none;
  width: 200px;
  height: 200px;
  background: #ffffff;
}
.layout:hover .content{
  display: block;
}
.content h2 {
  margin-top: 32px;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}
.modern-organic-thai h2 {
  font-size: 17.8px;
  margin-left: 0;
}
.avenue {
  margin-bottom: 0;
}
.content p {
  font-size: 14px;
  margin-left: 1px;
  margin-top: 12px;
  text-align: center;
  margin-bottom: 36px;
  color: #283136;
}
.content span {
  background: #fb565a none repeat scroll 0 0;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0.4px;
  margin-left: 30px;
  padding: 8px 33px 9px 36px;
  text-transform: uppercase;
  border-radius: 5px;
}
.content span:hover {
  background: #d6494d;
}
.content span:active {
  background: #b63538;
  box-shadow: inset 0 3px 0 0 #9b2d30;
}
.slider {
  outline: 1px solid;
  padding-top: 46px;
  padding-bottom: 66px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 880px;
  background: #eeeeee;
}
.slider-header {
  float: left;
  outline: 1px solid;
  width: 380px;
  min-height: 231px;
}
.slider-header b {
  font-size: 36px;
  display: block;
  margin-top: 18px;
  line-height: 36px;
  font-weight: 400;
}
.slider-header p {
  margin-top: 19px;
  margin-bottom: 37px;
}
.slider-image {
  float: right;
  outline: 1px solid;
  width: 480px;
  position: relative;
}
.slider-image img {
  position: absolute;
  right: -2px;
  top: -1px;
}
.slider-tumbler {
  margin-left: 5px;
  position: absolute;
  bottom: -209px;
}
.slider-tumbler input {
  margin-right: 2px;
}
.tumbler {
  display: inline-block;
  margin-left: 63px;
  margin-top: -2px;
  position: absolute;
}
.tumbler input {
  margin-right: 3px;
}
.tumbler button {
  width: 9px;
  position: relative;
  border: none;
}
.tumbler button::before {
  font-size: 23px;
  left: -12px;
  position: relative;
}
.icon-up-dir {
  margin-left: 0;
}
.tumbler button:active {
  color:#000000;
}
.tumbler button:focus {
  outline: none;
}
.tumbler button:hover {
  border: none;
}
.icon-down-dir {
  margin-right: 4px;
}
.promo-blocks {
  outline: 1px solid;
  padding-bottom: 27px;
  margin-top: 81px;
  margin-bottom: 55px;
  margin-left: auto;
  margin-right: auto;
  width: 880px;
}
.promo-blocks section {
	margin-right: 80px;
}
.promo-blocks section:nth-child(3n) {
	margin-right:0;
}
.promo-left {
  float: left;
  outline: 1px solid;
  width: 240px;
  margin-right: 80px;
}
.promo-left a {
  background: #fb565a;
}
.promo-left a:hover {
  background: #d6494d;
}
.promo-left a:active {
  background: #b63538;
  box-shadow: inset 0 3px 0 0 #9b2d30;
}
.promo-left p {
  letter-spacing: 0.15px;
}
.promo-blocks h2 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  margin-top: 21px;
  margin-left: -1px;
  margin-bottom: 17px;
}
.promo-blocks p {
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.1px;
  margin-bottom: 27px;
}
.promo-center {
  float: left;
  outline: 1px solid;
  width: 240px;
}
.promo-center a {
  background: #00ca74;
}
.promo-center a:hover {
  background: #01a25e;
}
.promo-center a:active {
  background: #009053;
  box-shadow: inset 0 3px 0 0 #007b47;
}
.promo-center p {
  padding-right: 19px;
  letter-spacing: normal;
}
.promo-right {
  float: left;
  outline: 1px solid;
  width: 240px
}
.promo-right a {
  background: #efc84a;
}
.promo-right a:hover {
  background: #d6ae2c;
}
.promo-right a:active {
  background: #c09b24;
  box-shadow: inset 0 3px 0 0 #a3841f;
}
.promo-right p {
  letter-spacing: normal;
}
.promo-btn {
  display: inline-block;
  vertical-align: top;
  padding: 11px 40px;
  padding-left: 41px;
  padding-right: 39px;
  color: #ffffff;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
}
.features {
  outline: 1px solid;
  margin-bottom: 49px;
  margin-left: auto;
  margin-right: auto;
  width: 880px;
  min-height: 394px;
}
.main-promo-left {
  float: left;
  outline: 1px solid;
  width: 621px;
}
.main-promo-left ul {
  position: relative;
  list-style: none;
  margin-top: 23px;
  padding-left: 0;
}
.main-promo-left li {
  margin-bottom: 24px;
  font-family: "Roboto";
  letter-spacing: 0.05px;
}
.main-promo-left li::before {
  position: relative;
  content: "";
  display: inline-block;
  height: 2px;
  width: 25px;
  background-color: #FB565A;
  margin-right: 11px;
  top: -5px;
}
.main-promo-left b {
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}
.main-promo-left p:first-child {
  margin-top: 60px;
  margin-bottom: 20px;
}
.main-promo-left p:nth-child(2) {
  font-family: "Roboto";
  padding-right: 20px;
  letter-spacing: 0.2px;
  line-height: 22px;
  margin-bottom: 46px;
  margin-top: -2px;
}
.promo-type {
  text-transform: uppercase;
  font-family: "Roboto";
  letter-spacing: 0.05px;
}
.main-promo-right {
  float: right;
  outline: 1px solid;
  width: 240px;
  position: relative;
}
.main-promo-right img {
  margin-top: 49px;
  margin-left: 31px;
  margin-bottom: 24px;
}
.main-promo-right ul {
  list-style: none;
  padding-left: 0;
}
.main-promo-right li {
  margin-bottom: 24px;
}
.main-promo-right li::before {
    position: relative;
    content: "";
    display: inline-block;
    height: 2px;
    width: 25px;
    background-color: #FB565A;
    margin-right: 11px;
    top: -5px;
}
.since::before {
  content: "";
  display: inline-block;
  width: 65px;
  height: 2px;
  background-color: #eeeeee;
  position: relative;
  top: -4px;
  margin-right: 15px;
}
.since::after {
  content: "";
  display: inline-block;
  width: 61px;
  height: 2px;
  background-color: #eeeeee;
  position: relative;
  top: -4px;
  margin-left: 13px;
}
.since {
  text-transform: uppercase;
}
.promo-work {
  margin-top: 67px;
  display: inline-block;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.logos {
  outline: 1px solid;
  height: 166px;
  width: 880px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.logos a {
  display: inline-block;
}
.logos .glukhnako {
  width: 209px;
  height: 37px;
  background: url("../img/slider background copy.png") 7px -27px;
  margin-right: 102px;
}
.glukhnako:hover {
  background-position: 7px 73px;
}
.glukhnako:active {
  background-position: 7px 228px;
}
.logos-picture {
  font-size: 0;
  margin-right: 113px;
  margin-top: 26px;
}
.htmlacademy {
  width: 199px;
  height: 68px;
  background: url("../img/slider background copy.png") 537px -15px;
  top: 19px;
  position: relative;
  right: -16px;
}
.htmlacademy:hover {
  background-position: 537px 85px;
}
.htmlacademy:active {
  background-position: 537px 240px;
}
.logos img {
  margin-left: 12px;
  border: 0;
}
.logos hr:last-child {
  margin-top: 59px;
}
.last-logo {
  margin-right: 0;
  font-size: 0;
  margin-left: 22px;
  position: relative;
  top: 27px;
  width: 209px;
  height: 86px;
  background: url("../img/slider background copy.png") 214px -5px;
}
.last-logo:hover {
  background-position: 214px 95px;
}
.last-logo:active {
  background-position: 214px 250px;
}
.main-footer {
  outline: 1px solid;
  min-height: 215px;
  background: url("../img/Слой 2.jpg") no-repeat top;
}
.map {
  padding-top: 0;
  outline: 1px solid;
  width: 880px;
  margin-top: 88px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 416px;
}
.map img {
  border-style: none;
  position: relative;
  left: 50%;
  margin-left: -600px;
}
.catalog {
  margin-top: 17px;
}
.contacts {
  width: 249px;
  min-height: 238px;
  outline: 1px solid;
  position: absolute;
  top: 89px;
  background: #ffffff;
}
.contacts b {
  position: relative;
  top: 29px;
  left: 19px;
  text-transform: uppercase;
  font-weight: 400;
}
.contacts p {
  margin-top: 46px;
  margin-left: 22px;
  color: #666666;
}
.map-contact-btn {
  color: #ffffff;
  background: #fb565a;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  padding: 11px 53px;
  margin-top: 14px;
  display: inline-block;
  margin-left: 23px;
  border-radius: 2px;
  vertical-align: top;
}
.marker {
  display: inline-block;
  vertical-align: top;
	width: 20px;
  height: 20px;
  outline: 1px solid;
  position: relative;
  border-radius: 50%;
  box-shadow: 0 2px 0 0 #000101;
}
.marker::before {
  content: "";
  width: 4px;
  height: 5px;
  background: #ababab;
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
  position: absolute;
  top: 40%;
  left: 40%;
}
.marker:hover {
  cursor: pointer;
}
.range {
  height: 81px;
  outline: 1px solid;
  margin-bottom: 13px;
  position: relative;
  background: #f1f1f1;
  border-radius: 9px;
}
.marker:first-child {
  top: 31px;
  left: 17px;
}
.marker:first-child::after {
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 122px;
  height: 2px;
  background: #00CA74 none repeat scroll 0% 0%;
  position: absolute;
  top: 9px;
  left: 19px;
}
.marker:last-child {
  top: 31px;
  right: -135px;
}
.marker:last-child::after {
  content: "";
  display: inline-block;
  vertical-align: top;
  background: #D7DCDE none repeat scroll 0% 0%;
  width: 42px;
  height: 2px;
  position: absolute;
  top: 9px;
  left: 19px;
}
.range-input {
  width: 80px;
  height: 38px;
  margin-bottom: 47px;
  margin-left: 6px;
  padding-left: 0px;
  padding-right: 0px;
  border: none;
  background: #f1f1f1;
  border-radius: 4px;
  text-align: center;
  color: #283136;
}
.start {
  margin-right: 16px;
}
.end {
  margin-left: 5px;
}
input[type="submit"] {
  height: 38px;
  margin-top: 19px;
  text-transform: uppercase;
  font-size: 12px;
  padding: 0 45px;
  border-radius: 6px;
  border: none;
  padding-left: 48px;
}
input[type="submit"]:hover {
  background: #e5e5e5;
}
input[type="submit"]:active {
  background: #d5d5d5;
  box-shadow: 0 3px 0 0 #b5b5b5 inset;
}
fieldset {
  padding: 0;
  border: none;
}
fieldset:first-child label {
  text-transform: uppercase;
  margin-left: -2px;
}
fieldset:nth-child(2) {
  margin-bottom: 9px;
}
fieldset:nth-child(2) legend {
  margin-bottom: 19px;
}
fieldset:nth-child(2) label, fieldset:nth-child(3) label {
  margin-left: 4px;
}
fieldset:nth-child(2) label{
  margin-right: 59px;
}
fieldset:nth-child(2) input {
  display: none;
}
fieldset:nth-child(2) input, fieldset:nth-child(3) input {
  margin-right: 16px;
  margin-bottom: 24px;
}
fieldset:nth-child(2) input:checked + .icon-circle::before {
  content: "\25cf";
  font-size: 28px;
}
fieldset:nth-child(2) input:checked + .icon-circle-dot::before {
  content: "\25cf";
  font-size: 28px;
  color: #c1c1c1;
}
fieldset:nth-child(2) input + .icon-circle-dot::before {
  content: "\25cb";
  font-size: 28px;
  color: #c1c1c1;
}
fieldset:nth-child(3) legend {
  margin-bottom: 19px;
}
.left-footer {
  float: left;
  outline: 1px solid;
  width: 245px;
}
.left-footer a {
  padding: 19px 16px;
  background: #e1e1e1;
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
  font-size: 0;
  margin-right: 25px;
  padding-left: 13px;
  text-decoration: none;
}
.left-footer a:hover {
  background: #fb565a;
}
.left-footer a:active {
  background: #d6494d;
  box-shadow: inset 0 3px 0 0 #bb4a4e;
}
.left-footer a:last-child {
  margin-right: 0;
}
.left-footer a::before {
  color: #ffffff;
  text-decoration: none;
  font-size: 23px;
}
.right-footer {
  float: right;
  outline: 1px solid;
  width: 550px;
}
.right-footer b {
  font-size: 36px;
  font-weight: 400;
  margin-top: -7px;
  display: inline-block;
  vertical-align: top;
  margin-left: -10px;
  letter-spacing: 0.2px;
}
.right-footer p {
  margin-top: 6px;
  margin-left: -10px;
}
.main-footer>div {
  margin-top: 78px;
}
.main-menu .icon-basket::before {
  margin-right: 13px;
}
.map .catalog-map {
  margin-left: -599px;
}
.active {
  position: relative;
}
.active::before {
  content: "";
  width: 100%;
  position: absolute;
  bottom: -5px;
  border-bottom: 2px solid #fb565a;
}
