body {
  margin: 1px;
  font-family: "Roboto Medium", "Arial";
}
@font-face {
  src: url(../fonts/roboto.woff2);
  font-family: "Roboto";
}
@font-face {
  src: url(../fonts/robotomedium.woff2);
  font-family: "Roboto Medium";
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.container {
  outline: 1px solid;
  width: 880px;
  padding: 0 10px;
  margin: 0 auto;
  display: block;
}
.layout-picture {
  outline: 1px solid;
  font-size: 14px;
  padding-top: 30px;
}
.container>a {
  display: inline-block;
  vertical-align: top;
  height: 56px;
  width: 139px;
}
.container img {
  margin-top: -2px;
}
.main-header {
  outline: 1px solid;
  padding-top: 27px;
  background: #eeeeee;
}
.second-header {
  background: #eeeeee;
}
nav {
  float: right;
  outline: 1px solid;
  width: 560px;
}
.main-menu {
  padding: 0;
  padding-top: 13px;
  padding-left: 3px;
}
.main-menu li {
  display: inline-block;
  vertical-align: top;
  margin-right: 40px;
}
.main-menu a:hover {
  color: #fb565a;
}
.main-menu a:active {
  color: #8f8f8f;
}
.main-menu li:last-child {
  margin-left: 23px;
  margin-right: 0px;
}
.menu-element {
  font-size: 14px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}
.header-btn {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background: #fb565a;
  padding: 11px 71px;
  font-size: 12px;
  border-radius: 2px;
}
.top-column {
		outline: 1px solid;
    min-height: 234px;
    margin-bottom: 78px;
    margin-left: auto;
    margin-right: auto;
    background: #eeeeee;
}
.top-column h1 {
  margin: 0;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  padding: 0 27px;
  padding-top: 54px;
  padding-left: 17px;
}
.left-column {
		outline: 1px solid;
		float: left;
		min-height: 728px;
    width: 240px;
}
legend {
  margin-bottom: 17px;
  font-size: 18px;
  margin-left: -3px;
  text-transform: uppercase;
}
.right-column {
		outline: 1px solid;
		float:right;
		width: 560px;
    min-height: 1094px;
}
.sort li {
  display: inline-block;
  vertical-align: top;
}
.sort ul {
  margin: 0;
}
.left-layout {
  width: 240px;
  outline: 1px solid;
  float: left;
}
.right-layout {
  width: 240px;
  outline: 1px solid;
  float: left;
  margin-left: 80px;
}
.paggination {
  float: left;
  margin-bottom: 79px;
}
.layouts {
  min-height: 700px;
}
.layout {
  outline: 1px solid;
  height: 270px;
  margin-bottom: 80px;
  position: relative;
}
.content {
  position: absolute;
  top: 50px;
  display: none;
}
.layout:hover .content{
  display: block;
}
.content h2 {
  margin: 0;
}
.slider {
  outline: 1px solid;
  padding-top: 46px;
  padding-bottom: 66px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 880px;
  background: #eeeeee;
}
.slider-header {
  float: left;
  outline: 1px solid;
  width: 380px;
  min-height: 231px;
}
.slider-header b {
  font-size: 36px;
  display: block;
  margin-top: 18px;
  line-height: 36px;
  font-weight: 400;
}
.slider-header p {
  margin-top: 19px;
  margin-bottom: 37px;
}
.slider-image {
  float: right;
  outline: 1px solid;
  width: 480px;
  position: relative;
}
.slider-image img {
  position: absolute;
  right: -2px;
  top: -1px;
}
.tumbler {
  margin-top: 189px;
  margin-left: 5px;
  float: left;
}
.tumbler input {
  margin-right: 3px;
}
.promo-blocks {
  outline: 1px solid;
  padding-bottom: 27px;
  margin-top: 83px;
  margin-bottom: 55px;
  margin-left: auto;
  margin-right: auto;
  width: 880px;
}
.promo-blocks section {
	margin-right: 80px;
}
.promo-blocks section:nth-child(3n) {
	margin-right:0;
}
.promo-left {
  float: left;
  outline: 1px solid;
  width: 240px;
  margin-right: 80px;
}
.promo-left a {
  background: #fb565a;
}
.promo-left a:hover {
  background: #d6494d;
}
.promo-left a:active {
  background: #b63538;
  box-shadow: inset 0 3px 0 0 #9b2d30;
}
.promo-left p {
  letter-spacing: 0.15px;
}
.promo-blocks h2 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  margin-top: 21px;
  margin-left: -1px;
  margin-bottom: 17px;
}
.promo-blocks p {
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.1px;
  margin-bottom: 27px;
}
.promo-center {
  float: left;
  outline: 1px solid;
  width: 240px;
}
.promo-center a {
  background: #00ca74;
}
.promo-center a:hover {
  background: #01a25e;
}
.promo-center a:active {
  background: #009053;
  box-shadow: inset 0 3px 0 0 #007b47;
}
.promo-center p {
  padding-right: 19px;
  letter-spacing: normal;
}
.promo-right {
  float: left;
  outline: 1px solid;
  width: 240px
}
.promo-right a {
  background: #efc84a;
}
.promo-right a:hover {
  background: #d6ae2c;
}
.promo-right a:active {
  background: #c09b24;
  box-shadow: inset 0 3px 0 0 #a3841f;
}
.promo-right p {
  letter-spacing: normal;
}
.promo-btn {
  display: inline-block;
  vertical-align: top;
  padding: 11px 40px;
  padding-left: 41px;
  padding-right: 39px;
  color: #ffffff;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
}
.features {
  outline: 1px solid;
  margin-bottom: 49px;
  margin-left: auto;
  margin-right: auto;
  width: 880px;
  min-height: 394px;
}
.main-promo-left {
  float: left;
  outline: 1px solid;
  width: 621px;
}
.main-promo-left ul {
  position: relative;
  list-style: none;
  margin-top: 25px;
  padding-left: 0;
}
.main-promo-left li {
  margin-bottom: 24px;
  font-family: "Roboto";
  letter-spacing: 0.05px;
}
.main-promo-left li::before {
  position: relative;
  content: "";
  display: inline-block;
  height: 2px;
  width: 25px;
  background-color: #FB565A;
  margin-right: 11px;
  top: -5px;
}
.main-promo-left b {
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}
.main-promo-left p:first-child {
  margin-top: 60px;
  margin-bottom: 19px;
}
.main-promo-left p:nth-child(2) {
  font-family: "Roboto";
  padding-right: 20px;
  letter-spacing: 0.2px;
  line-height: 22px;
  margin-bottom: 44px;
}
.promo-type {
  text-transform: uppercase;
  font-family: "Roboto";
  letter-spacing: 0.05px;
}
.main-promo-right {
  float: right;
  outline: 1px solid;
  width: 240px;
  position: relative;
}
.main-promo-right img {
  margin-top: 49px;
  margin-left: 31px;
  margin-bottom: 24px;
}
.main-promo-right ul {
  list-style: none;
  padding-left: 0;
}
.main-promo-right li {
  margin-bottom: 24px;
}
.main-promo-right li::before {
    position: relative;
    content: "";
    display: inline-block;
    height: 2px;
    width: 25px;
    background-color: #FB565A;
    margin-right: 11px;
    top: -5px;
}
.since::before {
  content: "";
  display: inline-block;
  width: 65px;
  height: 2px;
  background-color: #eeeeee;
  position: relative;
  top: -4px;
  margin-right: 15px;
}
.since::after {
  content: "";
  display: inline-block;
  width: 61px;
  height: 2px;
  background-color: #eeeeee;
  position: relative;
  top: -4px;
  margin-left: 13px;
}
.since {
  text-transform: uppercase;
}
.promo-work {
  margin-top: 67px;
  display: inline-block;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.logos {
  outline: 1px solid;
  height: 166px;
  width: 880px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.logos a {
  display: inline-block;
}
.glukhnako {
  width: 198px;
  height: 37px;
  background: url("../img/slider background copy.png") 7px -27px;
}
.glukhnako:hover {
  background-position: 7px 73px;
}
.glukhnako:active {
  background-position: 7px 228px;
}
.logos-picture {
  font-size: 0;
  margin-right: 113px;
  margin-top: 26px;
}
.htmlacademy {
  width: 199px;
  height: 68px;
  background: url("../img/slider background copy.png") 537px -15px;
  top: 19px;
  position: relative;
  right: -16px;
}
.htmlacademy:hover {
  background-position: 537px 85px;
}
.htmlacademy:active {
  background-position: 537px 240px;
}
.logos img {
  margin-left: 12px;
  border: 0;
}
.logos hr:last-child {
  margin-top: 59px;
}
.last-logo {
  margin-right: 0;
  font-size: 0;
  margin-left: 22px;
  position: relative;
  top: 27px;
  width: 209px;
  height: 86px;
  background: url("../img/slider background copy.png") 214px -5px;
}
.last-logo:hover {
  background-position: 214px 95px;
}
.last-logo:active {
  background-position: 214px 250px;
}
.main-footer {
  outline: 1px solid;
  min-height: 215px;
}
.map {
  padding-top: 0;
  outline: 1px solid;
  width: 880px;
  margin-top: 87px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.map img {
  border-style: none;
  position: relative;
  left: 50%;
  margin-left: -600px;
}
.catalog {
  margin-top: 17px;
}
.contacts {
  width: 249px;
  min-height: 238px;
  outline: 1px solid;
  position: absolute;
  top: 89px;
  background: #ffffff;
}
.contacts b {
  position: relative;
  top: 28px;
  left: 19px;
  text-transform: uppercase;
  font-weight: 400;
}
.contacts p {
  margin-top: 45px;
  margin-left: 22px;
  color: #666666;
}
.map-contact-btn {
  color: #ffffff;
  background: #fb565a;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  padding: 11px 53px;
  margin-top: 14px;
  display: inline-block;
  margin-left: 23px;
  border-radius: 2px;
}
.marker {
  display: inline-block;
  vertical-align: top;
	width: 20px;
  height: 20px;
  outline: 1px solid;
  position: relative;
  border-radius: 50%;
}
.marker:hover {
  cursor: pointer;
}
.range {
  height: 81px;
  outline: 1px solid;
  margin-bottom: 13px;
  position: relative;
}
.marker:first-child {
  top: 31px;
  left: 17px;
}
.marker:last-child {
  top: 31px;
  right: -135px;
}
.range-input {
  width: 80px;
  height: 33px;
  margin-bottom: 47px;
}
input[type="submit"] {
  height: 38px;
}
fieldset {
  padding: 0;
  border: none;
}
fieldset:nth-child(2) {
  margin-bottom: 65px;
}
.left-footer {
  float: left;
  outline: 1px solid;
  width: 245px;
}
.left-footer a {
  padding: 19px 16px;
  background: #e1e1e1;
  display: inline-block;
  border-radius: 50%;
  font-size: 0;
  margin-right: 25px;
  padding-left: 13px;
}
.left-footer a:hover {
  background: #fb565a;
}
.left-footer a:active {
  background: #d6494d;
  box-shadow: inset 0 3px 0 0 #bb4a4e;
}
.left-footer a:last-child {
  margin-right: 0;
}
.left-footer a::before {
  color: #ffffff;
  text-decoration: none;
  font-size: 23px;
}
.right-footer {
  float: right;
  outline: 1px solid;
  width: 550px;
}
.right-footer b {
  font-size: 36px;
  font-weight: 400;
  margin-top: -7px;
  display: inline-block;
  margin-left: -10px;
  letter-spacing: 0.2px;
}
.right-footer p {
  margin-top: 6px;
  margin-left: -10px;
}
.main-footer>div {
  margin-top: 74px;
}
.main-menu .icon-basket::before {
  margin-right: 13px;
}
