.competition-footer__form-field-requirements {
  @mixin font_options $OpenSans_regular, $small, $blue, $biggest, $regular, $center, $uppercase;
}
.competition-footer__form-field-marker {
  color: $magenta;
}
@media (min-width: 700px) {
  .competition-footer {
    display: flex;
    @mixin tablet_padding;
    align-items: $center;
 & .site-logo::before {
  display: $none;
    }
  }
}
