.competition-footer {
  max-width: 320px;
  @mixin margin_auto;
}
.competition-footer__form-field-requirements {
  @mixin font_options $OpenSans_regular, $small, $blue, $biggest, $regular, $center, $uppercase;
  margin-top: 35px;
  margin-bottom: 55px;
  &--desktop {
    display: $none;
  }
}
.competition-footer__form-field-marker {
  color: $magenta;
}
@media (min-width: 700px) {
  .competition-footer {
    display: flex;
    max-width: calc(700px - 80px);
    @mixin tablet_padding;
    @mixin margin_auto;
    align-items: $center;
  }
  .competition-footer .site-logo::before {
    display: $none;
    }
  .competition-footer__form-field-requirements {
    text-align: right;
    margin-top: calc($small + 4px);
    margin-bottom: $small;
  }
 }
@media (min-width: 1200px) {
  .competition-footer {
    max-width: calc(1200px - 260px);
    margin-top: 74px;
    margin-bottom: 72px;
    @mixin desktop_padding;
  }
  .competition-footer__form-field-requirements {
    display: $none;
    &--desktop {
      flex-basis: 320px;
      display: $block;
      position: relative;
      left: -1px;
    }
   }
  }
