.content {
  margin-top: 46px;
  background-image: url("../../img/promo-background.png");
  background-repeat: $no-repeat;
  background-position-y: 174px;

  &__slogan {
    @mixin font_options $OpenSans_light, $big, $blue, $normal, $light, $center;
    margin-top: 39px;
    margin-bottom: $zero;
  }
  &__slogan:last-child {
    padding-bottom: 119px;
  }
}
