.copyright {
  justify-content: $center;
  display: flex;
  align-items: center;
  &__maked {
    @mixin font_options $OpenSans_regular, $small, $blue, $medium, $regular, $center, $none;
    margin-right: 15px;
  }
  &__link {
    display: flex;
  }
  &__link:hover &__image {
    display: $none;
  }
  &__link:hover {
    height: 34px;
    width: 27px;
    background-image: url("../../img/Vector Smart Object copy 7.svg");
  }
  &__link:active {
    opacity: .3;
  }
}
@media (min-width: 700px) {
.copyright {
  flex-basis: 130px;
  margin-left: 20px;
  }
}
@media (min-width: 1200px) {
.copyright {
  margin-left: -5px;
  &__maked {
    font-size: $medium;
    }
  }
}
