.copyright {
  justify-content: $center;
  display: flex;
  align-items: center;
}
.copyright__maked {
  @mixin font_options $OpenSans_regular, $small, $blue, $medium, $regular, $center, $none;
  margin-right: 15px;
}
.copyright__link:hover svg {
  fill: $blue;
}
.copyright__link:active {
  opacity: .3;
}
.copyright__link svg {
  fill: $magenta;
}
@media (min-width: 700px) {
.copyright {
  flex-basis: 130px;
  margin-left: 20px;
 }
}
@media (min-width: 1200px) {
.copyright {
  margin-left: -5px;
}
.copyright__maked {
  font-size: $medium;
  }
}
