.like {
  background-color: $grey;
  width: 246px;
  margin: $zero $auto;
  margin-bottom: 20px;
  padding-bottom: 26px;
  padding-left: 17px;

  &__button {
    @mixin button_reset;
  }
  &__description {
    @mixin font_options $OpenSans_regular, $smallest, $magenta, $big, $regular, $center, $uppercase;
  }
  &__count {
    @mixin font_options $OpenSans_regular, $smallest, $magenta, $big, $regular, $center, $none;
  }
}
