.logotype {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 22px;
  margin-right: $auto;
  padding-bottom: 17px;
  background-color: rgba(0,0,0,.3);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  &__menu-button {
    background-color: $transparent;
    border: $none;
    width: 50px;
    left: -8px;
    position: relative;
  }
  &__menu-button svg {
    fill: $white;
  }
  &__menu-button:hover &__menu-button-img {
    display: $none;
  }
  &__menu-button:hover svg {
    fill: $magenta;
  }
  &__menu-button:active {
    opacity: .3;
  }
}
@media (min-width: 700px) {
.logotype {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 27px;
  padding-bottom: 39px;
  &__menu-button {
    top: -1px;
    left: -8px;
  }
 }
}
@media (min-width: 1200px) {
  .logotype {
    display: $none;
  }
}
