.logotype {
  padding-left: 6.25%;
  padding-right: 6.25%;
  padding-top: 22px;
  margin-right: $auto;
  max-width: 320px;
  @mixin margin_auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  }
.logotype__menu-button {
  background-color: $transparent;
  border: $none;
  width: 50px;
  left: -8px;
  position: relative;
  padding-bottom: 17px;
  &:active {
    opacity: .3;
  }
}
.logotype__menu-button svg {
  fill: $white;
}
.logotype__menu-button:hover .logotype__menu-button-img {
  display: $none;
}
.logotype__menu-button:hover svg {
  fill: $magenta;
}
@media (min-width: 700px) {
  .logotype {
    padding-left: 5.71%;
    padding-right: 5.71%;
    padding-top: 27px;
    padding-bottom: 39px;
    max-width: 700px;
    box-sizing: border-box;
    }
  .logotype__menu-button {
    top: -1px;
    left: -8px;
    padding-bottom: $zero;
  }
}
@media (min-width: 1200px) {
  .logotype {
    display: $none;
  }
}
