.logotype {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 22px;
  margin-right: $auto;
  padding-bottom: 22px;
  background-color: rgba(0,0,0,.3);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  &__menu-button {
    background-color: $transparent;
    border: $none;
    width: 50px;
    height: 4px;
    background-color: $white;
    top: -3px;
    position: relative;
  }
  &__menu-button::before {
    content: "";
    display: $block;
    width: 50px;
    height: 4px;
    background-color: $white;
    top: -10px;
    position: relative;
    left: -6px;
  }
  &__menu-button::after {
    content: "";
    display: $block;
    width: 50px;
    height: 4px;
    background-color: $white;
    top: -23px;
    position: relative;
    left: -6px;
  }
  &__menu-button:hover &__menu-button-img {
    display: $none;
  }
  &__menu-button:hover, &__menu-button:hover::after, &__menu-button:hover::before {
    background-color: $magenta;
  }
  &__menu-button:active, &__menu-button:active::after, &__menu-button:active::before {
    background-color: $magenta;
    opacity: .3;
  }
}
@media (min-width: 700px) {
.logotype {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 27px;
  padding-bottom: 39px;
  }
}
@media (min-width: 1200px) {
  .logotype {
    display: $none;
  }
}
