.main-content {
    background-image: url("../../img/Shape 2.svg");
    background-repeat: $no-repeat;
    background-position-y: 128px;
    &--fixed {
      max-width: 320px;
      @mixin margin_auto;
      background-image: $none;
    }
}
@media (min-width: 367px) {
  .main-content {
  background-position-y: 103px;
  }
}
@media (min-width: 369px) {
  .main-content {
  background-position-y: 68px;
  }
}
@media (min-width: 700px) {
.main-content {
  background-position-y: 160px;
  &--fixed {
    max-width: 700px;
    }
  }
}
@media (min-width: 1200px) {
  .main-content {
    max-width: 1200px;
    @mixin margin_auto;
    background-image: $none;
    }
}
