.main-header {
  background-color: $blue;
  background-image: url("../../img/back-mobile@1x.jpg");
  background-repeat: $no-repeat;
  min-height: 462px;
  &--short {
    min-height: 238px;
    max-width: 320px;
    @mixin margin_auto;
  }
  &--short .menu--show {
    max-width: 320px;
  }
  &__slogan {
    @mixin font_options $OpenSans_light, $big, $white, 29px, $light, $center, $none;
    padding-left: 2px;
    padding-right: 2px;
    margin-top: 30px;
  }
  &__title {
    @mixin font_options $OpenSans_light, 40px, $white, $normal, $light, $center, $none;
    margin-bottom: $zero;
    display: $none;
  }
  &__right-side {
    position: absolute;
    top: 174px;
  }
}
@media (min-resolution: 2dppx) {
  .main-header {
    background-image: url("../../img/background-1@2x.jpg");
  }
}
@media (min-resolution: 3dppx) {
  .main-header {
    background-image: url("../../img/background-1@3x.jpg");
  }
}
@media (min-width: 321px) {
  .main-header {
    background-size: cover;
  }
}
@media (min-width: 700px) {
    .main-header {
      min-height: 729px;
      background-image: url("../../img/back-tablet@1x.jpg");
    &--short {
      max-width: 700px;
    }
    &--short .menu--show {
      max-width: 700px;
    }
    &--short {
        min-height: 440px;
    }
    &__title {
      width: 300px;
      margin-left: 40px;
      margin-top: 92px;
      line-height: 48px;
      display: $block;
    }
    &__right-side {
      top: 200px;
      width: 97vw;
    }
    &__image {
      position: absolute;
      top: 53px;
      left: 391px;
    }
    &__slogan {
      font-size: 50px;
      padding-left: 13px;
      padding-right: 13px;
      margin-top: 71px;
      line-height: 59px;
    }
  }
}
@media (min-resolution: 2dppx) {
  .main-header {
    background-image: url("../../img/background-1@2x.jpg");
  }
}
@media (min-resolution: 3dppx) {
  .main-header {
    background-image: url("../../img/background-1@3x.jpg");
  }
}
@media (min-width: 701px) {
  .main-header {
    background-image: url("../../img/back-desktop.jpg");
  }
}
@media (min-width: 717px) {
  .main-header__right-side {
    top: 184px;
    width: $auto;
  }
}
@media (min-width: 1200px) {
  .main-header {
    max-width: 1200px;
    @mixin margin_auto;
    position: relative;
  &__title {
    font-size: 50px;
    margin-left: 130px;
    margin-top: 111px;
    line-height: 60px;
  }
  &__slogan {
    margin-top: 64px;
  }
  &--short .menu--show {
    max-width: 1200px;
  }
  &__right-side {
    top: -13px;
    right: 4px;
  }
  &--short {
    min-height: 394px;
  }
 }
}
@media (min-resolution: 2dppx) {
  .main-header {
    background-image: url("../../img/background-2@2x.jpg");
  }
}
@media (min-width: 1201px) {
  .main-header {
    background-image: $none;
    background-color: $transparent;
  }
}
