.main-header {
  background-color: #283645;
  background-image: url("../img/back-mobile@1x.jpg");
}
.main-header__title {
  opacity: .3;
  margin-left: 20px;
  margin-top: 26px;
  margin-right: auto;
  margin-bottom: 47px;
  }
