@media (max-width: 336px) {
  .main-header__right-side {
    width: 94vw;
  }
}
.main-header {
  text-align: $center;
  &--short .menu--show {
    max-width: 320px;
  }
  &__slogan {
    @mixin font_options $OpenSans_light, $big, $white, 29px, $light, $center, $none;
    padding-left: 5px;
    padding-right: 2px;
    margin-top: 31px;
    margin-bottom: $zero;
  }
  &__title {
    @mixin font_options $OpenSans_light, 40px, $white, $normal, $light, $center, $none;
    margin-bottom: $zero;
    display: $none;
  }
  &__right-side {
    margin-top: 106px;
  }
}
@media (min-width: 700px) {
    .main-header {
      max-width: 700px;
      @mixin margin_auto;
      position: relative;
      min-height: 527px;
    &--short {
      max-width: 700px;
    }
    &--short .menu--show {
      max-width: 700px;
    }
    &__title {
      width: 300px;
      margin-left: 5.71%;
      margin-top: 92px;
      line-height: 48px;
      display: $block;
    }
    &__right-side {
      bottom: $zero;
      position: absolute;
      right: $zero;
      width: 97vw;
    }
    &__image {
      position: absolute;
      top: 53px;
      left: 391px;
    }
    &__slogan {
      font-size: 50px;
      padding-left: 13px;
      padding-right: 13px;
      margin-top: 71px;
      line-height: 59px;
    }
  }
}
@media (min-width: 717px) {
  .main-header__right-side {
    width: $auto;
  }
}
@media (min-width: 1200px) {
  .main-header {
    max-width: 1200px;
    @mixin margin_auto;
    position: relative;
  &__title {
    font-size: 50px;
    margin-left: 130px;
    margin-top: 109px;
    line-height: 60px;
  }
  &__slogan {
    margin-top: 64px;
  }
  &--short .menu--show {
    max-width: 1200px;
  }
  &__right-side {
    top: -117px;
    right: 4px;
  }
 }
}
