@media (min-width: 1201px) {
.main-content-container {
  background-image: url("../../img/Shape 2-tablet.svg");
  background-position-y: 246px;
  background-size: $full-width 47%;
  background-repeat: $no-repeat;
  }
}
