@media (max-width: 336px) {
  .main-header__right-side {
    width: 94vw;
  }
}
.main-header {
  text-align: $center;
  }
.main-header__slogan {
  @mixin font_options $OpenSans_light, $big, $white, 29px, $light, $center, $none;
  padding-left: 5px;
  padding-right: 2px;
  margin-top: 31px;
  margin-bottom: $zero;
}
.main-header__title {
  @mixin font_options $OpenSans_light, 40px, $white, $normal, $light, $center, $none;
  margin-bottom: $zero;
  display: $none;
}
.main-header__right-side {
  margin-top: 106px;
  max-width: $full-width;
}
@media (min-width: 700px) {
  .main-header {
    max-width: 700px;
    @mixin margin_auto;
    position: relative;
    min-height: 527px;
    &--short {
      max-width: 700px;
    }
  }
  .main-header--short .menu--show {
    max-width: 700px;
  }
  .main-header__title {
    width: 300px;
    margin-left: 5.71%;
    margin-top: 92px;
    line-height: 48px;
    display: $block;
  }
  .main-header__right-side {
    bottom: $zero;
    position: absolute;
    right: $zero;
    width: 97vw;
  }
  .main-header__image {
    position: absolute;
    top: 53px;
    left: 391px;
  }
  .main-header__slogan {
    font-size: 50px;
    padding-left: 13px;
    padding-right: 13px;
    margin-top: 71px;
    line-height: 59px;
  }
}
@media (min-width: 717px) {
  .main-header__right-side {
    width: $auto;
  }
}
@media (min-width: 1200px) {
  .main-header {
    max-width: 1200px;
    @mixin margin_auto;
    position: static;
  }
  .main-header__title {
    font-size: 50px;
    margin-left: 130px;
    margin-top: 109px;
    line-height: 60px;
  }
  .main-header__slogan {
    margin-top: 64px;
  }
  .main-header--short .menu--show {
    max-width: 1200px;
  }
  .main-header__right-side {
    right: 4px;
  }
}
