@media (min-width: 1201px) {
.main-content-container {
  position: relative;
  overflow: hidden;
  &::before {
    display: $block;
    content: "";
    position: absolute;
    top: 324px;
    border-bottom: solid $grey 94px;
    border-left: solid $transparent;
    border-left-width: 100vw;
  }
  &::after {
    display: $block;
    content: "";
    position: absolute;
    top: 418px;
    width: $full-width;
    height: calc($full-width - 246px);
    z-index: -1;
    background-color: $grey;
  }
 }
}
