.main-header {
  background-color: $blue;
  background-image: url("../../img/back-mobile@1x.jpg");
  background-repeat: $no-repeat;
  background-size: cover;
  min-height: 462px;
  &--short {
    min-height: 238px;
    max-width: 320px;
    @mixin margin_auto;
  }
  &--short .menu--show {
    max-width: 320px;
  }
  &__slogan {
    @mixin font_options $OpenSans_light, $big, $white, 29px, $light, $center, $none;
    padding-left: 2px;
    padding-right: 2px;
    margin-top: 30px;
  }
  &__title {
    @mixin font_options $OpenSans_light, 40px, $white, $normal, $light, $center, $none;
    margin-bottom: $zero;
    display: $none;
  }
  &__right-side {
    min-width: 283px;
    height: 314px;
    position: absolute;
    top: 174px;
    background-image: url("../../img/iphone-5-in-hand-png.png");
  }
}
@media (min-width: 700px) {
    .main-header {
      min-height: 729px;
      background-image: url("../../img/back-tablet@1x.jpg");
    &--short {
      max-width: 700px;
    }
    &--short .menu--show {
      max-width: 700px;
    }
    &--short {
        min-height: 440px;
    }
    &__title {
      width: 300px;
      margin-left: 40px;
      margin-top: 92px;
      line-height: 48px;
      display: $block;
    }
    &__right-side {
      min-width: 683px;
      height: 545px;
      position: absolute;
      top: 184px;
      background-image: url("../../img/iphone-6 copy.png");
    }
    &__image {
      position: absolute;
      top: 53px;
      left: 391px;
    }
    &__slogan {
      font-size: 50px;
      padding-left: 13px;
      padding-right: 13px;
      margin-top: 73px;
    }
  }
}
@media (min-width: 1200px) {
  .main-header {
    max-width: 1200px;
    @mixin margin_auto;
    background-image: url("../../img/back-desktop.jpg");
    min-height: 853px;
    position: relative;
  &__title {
    font-size: 50px;
    margin-left: 130px;
    margin-top: 111px;
    line-height: 60px;
  }
  &--short .menu--show {
    max-width: 1200px;
  }
  &__right-side {
    min-width: 1050px;
    height: 645px;
    position: absolute;
    top: 208px;
    right: 4px;
    background-image: url("../../img/iphone-6.png");
  }
  &--short {
    min-height: 394px;
  }
 }
}
