@media (min-width: 1200px) {
  .main-header-container {
    max-height: 853px;
    background-image: url(../../img/back-desktop.jpg);
  }
}
@media (min-width: 1201px) {
  .main-header-container {
    background-image: url("../../img/background-fullsize.jpg");
    background-size: cover;
  }
}
