.main-footer {
  background-image: url("../img/Layer 153.jpg");
  background-repeat: $no-repeat;
  min-height: 645px;

  &__block-title {
    @mixin font_options $OpenSans, $medium, $blue, $normal, $bold, $center;
    @mixin white_background;
    padding-top: 28px;
    padding-bottom: 11px;
  }
  &__description {
    @mixin font_options $OpenSans, $big, $blue, $normal, $light, $center;
    @mixin white_background;
    padding-top: 48px;
    padding-bottom: 17px;
  }
  &__block-content {
    @mixin font_options $OpenSans, $big, $magenta, $normal, $light, $center;
    @mixin white_background;
    display: block;
    padding: 0 2px;
  }
  &__block-content:first-of-type {
    text-decoration: none;
  }
}
