.main-header-container {
  background-color: $blue;
  background-image: url("../../img/back-mobile@1x.jpg");
  background-repeat: $no-repeat;
  &--short {
    min-height: 239px;
    max-width: 320px;
    @mixin margin_auto;
  }
}
.main-header-container--short .main-header {
  padding-bottom: 82px;
}
.main-header-container--short .main-header--short {
  padding-bottom: 53px;
}
@media (min-width: 321px) {
  .main-header-container {
    background-size: cover;
  }
}
@media (min-width: 700px) {
  .main-header-container {
    min-height: 729px;
    background-image: url("../../img/back-tablet@1x.jpg");
    &--short {
      max-width: 700px;
      @mixin margin_auto;
      min-height: 440px;
    }
  }
  .main-header-container--short .main-header {
    min-height:$auto;
    padding-bottom: 141px;
  }
  .main-header-container--short .menu__container {
    max-width: $full-width;
  }
}
@media (min-width: 718px) {
  .main-header-container {
    background-image: url("../../img/back-desktop.jpg");
  }
}
@media (min-resolution: 2dppx) {
  .main-header-container {
    background-image: url("../../img/background-1@2x.jpg");
  }
}
@media (min-resolution: 3dppx) {
  .main-header-container {
    background-image: url("../../img/background-1@3x.jpg");
  }
}
@media (min-width: 1200px) {
  .main-header-container {
    min-height: 853px;
    background-image: url("../../img/back-desktop.jpg");
    &--short {
      min-height: 394px;
      max-width: $full-width;
    }
  }
}
@media (min-width: 1218px) {
  .main-header-container {
    background-image: url("../../img/background-fullsize.jpg");
    background-size: cover;
  }
}
