.menu {
  background-color: $blue;
  display: $none;
  max-width: 320px;
  position: relative;
  z-index: 1;
  &--show {
    display: $block;
    position: absolute;
    width: $full-width;
    max-width: $full-width;
    top: $zero;
  }
  &--active:hover {
    color: $magenta;
  }
  &--active:active {
    color: $white;
  }
  &__elements {
    background-color: $blue;
    @mixin list_reset;
  }
  &__element {
    border-top: 1px solid #485461;
    border-bottom: 1px solid;
    text-align: $center;
  }
  &__element_logo {
    text-align: left;
    @mixin mobile_padding;
    display: flex;
    justify-content: space-between;
  }
  &__element_logo:first-child &__link {
      padding-top: 20px;
  }
  &__element_logo:first-child &__link:hover .site-logo {
    display: $none;
  }
  &__element_logo &__link::before {
    content: "";
    display: $none;
    width: 147px;
    height: 40px;
    background: url("../../img/logotype-white-tablet.svg");
  }
  &__link {
    @mixin font_options $OpenSans_bold, $medium, $white, $medium, $regular, $center, $uppercase;
    text-decoration: $none;
    display: $block;
    vertical-align: middle;
    padding-top: 21px;
    padding-bottom: 23px;
  }
  &__link:hover {
    color: $magenta;
  }
  &__link svg {
    fill: $white;
  }
  &__link svg:hover {
    fill: $magenta;
  }
  &__link:active {
    opacity: .3;
  }
  &__button {
    @mixin button_reset;
    height: 68px;
  }
  &__button:hover &__button-image {
    display: $none;
  }
  &__button:hover {
    background: url("../../img/close menu BTN copy.svg");
    width: 24px;
    height: 68px;
    background-repeat: $no-repeat;
    background-position: $center;
  }
  &__button:active {
    opacity: .3;
  }
  &__elements-container {
    @mixin list_reset;
  }
}
@media (min-width: 700px) {
  .menu {
    max-width: 700px;
  &--show {
    max-width: $full-width;
  }
  &__button {
    height: $auto;
  }
  &__button:hover {
    height: 108px;
  }
  &__link svg {
    display: $none;
  }
  &__element_logo:first-child &__link:hover {
    background: $none;
    width: 75px;
    margin-top: $zero;
  }
  &__element_logo &__link:hover::before {
    content: "";
    display: $none;
    width: 147px;
    height: 40px;
    background: url("../../img/PINK copy.svg");
    background-repeat: $no-repeat;
  }
  &__element:first-child .site-logo {
      display: $none;
  }
  &__element:first-child &__link::before {
    display: $inline-block;
  }
  &__element_logo:first-child &__link {
      padding-top: 27px;
  }
  &__element_logo {
    @mixin tablet_padding;
  }
  &__element_logo .menu__link {
    padding-bottom: 38px;
  }
 }
}
@media (min-width: 1200px) {
  .menu {
    display: $block;
    max-width: 1200px;
    background-color: rgba(0, 0, 0, 0.3);
  &--show {
    position: static;
  }
  &__element_logo &__link::before {
    background-image: url("../../img/logotype-white-desktop.svg");
  }
  &__element_logo &__link:hover::before {
    background-image: url("../../img/logotype-white-desktop-hover.svg");
  }
  &__element_logo &__link:active::before {
    background-image: url("../../img/logotype-white-desktop.svg");
    opacity: .3;
  }
  &__button {
    display: $none;
  }
  &__elements  {
    display: flex;
    padding-right: 130px;
    padding-left: 130px;
    background-color: $transparent;
  }
  &__elements > &__element:last-child {
    flex-grow: 1;
  }
  &__element_logo .menu__link {
    padding-bottom: 40px;
  }
  &__element_logo {
    flex-basis: 150px;
    padding-left: $zero;
    padding-right: $zero;
    flex-grow: $zero;
  }
  &__elements-container {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    padding-left: 169px;
  }
  &__elements-container &__link {
    text-transform: $none;
    padding-top: 43px;
    font-family: $OpenSans;
    font-weight: $normal;
    padding-bottom: 9px;
  }
  &__elements-container &__link:hover {
    border-bottom-style: solid;
    border-bottom-width: 2px;
  }
  &__elements-container &__link:active {
    opacity: .3;
    border-bottom-style: $none;
  }
  &__element {
    border-bottom: $none;
  }
  &__link:hover {
    color: $white;
  }
  &--active:hover {
    color: $magenta;
  }
  &--active:active {
    color: $white;
  }
 }
}
