.menu {
  background-color: $blue;
  display: none;

  &__elements {
    background-color: $blue;
    @mixin list_reset;
  }
  &__element {
    border-top: 1px solid #485461;
    border-bottom: 1px solid;
    text-align: $center;
  }
  &__element:first-child {
    text-align: left;
    padding-left: 20px;
  }
  &__link {
    @mixin font_options $OpenSans_bold, $medium, $white, $medium, $bold, $center;
    text-transform: $uppercase;
    text-decoration: none;
    display: $inline-block;
    vertical-align: middle;
    padding-top: 26px;
    padding-bottom: 23px;
  }
  &__button {
    padding: 0;
    border: 0;
    background: transparent;
  }
}
