.menu {
  background-color: $blue;
  display: $none;
  position: relative;
  z-index: 1;
  &__elements {
    background-color: $blue;
    @mixin list_reset;
  }
  &__element {
    border-top: 1px solid #485461;
    border-bottom: 1px solid;
    text-align: $center;
  }
  &__element:first-child {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
  }
  &__element:first-child &__link {
      display: $inline-block;
  }
  &__element:first-child &__link::before {
    content: "";
    display: $none;
    width: 147px;
    height: 40px;
    background: url("../../img/logotype-white-tablet.svg");
  }
  &__link {
    @mixin font_options $OpenSans_bold, $medium, $white, $medium, $bold, $center, $uppercase;
    text-decoration: $none;
    display: $block;
    vertical-align: middle;
    padding-top: 26px;
    padding-bottom: 23px;
  }
  &__button {
    @mixin button_reset;
  }
}
@media (min-width: 700px) {
  .menu__element:first-child .site-logo {
      display: $none;
  }
  .menu__element:first-child .menu__link::before {
    display: $inline-block;
  }
  .menu__element:first-child {
    @mixin tablet_padding;
  }
  .menu__element:first-child .menu__link {
    padding-bottom: 42px;
  }
}
