.menu {
  background-color: $blue;
  display: $none;
  position: relative;
  z-index: 1;
  &--show {
    display: $block;
    position: absolute;
    width: 320px;
    top: $zero;
  }
  &__elements {
    background-color: $blue;
    @mixin list_reset;
  }
  &__element {
    border-top: 1px solid #485461;
    border-bottom: 1px solid;
    text-align: $center;
  }
  &__element_logo {
    text-align: left;
    @mixin mobile_padding;
    display: flex;
    justify-content: space-between;
  }
  &__element:first-child &__link {
      display: $inline-block;
  }
  &__element_logo &__link::before {
    content: "";
    display: $none;
    width: 147px;
    height: 40px;
    background: url("../../img/logotype-white-tablet.svg");
  }
  &__link {
    @mixin font_options $OpenSans_bold, $medium, $white, $medium, $bold, $center, $uppercase;
    text-decoration: $none;
    display: $block;
    vertical-align: middle;
    padding-top: 26px;
    padding-bottom: 23px;
  }
  &__button {
    @mixin button_reset;
  }
}
@media (min-width: 700px) {
  .menu__element:first-child .site-logo {
      display: $none;
  }
  .menu__element:first-child .menu__link::before {
    display: $inline-block;
  }
  .menu__element_logo {
    @mixin tablet_padding;
  }
  .menu__element_logo .menu__link {
    padding-bottom: 42px;
  }
  .menu--show {
    width: $full-width;
    max-width: 700px;
  }
}
@media (min-width: 1200px) {
  .menu {
    display: $block;
    background-color: rgba(0, 0, 0, 0.3);
  &__element_logo &__link::before {
    background-image: url("../../img/logotype-white-desktop.svg");
  }
  &__button {
    display: $none;
  }
  &__elements  {
    display: flex;
    padding-right: 130px;
    padding-left: 130px;
    background-color: $transparent;
  }
  &__element_logo {
    flex-basis: 150px;
    padding-left: $zero;
    padding-right: $zero;
    flex-grow: $zero;
  }
  &__elements-container {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    padding-left: 170px;
  }
  &__elements-container &__link {
    text-transform: $none;
    padding-top: 48px;
    font-family: $OpenSans;
    font-weight: $normal;
  }
  &__element {
    border-bottom: $none;
  }
 }
}
