.menu {
  background-color: $blue;
  display: $none;
  max-width: 320px;
  position: relative;
  z-index: 1;
  &--show, &--no-js {
    display: $block;
    max-width: $full-width;
  }
  &--hide {
    display: $none;
  }
  &--active:hover {
    color: $magenta;
  }
  &--active:active {
    color: $white;
  }
  &--fixed {
    max-width: 320px;
    left: $zero;
    right: $zero;
    @mixin margin_auto;
  }
}
.menu--show .menu__img-hamburger {
  display: $none;
}
.menu__elements {
  background-color: $blue;
  @mixin list_reset;
}
.menu__container {
  display: flex;
  justify-content: space-between;
  max-width: 320px;
  @mixin margin_auto;
}
.menu__element {
  border-top: 1px solid #485461;
  border-bottom: 1px solid;
  text-align: $center;
}
.menu__element_logo {
  text-align: left;
  padding-left: 6.25%;
  padding-right: 6.25%;
}
.menu__element_logo:first-child .menu__link {
    padding-top: 20px;
}
.menu__element_logo .menu__link::before {
  content: "";
  display: $none;
  width: 147px;
  height: 40px;
  background-color: $white;
  background: url("../../img/logotype-white-tablet.svg");
}
.menu__link {
  @mixin font_options $OpenSans_bold, $medium, $white, $medium, $regular, $center, $uppercase;
  text-decoration: $none;
  display: $block;
  vertical-align: middle;
  padding-top: 21px;
  padding-bottom: 23px;
  &:hover {
    color: $magenta;
  }
}
.menu__link svg {
  fill: $white;
}
.menu__link svg:hover {
  fill: $magenta;
}
.menu__link:active {
  opacity: .3;
}
.menu__button {
  @mixin button_reset;
  height: 68px;
  &:active {
    opacity: .3;
  }
}
.menu__button svg {
  fill: $white;
}
.menu__img-cross {
  display: $none;
}
.menu--show .menu__img-cross {
  display: inline;
}
.menu__button:hover svg  {
  fill: $magenta;
}
.menu__elements-container {
  @mixin list_reset;
}
@media (min-width: 700px) {
  .menu {
    max-width: 700px;
    &--show, &--no-js {
      max-width: $full-width;
    }
    &--fixed {
      max-width: 700px;
    }
  }
  .menu__button {
    height: $auto;
  }
  .menu__container {
    max-width: 565px;
  }
  .menu__link svg {
    display: $none;
  }
  .menu__element_logo .menu__link:hover::before {
    content: "";
    display: $none;
    width: 147px;
    height: 40px;
    background-color: $magenta;
    background: url("../../img/PINK copy.svg");
    background-repeat: $no-repeat;
  }
  .menu__element:first-child .site-logo {
      display: $none;
  }
  .menu__element:first-child .menu__link::before {
    display: $inline-block;
  }
  .menu__element_logo:first-child .menu__link {
      padding-top: 27px;
  }
  .menu__element_logo {
    padding-left: 5.71%;
    padding-right: 5.71%;
  }
  .menu__element_logo .menu__link {
    padding-bottom: 38px;
  }
}
@media (min-width: 1200px) {
  .menu {
    display: $block;
    max-width: $full-width;
    background-color: rgba(0, 0, 0, 0.3);
    &--show {
      position: static;
    }
    &--active:hover {
      color: $magenta;
    }
    &--active:active {
      color: $white;
    }
  }
  .menu__element_logo .menu__link::before {
    background-image: url("../../img/logotype-white-desktop.svg");
  }
  .menu__element_logo .menu__link:hover::before {
    background-image: url("../../img/logotype-white-desktop-hover.svg");
  }
  .menu__element_logo .menu__link:active::before {
    background-image: url("../../img/logotype-white-desktop.svg");
    opacity: .3;
  }
  .menu__button {
    display: $none;
  }
  .menu__elements  {
    display: flex;
    padding-right: 130px;
    padding-left: 130px;
    background-color: $transparent;
    max-width: 940px;
    @mixin margin_auto;
  }
  .menu__elements > .menu__element:last-child {
    flex-grow: 1;
  }
  .menu__element_logo .menu__link {
    padding-bottom: 40px;
  }
  .menu__element_logo {
    flex-basis: 150px;
    padding-left: $zero;
    padding-right: $zero;
    flex-grow: $zero;
  }
  .menu__elements-container {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    padding-left: 169px;
  }
  .menu__elements-container .menu__link {
    text-transform: $none;
    padding-top: 46px;
    font-family: $OpenSans_regular;
    font-weight: $normal;
    padding-bottom: 9px;
  }
  .menu__elements-container .menu__link:hover {
    border-bottom-style: solid;
    border-bottom-width: 2px;
  }
  .menu__elements-container .menu__link:active {
    opacity: .3;
    border-bottom-style: $none;
  }
  .menu__element {
    border-bottom: $none;
    border-top: $none;
  }
  .menu__link:hover {
    color: $white;
  }
}
@media (min-resolution: 2dppx) {
  .menu__element_logo .menu__link::before {
    background-image: url("../../img/Pink-logo-3@2x.png");
    background-size: cover;
  }
}
