.personal-info__description {
  @mixin font_options $OpenSans_regular, $small, $blue, $biggest, $regular, $center, $none;
  margin: auto;
  margin-top: 47px;
  margin-bottom: 41px;
  width: 90%;
}
.personal-info__form {
  margin-left: 22px;
  margin-right: 22px;
}
.personal-info__name-section {
  border: none;
  padding: 0;
  margin: 0;
}
.personal-info__name-element-label {
  @mixin font_options $OpenSans_regular, $small, $magenta, $biggest, $regular, $center, $uppercase;
}
.personal-info__title {
  @mixin font_options $OpenSans_regular, $small, $magenta, $medium, $regular, $center, $uppercase;
  margin-top: 27px;
}
.personal-info__element-text {
  @mixin font_options $OpenSans_regular, $medium, $blue, $biggest, $regular, $left, $none;
  display: $block;
  width: calc(100% - 20px);
  padding-left: 20px;
  padding-top: 16px;
  padding-bottom: 12px;
  margin-bottom: 18px;
}
