.personal-info__description {
  @mixin font_options $OpenSans_regular, $small, $blue, $biggest, $regular, $center, $none;
  margin: $auto;
  margin-top: 45px;
  margin-bottom: 34px;
  width: 90%;
}
.personal-info__element:not(:checked) + .personal-info__custom-radio-element::before {
  content: "";
  display: $inline-block;
  width: 15px;
  height: 15px;
  background-color: $transparent;;
  border-radius: $half-width;
}
.personal-info__element--checked + .personal-info__custom-radio-element::before, .personal-info__element:checked + .personal-info__custom-radio-element::before {
  content: "";
  display: $inline-block;
  width: 15px;
  height: 15px;
  background-color: $magenta;
  border-radius: $half-width;
}
.personal-info__element:not(:checked) + .personal-info__custom-element svg {
  display: $none;
}
.personal-info__description-fill, .personal-info__element {
  display: $none;
}
.personal-info__form {
  margin-left: 20px;
  margin-right: 20px;
}
.personal-info__form [type=submit] {
  background-color: #2aab6d;
  @mixin font_options $OpenSans_regular, $medium, $white, $biggest, $bold, $center, $uppercase;
  cursor: pointer;
  border: $none;
  width: $full-width;
  height: 63px;
  border-radius: 2px;
}
.personal-info__form [disabled] {
  background-color: $dark-grey;
}
.personal-info__form [type=submit]:hover {
  background-color: #1c9b5e;
}
.personal-info__form [type=submit]:active {
  color: rgba(255, 255, 255, 0.3);
}
.personal-info__name-section {
  border: $none;
  padding: $zero;
  margin: $zero;
}
.personal-info__name-element-label {
  @mixin font_options $OpenSans_regular, $small, $magenta, $biggest, $regular, $center, $uppercase;
  margin-left: 23px;
}
.personal-info__title {
  @mixin font_options $OpenSans_regular, $small, $magenta, $medium, $regular, $center, $uppercase;
  margin-bottom: 42px;
  @mixin mobile_padding;
}
.personal-info__title-application {
  position: relative;
  top: 96px;
  margin-bottom: 86px;
  max-width: 258px;
}
.personal-info__achievements .personal-info__title {
  margin-bottom: 32px;
  position: relative;
  top: 69px;
  max-width: 258px;
}
.personal-info__achievements-element-container {
  margin-top: 69px;
}
.personal-info__emotions .personal-info__title {
  margin-bottom: 11px;
  margin-left: 36px;
}
.personal-info__element-text {
  @mixin font_options $OpenSans_regular, $medium, $blue, 62px, $regular, $left, $none;
  display: $block;
  width: calc($full-width - 24px);
  padding-left: 20px;
  height: 57px;
  margin-bottom: 16px;
  margin-top: 6px;
  @mixin input_border;
}
.personal-info__element-text:hover {
  border-color: $blue;
}
.personal-info__element-text:focus {
  border-color: $magenta;
  outline: $none;
}
.personal-info__element-text::-webkit-input-placeholder, .personal-info__textarea::-webkit-input-placeholder {
  color: $blue;
}
.personal-info__achievements, .personal-info__journey-application {
  background-color: $grey;
  margin-left: -$margin;
  margin-right: -20px;
  @mixin mobile_padding;
  margin-bottom: 38px;
  display: flex;
  flex-direction: column;
}
.personal-info__achievements {
  margin-top: -6px;
  padding-bottom: 7px;
  margin-bottom: 33px;
}
.personal-info__achievements, .personal-info__journey-application, .personal-info__emotions  {
  border-color: $transparent;
}
.personal-info__journey-application {
  margin-bottom: -3px;
  margin-top: -23px;
  padding-bottom: 3px;
}
.personal-info__emotions {
  margin-left: -20px;
  margin-right: -20px;
  margin-top: 60px;
}
.personal-info__achievements-element-label, .personal-info__element-label {
  @mixin font_options $OpenSans_regular, $medium, $blue, $biggest, $regular, $left, $none;
  margin-bottom: 47px;
  display: $block;
}
.personal-info__achievements-element-label {
  margin-bottom: 43px;
  line-height: 37px;
  display: flex;
}
.personal-info__element-label {
  margin-bottom: 37px;
}
.personal-info__achievements-element-column:last-of-type .personal-info__achievements-element-label:last-of-type {
  margin-bottom: 41px;
}
.personal-info__custom-element {
  width: 35px;
  height: 35px;
  display: $inline-block;
  background: $white;
  @mixin fielsdset_border;
  border-radius: 3px;
  line-height: 37px;
  text-align: $center;
  margin-right: 26px;
}
.personal-info__custom-element:hover {
  border-color: $blue;
}
.personal-info__custom-element:active {
  border-color: $magenta;
}
.personal-info__custom-radio-element {
  width: 35px;
  height: 34px;
  display: $inline-block;
  background-color: $white;
  border-radius: $half-width;
  border-style: solid;
  border-width: 2px;
  border-color: $dark-grey;
  text-align: $center;
  line-height: 35px;
  margin-right: 26px;
}
.personal-info__custom-radio-element:hover {
  border-color: $blue;
}
.personal-info__custom-radio-element:active {
  border-color: $magenta;
}
.personal-info__element-label:first-of-type .personal-info__custom-radio-element {
  margin-top: 40px;
}
.personal-info__textarea {
  width: calc($full-width - 40px) ;
  height: 183px;
  resize: $none;
  @mixin font_options $OpenSans_regular, $medium, $blue, $biggest, $regular, $left, $none;
  padding-left: 19px;
  padding-top: 14px;
  @mixin input_border;
  margin-bottom: 32px;
  margin-left: 8px;
  border-width: 2px;
}
.personal-info__contacts-tablet {
  display: $none;
}
.personal-info__name-container label {
  display: $inline-block;
  margin-top: -6px;
}
@media (min-width: 700px) {
  .personal-info__description {
    font-size: $medium;
    width: 72%;
    margin-top: 92px;
    margin-bottom: 71px;
  }
  .personal-info__custom-radio-element, .personal-info__custom-element {
    margin-right: 15px;
  }
  .personal-info__description-fill {
    display: inline;
  }
  .personal-info__name-element-label {
    display: flex;
    align-items: $center;
    margin-left: 20px;
  }
  .personal-info__element-text {
    margin-left: 19px;
    flex-grow: 1;
    margin-bottom: $zero;
    margin-top: $zero;
    width: $auto;
  }
  .personal-info__element-label {
    margin-bottom: 37px;
    display: $block;
    margin-top: 34px;
  }
  .personal-info__form {
    margin-right: 40px;
    display: flex;
    flex-direction: column;
  }
  .personal-info__journey-application {
    background-color: $transparent;
    margin-right: $zero;
    margin-left: 18px;
    margin-top: 56px;
    @mixin fielsdset_border;
    border-radius: 3px;
    padding-left: 60px;
    padding-bottom: 17px;
  }
  .personal-info__name-section, .personal-info__journey-application {
    order: -1;
  }
  .personal-info__title-application {
    position: static;
    padding-left: 25px;
    padding-right: 25px;
    max-width: $none;
  }
  .personal-info__element-label:first-of-type .personal-info__custom-radio-element {
    margin-top: 5px;
  }
  .personal-info__contacts {
    display: $none;
  }
  .personal-info__contacts-tablet {
    display: $block;
    margin-right: $zero;
    margin-left: 18px;
    margin-top: 60px;
    order: -1;
    @mixin fielsdset_border;
    border-radius: 3px;
    padding-bottom: 10px;
  }
  .personal-info__contacts-tablet .personal-info__element-text {
    margin-left: $zero;
    width: calc(100% - 25px);
    margin-bottom: 11px;
  }
  .personal-info__contacts-tablet .personal-info__title {
    margin-left: 170px;
    padding-left: 31px;
    padding-right: 33px;
  }
  .personal-info__contacts-tablet .personal-info__name-element-label {
    margin-left: 20px;
    margin-bottom: 29px;
  }
  .personal-info__contacts-tablet-input-container:last-of-type .personal-info__name-element-label {
    margin-bottom: 15px;
  }
  .personal-info__contacts-tablet-image-container {
    width: 60px;
    height: 59px;
    background-color: $dark-grey;
    text-align: center;
    line-height: 71px;
    position: absolute;
    top: 2px;
    right: 2px;
  }
  .personal-info__contacts-tablet-image {
    vertical-align: 5px;
  }
  .personal-info__contacts-tablet-input-container {
    position: relative;
    margin-left: 50px;
    margin-right: 48px;
    width: calc(100% - 98px);
  }
  .personal-info__achievements {
    background-color: $transparent;
    margin-left: 18px;
    margin-right: $zero;
    margin-top: 57px;
    @mixin fielsdset_border;
    border-radius: 3px;
    padding-left: 60px;
    margin-bottom: $zero;
  }
  .personal-info__emotions {
    margin-left: 18px;
    margin-right: $zero;
    margin-bottom: 67px;
    margin-top: 39px;
    @mixin fielsdset_border;
    border-radius: 3px;
  }
  .personal-info__textarea {
    margin-left: 49px;
    margin-right: 60px;
    margin-top: 14px;
    margin-bottom: 38px;
    width: calc(100% - 121px);
    height: 174px;
  }
  .personal-info__achievements .personal-info__title  {
    top: $zero;
    max-width: $none;
  }
  .personal-info__emotions .personal-info__title {
    margin-bottom: 37px;
    margin-left: 169px;
    position: relative;
    background: $white;
    padding-left: 39px;
    padding-right: 39px;
  }
  .personal-info__form-submit-container {
    margin-left: 18px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  .personal-info__form [type=submit], .competition-footer__form-field-requirements{
    flex-basis: 300px;
  }
  .personal-info__achievements .personal-info__title {
    margin-bottom: $zero;
    margin-left: 32px;
    padding-left: 31px;
    padding-right: 33px;
  }
  .personal-info__label-container {
    display: flex;
    margin-bottom: 53px;
  }
  .personal-info__label-container:last-child {
    margin-bottom: $zero;
  }
  .personal-info__title {
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: $zero;
    margin-left: 66px;
  }
  .personal-info__contacts-tablet-container {
    margin-top: 31px;
  }
  .personal-info__achievements-element-container {
    margin-top: 38px;
  }
}
@media (min-width: 1200px) {
.personal-info__form {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 130px;
  margin-right: 130px;
  }
.personal-info__contacts-tablet-image-container {
  line-height: 67px;
}
.personal-info__contacts-tablet .personal-info__element-text {
  margin-bottom: 9px;
}
.personal-info__contacts-tablet-image {
  vertical-align: 3px;
}
.personal-info__description {
  width: 67%;
  margin-bottom: 83px;
}
.personal-info__name-section {
    flex-basis: 435px;
}
.personal-info__title-application {
  margin-left: 30px;
}
.personal-info__name-element-label {
    margin-left: $zero;
 }
 .personal-info__journey-application {
   margin-top: -12px;
   @mixin padding_reset;
   flex-basis: 431px;
   margin-bottom: 1px;
 }
 .personal-info__contacts-tablet, .personal-info__achievements, .personal-info__emotions, .personal-info__form-submit-container {
   flex-basis: $full-width;
 }
 .personal-info__form-submit-container {
   margin-bottom: $zero;
   margin-left: $zero;
 }
 .competition-footer__form-field-marker {
   margin-right: 1px;
 }
 .personal-info__contacts-tablet-container {
   display: flex;
   margin-top: 28px;
 }
 .personal-info__contacts-tablet-input-container {
   width: calc(50% - 83px);
   margin-left: 48px;
 }
 .personal-info__contacts-tablet-input-container:first-of-type {
   margin-right: 35px;
 }
 .personal-info__contacts-tablet-input-container:last-of-type {
   margin-left: 35px;
 }
 .personal-info__achievements-element-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin-right: 30px;
   margin-bottom: 6px;
 }
 .personal-info__contacts-tablet {
   padding-bottom: 1px;
   margin-top: 56px;
   margin-left: $zero;
   height: 159px;
 }
 .personal-info__contacts-tablet .personal-info__title {
   margin-left: 328px;
 }
 .personal-info__textarea {
   height: 108px;
   margin-bottom: 45px;
 }
 .personal-info__emotions {
   padding-bottom: $zero;
   margin-left: $zero;
   margin-top: 40px;
   margin-bottom: 64px;
 }
 .personal-info__emotions .personal-info__title {
   margin-left: 327px;
   margin-bottom: 32px;
 }
 .personal-info__achievements {
   margin-left: $zero;
   padding-left: 58px;
 }
 .personal-info__achievements .personal-info__title {
   margin-left: 192px;
 }
 .personal-info__achievements-element-column:nth-child(2) {
   margin-left: -8px;
 }
 .personal-info__element-label {
   margin-left: 74px;
   margin-bottom: 36px;
   margin-top: 36px;
 }
 .personal-info__label-container {
   margin-bottom: 54px;
 }
 .personal-info__contacts-tablet .personal-info__name-element-label {
   margin-bottom: 13px;
 }
}
