.photos__description {
  @mixin font_options $OpenSans_regular, $small, $blue, $biggest, $regular, $center;
  margin-top: 45px;
  margin-left: 29px;
  margin-right: 29px;
  margin-bottom: 48px;
}
.photos__description:last-child {
  margin-top: 40px;
  margin-left: 25px;
  margin-bottom: 42px;
}
.photos__element--panorama .photos__element-comment {
  margin-bottom: 20px;
  padding-top: 19px;
}
.photos__element-comment {
  background-color: $grey;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 19px;
  padding-left: 17px;
  padding-right: 6px;
  padding-bottom: $zero;
  margin-top: -5px;
}
.photos__element--auto .photos__element-comment {
  padding-top: 18px;
}
.photos__element-comment .like {
  padding-left: $zero;
  margin-bottom: $zero;
  @mixin margin_reset;
}
.photos__element--panorama-label {
  @mixin font_options $OpenSans_bold, $smallest, $white, $big, $regular, $center, $none;
  background-color: $magenta;
  padding-top: 7px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-left: 20px;
  position: absolute;
  top: $zero;
  right: 20px;
}
.photos__element--panorama-image {
  width: $full-width;
}
.photos__element--panorama-image-block {
  position: relative;
}
.photos__element-author {
  @mixin font_options $OpenSans_regular, $small, $blue, $big, $bold, $center, $none;
}
.photos__element-time {
  @mixin font_options $OpenSans_light, $smallest, $blue, $big, $light, $center, $uppercase;
}
.photos__element-message {
  margin: $zero;
  @mixin font_options $OpenSans_regular, $small, $blue, $big, $regular, $left, $none;
  padding-bottom: 10px;
}
.photos__element-image {
  margin: $zero 20px;
}
.photos__container .photos__element {
  margin-bottom: 20px;
}
.photos__container .photos__element:first-child {
  margin-bottom: 19px;
}
.photos__br-tablet {
  display: $none;
}
@media (min-width: 700px) {
  .photos__description {
    font-size: $medium;
    margin-left: 57px;
    margin-right: 57px;
    margin-bottom: 76px;
    margin-top: 92px;
  }
  .photos__description:last-child {
    margin-top: 47px;
    margin-left: 55px;
    margin-bottom: 68px;
  }
  .photos__br-mobile {
    display: $none;
  }
  .photos__element-comment-container {
    padding-top: 19px;
    flex-grow: 1;
  }
  .photos__element--panorama-label {
    right: 40px;
    top: 56px;
  }
  .photos__container {
    display: flex;
    flex-wrap: wrap;
    @mixin tablet_padding;
    justify-content: space-between;
  }
  .photos__container .like {
    margin-bottom: 22px;
  }
  .photos__container .photos__element {
    width: calc($half-width - 10px);
    background-color: $grey;
  }
  .photos__element--panorama {
    margin-bottom: 50px;
  }
  .photos__element--panorama .photos__element-comment {
    width: calc(100% - 114px);
    margin-left: 40px;
    margin-right: 40px;
    margin-top: -4px;
    position: relative;
    padding-bottom: 25px;
    padding-top: 24px;
  }
  .photos__element-comment {
    width: $auto;
    padding-left: 28px;
  }
  .photos__container .photos__element-comment {
    min-height: 150px;
    padding-bottom: $zero;
    padding-top: $zero;
    display: flex;
    flex-direction: column;
  }
  .photos__element--panorama .like {
    position: absolute;
    top: 25px;
    right: 1px;
    margin-bottom: $zero;
    padding-bottom: $zero;
    padding-left: $zero;
  }
  .photos__element-comment .like {
    display: flex;
    padding-bottom: $zero;
  }
  .photos__element-comment .like__button {
    order: 1;
    margin-right: 25px;
    padding-right: $zero;
    margin-left: $auto;
  }
  .photos__element--panorama .like__button {
    margin-right: 28px;
    padding-right: $zero;
    margin-left: 17px;
  }
  .photos__element-image {
    width: $full-width;
    @mixin margin_reset;
  }
  .photos__element-comment {
    @mixin margin_reset;
    margin-top: $zero;
  }
  .photos__element--panorama .photos__element-message {
    padding-bottom: $zero;
  }
  .photos__br-tablet {
    display: $block;
  }
  .photos__container .photos__element:first-child {
    margin-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  .photos__description {
    width: 632px;
    @mixin margin_auto;
    margin-bottom: 88px;
  }
  .photos__br-tablet {
    display: $none;
  }
  .photos__element--panorama .photos__element-comment {
    margin-top: -4px;
    margin-left: 130px;
    margin-right: 130px;
    width: calc($full-width - 294px);
    padding-top: 24px;
  }
  .photos__container .photos__element:first-child {
    margin-bottom: 54px;
  }
  .photos__element--panorama .like {
    top: 25px;
    right: 4px;
  }
  .photos__element--panorama-label {
    right: 130px;
    top: 53px;
  }
  .photos__container {
    @mixin desktop_padding;
  }
  .photos__container .photos__element {
    width: 300px;
  }
  .photos__container .photos__element {
    margin-bottom: 54px;
  }
  .photos__description:last-child {
    margin-top: 5px;
    margin-bottom: 66px;
    margin-left: $auto;
  }
}
