.photo-editor {
  text-align: $center;
  background-image: url("../../img/grey-back.jpg");
  display: flex;
  flex-direction: column;
  &__image {
    display: $block;
    margin-left: 18px;
    margin-right: 20px;
    padding-top: 20px;
    width: 280px;
    height: 374px;
    margin-bottom: 42px;
    background-image: url("../../img/photo-7-mobile.jpg");
    background-repeat: $no-repeat;
    background-position-y: 20px;
  }
  &__crop-image {
    background-image: url("../../img/crop.svg");
    width: 44px;
    height: 44px;
    margin-right: 34px;
  }
  &__fill-image {
    background-image: url("../../img/fill.svg");
    width: 48px;
    height: 43px;
    margin-right: 40px;
  }
  &__contrast-image {
    background-image: url("../../img/contrast.svg");
    width: 32px;
    height: 32px;
    position: relative;
    top: -5px;
  }
  &__image-modification-button {
    @mixin button_reset;
  }
  &__functions {
    margin-bottom: 33px;
  }
  &__range {
    height: 2px;
    background-color: $blue;
    position: relative;
  }
  &__range::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: $magenta;
    border-radius: $half-width;
    position: absolute;
    top: -6px;
    background-color: $grey;
  }
  &__range:nth-child(8)::after {
      right: 33px;
  }
  &__range:nth-child(-n+5) {
    display: $none;
    margin-bottom: 11px;
  }
  &__range:nth-child(8) {
    display: $block;
    margin: $auto;
    width: 240px;
    margin-top: 33px;
  }
  &__button {
    @mixin font_options $OpenSans_bold, $medium, $magenta, $medium, $bold, $center, $none;
    display: $block;
    margin: $auto;
    margin-bottom: $smallest;
    border-radius: 28px;
    border-color: $magenta;
    border-width: 3px;
    border-style: solid;
    padding-top: 17px;
    padding-bottom: 14px;
    width: 280px;
  }
  &__button--cancel {
    color: $blue;
    opacity: .1;
    border-color: rgba(40, 54, 69, 1.0);
  }
  &__function-tuning {
    padding-bottom: 41px;
  }
}
hr {
  border-bottom: $none;
  border-top-color: rgba(40, 54, 69, 0.1);
}
hr:not(:last-of-type) {
  margin-bottom: 38px;
  display: $none;
}
hr:last-of-type {
  margin-top: 34px;
  margin-bottom: 38px;
}
@media (min-width: 700px) {
  .photo-editor {
    flex-direction: row;
  &__image {
    width: 300px;
    height: 400px;
    background-image: url("../../img/photo-7-tablet.jpg");
    margin-left: 40px;
    margin-bottom: 54px;
    margin-right: 45px;
    padding-top: 57px;
    background-position-y: 57px;
  }
  &__function-container {
    flex-grow: 1;
    margin-right: 40px;
    margin-top: 66px;
  }
  &__crop-image {
    width: 22px;
    height: 22px;
    background-image: url("../../img/crop_50.svg");
    margin-right: $zero;
  }
  &__fill-image {
    background-image: url("../../img/fill_50.svg");
    width: 24px;
    height: 22px;
    margin-right: $zero;
  }
  &__contrast-image {
    background-image: url("../../img/contrast_50.svg");
    width: 16px;
    height: 16px;
    top: 6px;
  }
  &__range {
      margin-bottom: 24px;
      margin-right: 18px;
      width: 69%;
  }
  &__range:not(:first-of-type) {
    display: $inline-block;
  }
  &__range:nth-child(-n+5) {
    display: $inline-block;
  }
  &__range:nth-child(2)::after {
      right: 42px;
  }
  &__range:nth-child(5)::after {
      left: 25px;
  }
  &__range:nth-child(8)::after {
      left: 92px;
  }
  &__range:nth-child(8) {
    width: 69%;
    margin-top: $zero;
    margin-right: 18px;
  }
  &__image-modification-button  {
    margin-right: 30px;
  }
  &__button {
    margin-bottom: 24px;
    }
  }
  hr {
    margin-bottom: 27px;
  }
  hr:last-of-type {
    margin-bottom: 67px;
    margin-top: 27px;
  }
  hr:not(:last-of-type) {
    display: $block;
    margin-top: 23px;
  }
}
@media (min-width: 1200px) {
  .photo-editor {
    margin-left: 130px;
    margin-right: 130px;
    margin-bottom: 98px;
    &__image {
      margin-left: 80px;
      margin-right: 90px;
    }
    &__function-container {
      margin-right: 60px;
    }
    &__crop-image {
      background-image: url("../../img/crop.svg");
      width: 44px;
      height: 44px;
    }
    &__fill-image {
      background-image: url("../../img/fill-desktop.svg");
      width: 48px;
      height: 43px;
    }
    &__contrast-image {
      background-image: url("../../img/contrast-desktop.svg");
      width: 32px;
      height: 32px;
    }
    &__button {
      display: $inline-block;
      width: 183px;
    }
    &__function-tuning {
      padding-bottom: 23px;
    }
    &__image-modification-button {
      margin-right: 44px;
    }
    &__button--cancel {
      margin-left: 35px;
    }
  }
  hr:not(:last-of-type) {
    margin-top: 13px;
  }
  hr:last-of-type {
    margin-top: 19px;
  }
}
