.photos__description {
  @mixin font_options $OpenSans_regular, $small, $blue, $biggest, $regular, $center;
  margin-top: 46px;
  margin-left: 29px;
  margin-right: 29px;
  margin-bottom: 48px;
}
.photos__element-comment {
  background-color: $grey;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: -4px;
  padding-top: 25px;
  padding-left: 17px;
  padding-right: 6px;
  padding-bottom: 13px;
}
.photos__element--panorama .photos__element-comment {
  padding-bottom: $zero;
  margin-bottom: 20px;
}
.photos__element-comment .like {
  padding-left: $zero;
  margin-bottom: $zero;
}
.photos__element--panorama-label {
  @mixin font_options $OpenSans_bold, $smallest, $white, $big, $bold, $center, $none;
  background-color: $magenta;
  padding-top: 7px;
  padding-right: 21px;
  padding-bottom: 5px;
  padding-left: 20px;
  position: absolute;
  top: $zero;
}
.photos__element--panorama-image {
  width: 100%;
}
.photos__element--panorama-image-block {
  position: relative;
}
.photos__element-author {
  @mixin font_options $OpenSans_bold, $small, $blue, $big, $bold, $center, $none;
}
.photos__element-time {
  @mixin font_options $OpenSans_light, $smallest, $blue, $big, $light, $center, $uppercase;
}
.photos__element--panorama .photos__element-message {
  padding-bottom: 13px;
}
.photos__element-message {
  margin: $zero;
  @mixin font_options $OpenSans_regular, $small, $blue, $big, $regular, $left, $none;
}
.photos__element-image {
  display: $block;
  margin: $zero 20px;
  width: 87%;
}
.photos__container .photos__element-image {
  width: 280px;
  height: 180px;
}
.photos__element--auto .photos__element-image {
  background-image: url("../../img/photo-1-mobile.jpg");
}
.photos__element--drums .photos__element-image {
  background-image: url("../../img/photo-2-mobile.jpg");
}
.photos__element--roof .photos__element-image {
  background-image: url("../../img/photo-3-mobile.jpg");
}
.photos__element--bakhcha .photos__element-image {
  background-image: url("../../img/photo-4-mobile.jpg");
}
.photos__element--legs .photos__element-image {
  background-image: url("../../img/photo-5-mobile.jpg");
}
.photos__element--plane .photos__element-image {
  background-image: url("../../img/photo-6-mobile.jpg");
}
.photos__container .photos__element {
  margin-bottom: 20px;
}
@media (min-width: 700px) {
  .photos__description {
    font-size: $medium;
    margin-left: 57px;
    margin-right: 57px;
    margin-bottom: 72px;
    margin-top: 54px;
  }
  .photos__element-comment-container {
    padding-top: 25px;
    flex-grow: 1;
  }
  .photos__container {
    display: flex;
    flex-wrap: wrap;
    @mixin tablet_padding;
    justify-content: space-between;
  }
  .photos__container .like {
    margin-bottom: 30px;
  }
  .photos__container .photos__element {
    width: calc($half-width - 10px);
    background-color: $grey;
  }
  .photos__element--panorama-image-block {
    background-image: url("../../img/panorama-tablet.jpg");
    min-height: 509px;
    background-repeat: $no-repeat;
  }
  .photos__element--panorama-image {
    display: $none;
  }
  .photos__element--panorama {
    margin-bottom: 50px;
  }
  .photos__element--panorama .photos__element-comment {
    width: calc(100% - 103px);
    margin-left: 40px;
    margin-right: 40px;
    margin-top: $zero;
    position: relative;
    padding-bottom: 28px;
    padding-top: 31px;
  }
  .photos__element-comment {
    width: $auto;
    padding-left: 28px;
  }
  .photos__container .photos__element-comment {
    min-height: 155px;
    padding-bottom: $zero;
    padding-top: $zero;
    display: flex;
    flex-direction: column;
  }
  .photos__element--panorama .like {
    position: absolute;
    top: 30px;
    right: $zero;
    margin-bottom: $zero;
    padding-bottom: $zero;
    padding-left: $zero;
  }
  .photos__element-comment .like {
    display: flex;
    padding-bottom: $zero;
  }
  .photos__element-comment .like__button {
    order: 1;
    margin-right: 28px;
  }
  .photos__element-image {
    width: $full-width;
    @mixin margin_reset;
  }
  .photos__element-comment {
    @mixin margin_reset;
    margin-top: $zero;
  }
  .photos__container .photos__element-image {
    width: 300px;
    height: 300px;
  }
  .photos__element--auto .photos__element-image {
    background-image: url("../../img/photo-1-tablet.jpg");
  }
  .photos__element--drums .photos__element-image {
    background-image: url("../../img/photo-2-tablet.jpg");
  }
  .photos__element--roof .photos__element-image {
    background-image: url("../../img/photo-3-tablet.jpg");
  }
  .photos__element--bakhcha .photos__element-image {
    background-image: url("../../img/photo-4-tablet.jpg");
  }
  .photos__element--legs .photos__element-image {
    background-image: url("../../img/photo-5-tablet.jpg");
  }
  .photos__element--plane .photos__element-image {
    background-image: url("../../img/photo-6-tablet.jpg");
  }
}
