.platforms {
  background-color: #1d2631;
  padding-top: 28px;
  padding-bottom: 35px;
  margin-top: 389px;
  position: relative;
  z-index: 1;
  &__download-link {
    @mixin font_options $OpenSans_bold, $medium, $white, $medium, $bold, $center, $none;
    vertical-align: top;
    border-radius: 28px;
    padding-top: 17px;
    padding-bottom: 14px;
    border: 3px solid $white;
    text-decoration: $none;
    margin: $auto;
    margin-bottom: 32px;
    display: $block;
    width: 258px;
  }
  &__description {
    @mixin font_options $OpenSans_light, $small, $white, $big, $light, $center, $none;
    padding-left: 33px;
    padding-right: 33px;
    margin: $zero;
  }
  &__images {
    display: flex;
    justify-content: space-between;
    margin-left: 57px;
    margin-right: 57px;
    margin-bottom: 28px;
  }
}
@media (min-width: 700px) {
  .platforms {
    margin-top: $zero;
    margin-left: 40px;
    margin-right: 40px;
    width: 300px;
    position: relative;
    z-index: 1;
    background-color: transparent;
    padding-top: 39px;
    &__download-link {
      width:$auto;
      margin-bottom: 46px;
    }
    &__images {
      margin-left: 47px;
      margin-right: 47px;
      margin-bottom: 41px;
    }
    &__description {
      font-size: $medium;
      padding: $zero;
    }
    &__android {
      opacity: 0.4;
    }
  }
}
@media (min-width: 1200px) {
  .platforms {
    margin-left: 130px;
    &__download-link {
      font-size: 21px;
    }
  }
}
