.platforms {
  background-color: #1d2631;
  padding-top: 28px;
  padding-bottom: 30px;
  margin-top: -32px;
  position: relative;
  z-index: 1;
  }
.platforms__download-link {
  @mixin font_options $OpenSans_bold, $medium, $white, $medium, $regular, $center, $none;
  vertical-align: top;
  border-radius: 28px;
  padding-top: 13px;
  padding-bottom: 17px;
  border: 3px solid $white;
  text-decoration: $none;
  margin: $auto;
  margin-bottom: 32px;
  display: $block;
  width: 276px;
  &:hover {
    background: $white;
    color: $magenta;
  }
  &:active {
    color: rgba(210, 40, 86, 0.3);
  }
}
.platforms__description {
  @mixin font_options $OpenSans_light, $small, $white, $big, $light, $center, $none;
  padding-left: 33px;
  padding-right: 33px;
  box-sizing: border-box;
  margin: $zero;
  max-width: 320px;
  @mixin margin_auto;
}
.platforms__images {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
  width: 204px;
  @mixin margin_auto;
}
.platforms__android {
  margin-top: 7px;
  margin-left: -3px;
}
.platforms__windows {
  margin-top: 9px;
}
@media (min-width: 700px) {
  .platforms {
    margin-top: $zero;
    margin-left: 40px;
    margin-right: 40px;
    width: 300px;
    position: relative;
    z-index: 1;
    background-color: transparent;
    padding-top: 32px;
  }
  .platforms__download-link {
    width:$auto;
    margin-bottom: 46px;
  }
  .platforms__images {
    margin-left: 47px;
    margin-right: 47px;
    margin-bottom: 32px;
    width: $auto;
  }
  .platforms__description {
    font-size: $medium;
    padding: $zero;
  }
  .platforms__android {
    opacity: 0.4;
  }
}
@media (min-width: 1200px) {
  .platforms {
    margin-left: 130px;
    margin-top: 20px;
  }
  .platforms__download-link {
    font-size: 21px;
    font-weight: $normal;
    margin-bottom: 67px;
  }
  .platforms__android {
    opacity: 1;
  }
  .platforms__images {
    margin-bottom: 50px;
  }
}
