.platforms {
  background-color: #1d2631;
  padding-top: 28px;
  padding-bottom: 30px;
  margin-top: 392px;
  position: relative;
  z-index: 1;
  &__download-link {
    @mixin font_options $OpenSans_bold, $medium, $white, $medium, $regular, $center, $none;
    vertical-align: top;
    border-radius: 28px;
    padding-top: 13px;
    padding-bottom: 17px;
    border: 3px solid $white;
    text-decoration: $none;
    margin: $auto;
    margin-bottom: 32px;
    display: $block;
    width: 276px;
  }
  &__download-link:hover {
    background: $white;
    color: $magenta;
  }
  &__download-link:active {
    color: rgba(210, 40, 86, 0.3);
  }
  &__description {
    @mixin font_options $OpenSans_light, $small, $white, $big, $light, $center, $none;
    padding-left: 33px;
    padding-right: 33px;
    margin: $zero;
  }
  &__images {
    display: flex;
    justify-content: space-between;
    margin-left: 57px;
    margin-right: 57px;
    margin-bottom: 22px;
  }
  &__android {
    margin-top: 7px;
    margin-left: -3px;
  }
  &__windows {
    margin-top: 9px;
  }
}
@media (min-width: 700px) {
  .platforms {
    margin-top: $zero;
    margin-left: 40px;
    margin-right: 40px;
    width: 300px;
    position: relative;
    z-index: 1;
    background-color: transparent;
    padding-top: 32px;
    &__download-link {
      width:$auto;
      margin-bottom: 46px;
    }
    &__images {
      margin-left: 47px;
      margin-right: 47px;
      margin-bottom: 38px;
    }
    &__description {
      font-size: $medium;
      padding: $zero;
    }
    &__android {
      opacity: 0.4;
    }
  }
}
@media (min-width: 1200px) {
  .platforms {
    margin-left: 130px;
    margin-top: 20px;
    &__download-link {
      font-size: 21px;
      font-weight: $normal;
      margin-bottom: 67px;
    }
    &__android {
      opacity: 1;
    }
    &__images {
      margin-bottom: 55px;
    }
  }
}
