.platforms {
  background-color: #1d2631;
  padding-top: 28px;
  padding-bottom: 35px;

  &__download-link {
    @mixin font_options $OpenSans, $medium, $white, $medium, $bold, $center;
    vertical-align: top;
    padding-top: 17px;
    padding-bottom: 14px;
    border: 3px solid $white;
    text-decoration: none;
    margin: auto;
    margin-bottom: 32px;
    display: block;
    width: 258px;
  }
  &__description {
    @mixin font_options $OpenSans, $small, $white, $big, $light, $center;
    padding-left: 33px;
    padding-right: 33px;
    margin: 0;
  }
}
