.pop-up {
  display: $none;
  max-width: 320px;
  margin: $auto;
&__button {
  margin-top: 50px;
  @mixin button;
  }
  &__button-container {
    height: 163px;
    background-color: #f2f2f2;
    @mixin mobile_padding;
  }
  &__header {
    @mixin font_options $OpenSans_bold, $medium, $black, $big, $bold, $center;
    padding-top: 46px;
    padding-bottom: 32px;
    margin: $zero;
  }
  &__message {
    @mixin font_options $OpenSans, $small, $blue, $big, $regular, $center;
    padding-left: 22px;
    padding-right: 22px;
    margin-bottom: 37px;
    margin-top: $zero;
  }
  &--show {
    display: $block;
    position: absolute;
    left: $zero;
    right: $zero;
    bottom: 726px;
    background-color: $white;
    box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  }
}
