.promo-container {
  background-color: $grey;
  text-align: $center;
  padding-top: 40px;
  margin-top: -36px;
}
.promo-container__content-image {
  margin-bottom: -4px;
}
@media (min-width: 700px) {
  .promo-container {
    display: flex;
    position: relative;
    overflow: hidden;
    flex-direction: row-reverse;
    padding-top: 11px;
    background-color: transparent;;
    min-height: 558px;
    justify-content: center;
    &::before {
      display: block;
      content: "";
      position: absolute;
      top: 80px;
      border-bottom: solid #f2f2f2 59px;
      border-left: solid transparent;
      border-left-width: 100vw;
      z-index: -1;
    }
    &::after {
      display: $block;
      content: "";
      position: absolute;
      top: 139px;
      width: $full-width;
      height: $full-width;
      z-index: -1;
      background-color: $grey;
    }
  }
  .promo-container__content-image {
    flex-basis: 50%;
    margin-top: 76px;
    height: $auto;
    max-width: $full-width;
  }
}
@media (min-width: 1200px) {
  .promo-container {
    max-width: 1200px;
    @mixin margin_auto;
    &::after, &::before {
      display: $none;
    }
  }
  .promo-container__content-image {
    display: $none;
  }
}
