.content__title {
  font-family: $OpenSans;
  font-weight: $bold;
  font-size: $medium;
  line-height: $big;
}
.content__description {
  font-family: $OpenSans;
  font-size: $small;
  line-height: $big;
  color: $blue;
}
