.promo {
  @mixin list_reset;
  &__content-title {
    @mixin font_options $OpenSans, $medium, $black, 13px, $bold, $center;
    margin: $zero;
  }
  &__content-description {
    @mixin font_options $OpenSans_regular, $small, $blue, $big, $regular, $center;
    margin-bottom: 37px;
    margin-top: 17px;
  }
  &__item {
    padding: $zero 24px;
  }
  &__item:last-child {
    padding: $zero 20px;
  }
  &__desktop-br {
    display: $none;
  }
  &__tablet-br {
    display: $none;
  }
  &__item-image {
    display: $none;
  }
}
@media (min-width: 700px) {
  .promo {
      flex-basis: $half-width;
      min-width: 310px;
      position: relative;
      top: 153px;
      left: 43px;
  &__tablet-br {
    display: $block;
  }
  &__content-title, &__content-description {
    text-align: left;
  }
  &__item, &__item:last-child {
    padding-right: $zero;
    padding-left: $zero;
  }
  &__content-description {
    margin-bottom: 40px;
  }
 }
}
@media (min-width: 1200px) {
  .promo {
      flex-basis: $full-width;
      display: flex;
      top: 104px;
      left: -21px;
  &__tablet-br {
    display: $none;
  }
  &__item-image {
    display: inline;
  }
  &__desktop-br {
    display: $block;
  }
  &__item:first-child &__content-description {
    padding-left: 49px;
  }
  &__item:nth-child(2) &__content-description {
    padding-left: 34px;
    padding-right: 44px;
  }
  &__item:nth-child(2) &__item-image {
    margin-left: -9px;
  }
  &__item:nth-child(3) &__item-image {
    margin-left: 29px;
  }
  &__content-title {
    margin-top: -95px;
    position: relative;
    padding-top: 64px;
    font-size: $biggest;
    line-height: $biggest;
    text-align: $center;
    background-image: url("../../img/Layer 157.png");
  }
  &__item:nth-child(2) &__content-title {
    padding-left: 13px;
    padding-right: 27px;
  }
  &__content-description {
    font-size: $medium;
    line-height: $biggest;
    text-align: $center;
    padding-left: 44px;
    padding-right: 45px;
    margin-top: 24px;
  }
  &__item:last-child &__content-description {
    padding-left: 22px;
  }
  &__item:last-child &__content-description {
    padding-left: 36px;
    padding-right: 12px;
  }
 }
}
