.promo {
  @mixin list_reset;
  &__content-title {
    @mixin font_options $OpenSans, $medium, $black, 13px, $bold, $center;
    margin: $zero;
  }
  &__content-description {
    @mixin font_options $OpenSans_regular, $small, $blue, $big, $regular, $center;
    margin-bottom: 37px;
    margin-top: 17px;
  }
  &__item {
    padding-left: 7.5%;
    padding-right: 7.5%;
  }
  &__item:last-child {
    padding: $zero 20px;
  }
  &__desktop-br {
    display: $none;
  }
  &__tablet-br {
    display: $none;
  }
  &__item-image {
    display: $none;
  }
}
@media (min-width: 700px) {
  .promo {
      flex-basis: 353px;
      min-width: 310px;
      position: relative;
      top: 153px;
      left: 43px;
  &__tablet-br {
    display: $block;
  }
  &__content-title, &__content-description {
    text-align: left;
  }
  &__item, &__item:last-child {
    padding-right: $zero;
    padding-left: $zero;
  }
  &__content-description {
    margin-bottom: 40px;
  }
 }
}
@media (min-width: 1200px) {
  .promo {
      flex-basis: $full-width;
      display: flex;
      top: 104px;
      left: -21px;
  &__tablet-br {
    display: $none;
  }
  &__item-image {
    display: inline;
  }
  &__desktop-br {
    display: $block;
  }
  &__item:first-child &__content-description {
    padding-left: 48px;
    padding-right: 25px;
  }
  &__item:nth-child(2) &__content-description {
    padding-left: 56px;
    padding-right: 31px;
  }
  &__item:nth-child(1) &__item-image {
    margin-left: 25px;
  }
  &__item:nth-child(2) &__item-image {
    margin-left: 31px;
  }
  &__item:nth-child(3) &__item-image {
    margin-left: 29px;
  }
  &__content-title {
    padding-top: 50px;
    font-size: $biggest;
    line-height: $biggest;
    text-align: $center;
  }
  &__item:nth-child(2) &__content-title {
    padding-left: 44px;
    padding-right: 27px;
  }
  &__item:nth-child(3) &__content-title {
    padding-left: 10px;
  }
  &__content-description {
    font-size: $medium;
    line-height: $biggest;
    text-align: $center;
    padding-left: 44px;
    padding-right: 45px;
    margin-top: 24px;
  }
  &__item:last-child &__content-description {
    padding-left: 45px;
    padding-right: 28px;
  }
 }
}
