.promo {
  background-color: $grey;
  @mixin list_reset;
  text-align: $center;
  overflow: hidden;

  &__content-title {
    @mixin font_options $OpenSans_bold, $medium, $black, $big, $bold, $center;
    margin: $zero;
  }
  &__content-description {
    @mixin font_options $OpenSans_regular, $small, $blue, $big, $regular, $center;
    margin-bottom: 40px;
    margin-top: 19px;
  }
  &__item {
    padding: $zero 24px;
  }
  &__item:last-child {
    padding: $zero 20px;
  }
  &__content-image {
    margin-bottom: -49px;
  }
}
