.promo {
  @mixin list_reset;
  max-width: 320px;
  @mixin margin_auto;
  margin-top: 16px;
  margin-bottom: 16px;
}
.promo__content-title {
  @mixin font_options $OpenSans_regular, $medium, $black, 13px, $bold, $center;
  margin: $zero;
}
.promo__content-description {
  @mixin font_options $OpenSans_regular, $small, $blue, $big, $regular, $center;
  margin-bottom: 37px;
  margin-top: 17px;
}
.promo__item {
  padding-left: 7.5%;
  padding-right: 7.5%;
  &:last-child {
    padding: $zero 20px;
  }
}
.promo__desktop-br {
  display: $none;
}
.promo__tablet-br {
  display: $none;
}
.promo__item-image {
  display: $none;
}
@media (min-width: 700px) {
  .promo {
    flex-basis: 329px;
    min-width: 310px;
    margin-bottom: $zero;
    margin-right: $zero;
    margin-top: 153px;
    margin-left: 43px;
    max-width: $none;
  }
  .promo__tablet-br {
    display: $block;
  }
  .promo__content-title, .promo__content-description {
    text-align: left;
  }
  .promo__item, .promo__item:last-child {
    padding-right: $zero;
    padding-left: $zero;
  }
  .promo__content-description {
    margin-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .promo {
    flex-basis: $full-width;
    display: flex;
    margin-top: 100px;
    margin-left: -44px;
  }
  .promo__tablet-br {
    display: $none;
  }
  .promo__item-image {
    display: inline;
    max-width: 340px;
  }
  .promo__desktop-br {
    display: $block;
  }
  .promo__item:first-child .promo__content-description {
    padding-left: 48px;
    padding-right: 25px;
  }
  .promo__item:nth-child(2) .promo__content-description {
    padding-left: 56px;
    padding-right: 31px;
  }
  .promo__item:nth-child(1) .promo__item-image {
    margin-left: 25px;
  }
  .promo__item:nth-child(2) .promo__item-image {
    margin-left: 31px;
  }
  .promo__item:nth-child(3) .promo__item-image {
    margin-left: 29px;
  }
  .promo__content-title {
    padding-top: 50px;
    font-size: $biggest;
    line-height: $biggest;
    text-align: $center;
  }
  .promo__item:nth-child(2) .promo__content-title {
    padding-left: 44px;
    padding-right: 27px;
  }
  .promo__item:nth-child(3) .promo__content-title {
    padding-left: 10px;
  }
  .promo__content-description {
    font-size: $medium;
    line-height: $biggest;
    text-align: $center;
    padding-left: 44px;
    padding-right: 45px;
    margin-top: 24px;
  }
  .promo__item:last-child .promo__content-description {
    padding-left: 45px;
    padding-right: 28px;
  }
}
