.promo-container {
  background-color: $grey;
  text-align: $center;
  overflow: hidden;
  &__content-image {
    margin-bottom: -45px;
    margin-top: 41px;
    @mixin margin_auto;
  }
}
@media (min-width: 700px) {
.promo-container {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 40px;
  background-color: transparent;;
  background-image: url("../../img/Shape 2-tablet.svg");
  background-position-y: 26px;
  background-repeat: no-repeat;
  min-height: 558px;
  margin-left: -45px;
  &__content-image {
    flex-basis: 50%;
    margin-top: 76px;
    height: $auto;
    margin-bottom: -73px;
  }
 }
}
@media (min-width: 1200px) {
.promo-container {
  @mixin desktop_padding;
  background-position-y: 99px;
  min-height: 715px;
  margin-left: $zero;
&__content-image {
  display: $none;
  }
 }
}
@media (min-width: 1201px) {
.promo-container {
  background-image: $none;
  }
}
