.second-slider {
  background-image: url("../../img/Shape_2_copy.png");
  padding-top: 133px;

  &__header {
    background-color: $blue;
    text-align: $center;
    padding-bottom: 20px;
  }
  &__package {
    @mixin font_options $OpenSans, $medium, $white, $biggest, $bold, $center;
    text-transform: $uppercase;
    padding-top: 19px;
    margin: 0;
    margin-bottom: 3px;
  }
  &__price {
    @mixin font_options $OpenSans, $big, $white, $biggest, $light, $center;
  }
  &__hit {
    @mixin font_options $OpenSans, $small, $white, $biggest, 600, $center;
    background-color: $magenta;
  }
  &__option {
    @mixin font_options $OpenSans, $small, $blue, $biggest, $normal, left;
    text-transform: $uppercase;
    border-bottom: 2px solid #e5e5e5;
    padding-left: 44px;
    padding-top: 14px;
    padding-bottom: 15px;
    }
  &__options {
    background-color: $white;
    @mixin list_reset;
  }
  &__tumbler {
    padding-top: 40px;
    padding-bottom: 47px;
    background-color: $grey;
  }
}
