.second-slider {
  background-image: url("../../img/Shape_2_copy.png");
}
.second-slider__header {
  background-color: $blue;
}
.second-slider__package {
  font-family: $OpenSans;
  font-size: $medium;
  font-weight: $bold;
  color: $white;
  text-transform: $uppercase;
  line-height: $biggest;
}
.second-slider__price {
  font-family: $OpenSans;
  font-size: $big;
  font-weight: $light;
  color: $white;
  line-height: $biggest;
}
.second-slider__hit {
  font-family: $OpenSans;
  font-weight: 600;
  font-size: $small;
  color: $white;
  line-height: $biggest;
  background-color: #d22856;
}
.second-slider__option {
  font-family: $OpenSans;
  font-size: $small;
  line-height: $biggest;
  color: $blue;
}
