.second-slider-container {
      padding-top: 133px;
      padding-bottom: 48px;
      background-image: url("../../img/Shape 2 copy.svg");
      background-position: -92px -18px;
      background-repeat: $no-repeat;
}
@media (min-width: 700px) {
  .second-slider-container {
        padding-bottom: 70px;
        padding-top: 109px;
      }
}
@media (min-width: 983px) {
  .second-slider-container {
    background-position: inherit;
  }
}
@media (min-width: 1200px) {
  .second-slider-container {
    padding-top: 152px;
    background-position: $zero -4px;
    padding-bottom: 94px;
  }
}
@media (min-width: 1201px) {
.second-slider-container {
  background-repeat: $no-repeat;
  background-size: cover;
  margin-top: 36px;
  }
}
