.second-slider-container {
      padding-top: 133px;
      padding-bottom: 48px;
      background-image: url("../../img/Shape 2 copy.svg");
      background-position: -92px -18px;
}
@media (min-width: 700px) {
  .second-slider-container {
        padding-bottom: 70px;
      }
}
@media (min-width: 1200px) {
  .second-slider-container {
    padding-top: 158px;
    background-position: $zero $zero;
    padding-bottom: 97px;
  }
}
