.second-slider {
  &__header-group {
    background-color: $blue;
  }
  &__header {
    text-align: $center;
    padding-bottom: 16px;
    overflow: hidden;
    position: relative;
    margin: $zero 20px;
    border-left: 2px solid $dark-grey;
    border-right: 2px solid $dark-grey;
  }
  &__header:first-child, &__header:last-child {
    display: $none;
  }
  &__package {
    @mixin font_options $OpenSans_bold, $medium, $white, $biggest, $bold, $center, $uppercase;
    padding-top: 19px;
    margin: $zero;
    margin-bottom: 3px;
  }
  &__price {
    @mixin font_options $OpenSans_light, $big, $white, $biggest, $light, $center, $none;
  }
  &__hit {
    @mixin font_options $OpenSans, $small, $white, $biggest, 600, $center, $none;
    background-color: $magenta;
    transform: rotate(-45deg);
    display: $block;
    position: absolute;
    left: -41%;
    top: 9%;
    width: $full-width;
  }
  &__option {
    @mixin font_options $OpenSans_regular, $small, $blue, $biggest, $regular, $left, $uppercase;
    border-bottom: 2px solid $dark-grey;
    margin: 0px 19px;
    border-left: 2px solid $dark-grey;
    border-right: 2px solid $dark-grey;
    padding-left: 44px;
    padding-top: 14px;
    padding-bottom: 15px;
    position: relative;
    }
  &__option::before {
    @mixin table_side_columns;
    left: -$margin;
  }
  &__option::after {
    @mixin table_side_columns;
    right: -21px;
  }
  &__option-check {
    background-image: url("../../img/yes.svg");
    background-repeat: $no-repeat;
    background-position: 92% $center;
  }
  &__option--not-selected &__option-check {
    background-image: $none;
  }
  &__option--not-selected {
    background-image: url("../../img/no.svg");
    background-repeat: $no-repeat;
    background-position: 92% $center;
  }
  &__options {
    background-color: $white;
    @mixin list_reset;
  }
  & .slider-tumbler {
    margin-top: 40px;
  }
}
@media (min-width: 700px) {
  .second-slider {
    display: table;
    margin-left: 40px;
    margin-right: 40px;
    width: calc(100% - 80px);
    border-collapse: collapse;
    background-image: $none;
  &__header, &__header:first-child, &__header:last-child {
    display: table-cell;
    border-right: 2px solid $dark-grey;
    width: 25%;
    padding-bottom: 15px;
  }
  &__header:last-child {
    border-right: $none;
  }
  &__header-group::before {
    content: "";
    display: table-cell;
  }
  & .slider-tumbler {
  display: $none;
  }
  &__header-group {
    display: table-header-group;
  }
  &__options {
    display: table-row-group;
  }
  &__option {
    display: table-row;
  }
  &__option:first-child &__option-check:not(:first-child) {
    border-top: $none;
  }
  &__option::after {
    display: $none;
  }
  &__option-check {
    display: table-cell;
    border: 2px solid $dark-grey;
    text-transform: $none;
    padding-left: 15px;
    padding-top: 8px;
    padding-bottom: 6px;
  }
  &__package {
    font-size: 16px;
    padding-top: 12px;
  }
  &__price {
    font-size: $medium;
  }
 }
}
@media (min-width: 1200px) {
  .second-slider {
    margin-left: 130px;
    margin-right: 130px;
    width: calc(100% - 260px);
    &__package {
      font-size: $medium;
    }
    &__price {
      font-size: $big;
    }
    &__option-check {
      font-size: $medium;
      padding-top: 16px;
      padding-bottom: $smallest;
      padding-left: $big;
    }
  }
}
