.site-logo {
  text-decoration: $none;
  &--footer {
    display: $block;
    text-align: $center;
    margin-top: 40px;
    margin-bottom: 37px;
  }
  &--footer:hover {
    background: url("../../img/PINK copy.svg");
    background-repeat: no-repeat;
    width: 147px;
    height: 44.5px;
    margin-top: 40px;
    margin-bottom: 37px;
    @mixin margin_auto;
  }
  &--footer:hover &__image {
    display: $none;
  }
  &--footer:hover:active {
    background: url("../../img/logotype-blue-tablet.svg");
    background-repeat: no-repeat;
    opacity: .3;
  }
  & svg {
    fill: $white;
    position: relative;
    z-index: 10;
  }
  & svg:hover {
    fill: $magenta;
  }
  & svg:active {
    opacity: .3;
    fill: $white;
  }
}
@media (min-width: 700px) {
.site-logo:hover {
  background-image: $none;
  height: $auto;
}
.site-logo--footer:hover {
  background: url("../../img/PINK copy.svg");
  background-repeat: $no-repeat;
  width: 147px;
  height: 44.5px;
  margin-top: 36px;
  margin-bottom: 51px;
  margin-right: 3px;
}
.site-logo:hover .site-logo__image {
  display: $none;
}
.site-logo:hover:active .site-logo__text {
  display: $none;
}
.site-logo--footer:hover:active {
  background: url("../../img/logotype-blue-tablet.svg");
  background-repeat: $no-repeat;
  opacity: .3;
}
.site-logo::before {
  content: "";
  display: $inline-block;
  width: 147px;
  height: 40px;
  background: url("../../img/logotype-white-tablet.svg");
}
.site-logo svg {
  display: $none;
}
.site-logo:hover::before {
  background: url("../../img/PINK copy.svg");
  background-repeat: $no-repeat;
}
.site-logo:active::before {
  background: url("../../img/logotype-white-tablet.svg");
  opacity: .3;
}
.site-logo__text {
  display: $none;
  }
.site-logo--footer {
    margin-top: 36px;
    margin-bottom: 51px;
    margin-right: 3px;
  }
}
@media (min-resolution: 2dppx) {
  .site-logo::before {
    background-image: url("../../img/Pink-logo-2@2x.png");
    background-size: cover;
  }
  .site-logo__image {
    display: $none;
  }
  .site-logo--footer {
    width: 159px;
    @mixin margin_auto;
    height: 44px;
    background: url("../../img/Pink-logo-footer-2@2x.png");
    background-size: contain;
    background-repeat: $no-repeat;
  }
}
@media (min-width: 1200px) {
  .site-logo:hover {
    background-image: url("../../img/logotype-white-desktop-hover.svg");
  }
 .site-logo__image {
   display: $none;
 }
 .site-logo--footer {
   width: 147px;
   height: 40px;
   background: url("../../img/logotype-blue-desktop.svg");
   background-repeat: $no-repeat;
   margin-top: -19px;
   margin-bottom: $zero;
   margin-right: 11px;
 }
 .site-logo--footer:hover {
   height: 40px;
   margin-top: -19px;
   margin-bottom: $zero;
   margin-right: 11px;
 }
 .site-logo:hover:active {
   background: url("../../img/logotype-blue-desktop.svg");
   background-repeat: $no-repeat;
   opacity: .3;
 }
}
@media (min-width: 1200px) and (min-resolution: 2dppx) {
.site-logo--footer {
  background: url("../../img/Pink-logo-footer-3@2x.png");
  background-size: cover;
  }
}
