.site-logo {
  text-decoration: $none;
  &:active {
    opacity: .3;
  }
}
.site-logo--footer {
  display: $block;
  text-align: $center;
  margin-top: 40px;
  margin-bottom: 37px;
  &:hover {
    margin-top: 40px;
    margin-bottom: 37px;
    @mixin margin_auto;
  }
}
.site-logo--footer:hover .site-logo__image {
  display: $none;
}
.site-logo svg {
  fill: $white;
  position: relative;
  z-index: 10;
}
.site-logo .tablet-glasses {
  display: $none;
}
.site-logo--footer .tablet-glasses {
  display: inline;
}
.tablet-glasses {
  fill: $magenta;
}
.site-logo--footer .st0 {
  fill: $blue;
}
.site-logo:hover .st0 {
  fill: $magenta;
}
.site-logo:hover:active .st0 {
  fill: $white;
}
.site-logo--footer:hover:active .st0 {
  fill: $blue;
}
.site-logo svg:active {
  fill: $white;
}
.site-logo__image {
  max-width: $full-width;
}
.site-logo--footer g:first-of-type {
  transform: translate($zero);
}
@media (min-width: 700px) {
  .site-logo:hover {
    background-image: $none;
    height: $auto;
  }
  .site-logo .st2 {
    fill: $white;
  }
  .site-logo:hover .st2 {
    fill: $magenta;
  }
  .site-logo:hover:active .st2 {
    fill: $white;
  }
  .site-logo--footer:hover:active .st2 {
    fill: $magenta;
  }
  .site-logo--footer .st2 {
    fill: $magenta;
  }
  .site-logo .tablet-glasses {
    display: inline;
  }
  .site-logo--footer:hover {
    margin-top: 36px;
    margin-bottom: 51px;
    margin-right: 3px;
  }
  .site-logo:hover .site-logo__image {
    display: $none;
  }
  .site-logo:hover:active .site-logo__text {
    display: $none;
  }
  .site-logo__text {
    display: $none;
    }
  .site-logo--footer {
    margin-top: 36px;
    margin-bottom: 51px;
    margin-right: 3px;
    flex-basis: 145px;
  }
}
@media (min-width: 1200px) {
 .site-logo__image {
   display: $none;
 }
 .site-logo--footer {
   height: 40px;
   margin-top: -19px;
   margin-bottom: $zero;
   margin-right: 11px;
   flex-basis: 147px;
 }
 .site-logo--footer .tablet-glasses {
   display: $none;
 }
 .site-logo--footer .logo-group:nth-of-type(2) {
   fill: $magenta;
 }
 .site-logo--footer:hover .logo-group:nth-of-type(2) {
   fill: $blue;
 }
 .site-logo--footer:hover:active .logo-group:nth-of-type(2) {
   fill: $magenta;
 }
 .site-logo:hover .st0 {
   fill: $blue;
 }
 .stars .st2 {
   fill: $blue;
 }
 .site-logo:hover .st2 {
   fill: $magenta;
 }
 .site-logo:hover:active .st2 {
   fill: $blue;
 }
 .stars .st3 {
   fill: $magenta;
 }
 .site-logo--footer:hover {
   height: 40px;
   margin-top: -19px;
   margin-bottom: $zero;
   margin-right: 11px;
 }
 .site-logo:hover:active {
   opacity: .3;
 }
}
