.slider__title {
  @mixin font_options $OpenSans_bold, $medium, $black, $biggest, $bold, $center, $none;
  margin-top: 42px;
  margin-bottom: 13px;
}
.slider__description {
  @mixin font_options $OpenSans_regular, $small, $blue, $biggest, $regular, $center, $none;
  margin-left: 19px;
  margin-right: 19px;
  margin-bottom: 33px;
  margin-top: $zero;
}
.slider__description::before {
  content: "«";
  margin-right: -5px;
}
.slider__description::after {
  content: "»";
  margin-left: -5px;
}
.slider__subtitle {
  display: $none;
}
.slider__top-content {
  display: $none;
}
.slider__arrow {
  display: $none;
}
.slider__desktop-br {
  display: $none;
}
@media (min-width: 700px) {
  .slider {
    @mixin tablet_padding;
    padding-top: 58px;
    background-color: $white;
    display: flex;
    flex-direction: column;
  &__title {
    font-size: 20px;
    order: 2;
    font-family: $OpenSans;
    margin-top: 34px;
    margin-bottom: 34px;
     }
  &__subtitle {
    @mixin font_options $OpenSans_regular, $small, $blue, $biggest, $regular, $center, $none;
    display: $block;
    margin-top: 2px;
  }
  &__description {
    font-size: $medium;
    margin: 94px $zero $zero;
    order: 1;
  }
  &__top-content {
    display: flex;
    justify-content: space-between;
  }
  &__top-conten-right-side {
    flex-basis: $half-width;
  }
  &__top-conten-right-side-title {
    @mixin font_options $OpenSans_bold, $biggest, $black, 36px, $regular, $left, $none;
    margin-top: 38px;
    margin-bottom: -4px;
    width: 170px;
  }
  &__top-conten-right-side-content {
    @mixin font_options $OpenSans_regular, $small, $blue, $big, $regular, $left, $none;
    padding-right: 14px;
    margin-bottom: 10px;
  }
  &__top-conten-right-link {
    @mixin font_options $OpenSans_regular, $small, $magenta, $big, $regular, $left, $none;
  }
  &__top-content-image-container {
    position: relative;
    text-align: $center;
  }
  &__top-content-number {
    position: absolute;
    top: 49%;
    left: $zero;
    right: $zero;
    @mixin font_options $OpenSans_bold, 96px, $magenta, $biggest, $regular, $center, $none;
  }
 }
}
@media (min-width: 1200px) {
.slider {
  margin-top: 15px;
  padding-top: $zero;
  @mixin desktop_padding;
  &__description::before {
    content: "";
  }
  &__description::after {
    content: "";
  }
  &__tablet-br {
    display: $none;
  }
  &__desktop-br {
    display: $block;
  }
  &__top-conten-right-side {
    flex-basis: 574px;
  }
  &__top-conten-right-side-title {
    width: $auto;
    margin-top: 91px;
  }
  &__top-conten-right-side-title br {
    display: $none;
  }
  &__top-content-number {
    font-size: 120px;
    top: $half-width;
  }
  &__top-conten-right-side-content  {
    font-size: $medium;
    line-height: $biggest;
    margin-top: 25px;
    margin-bottom: 33px;
  }
  &__top-conten-right-link {
    font-size: $medium;
  }
  &__top-content {
    background-color: $grey;
    margin-left: -130px;
    padding-left: 130px;
    margin-right: -130px;
    padding-right: 130px;
    margin-top: -46px;
    padding-top: 46px;
    padding-bottom: 67px;
  }
  &__description {
    padding-top: 185px;
    margin-top: $zero;
    background-image: url("../../img/quotes.svg");
    @mixin background_center;
    background-position: center 72px;
    width: 792px;
    margin-left: $auto;
    margin-right: $auto;
    position: relative;
  }
  &__title {
    margin-top: 37px;
    font-size: $big;
    margin-bottom: 36px;
  }
  &__subtitle {
    font-size: $medium;
  }
  &__arrow {
    left: -74.5px;
    @mixin slider_toggle;
    opacity: .3;
  }
  &__arrow:last-child {
    right: -74.5px;
    left: inherit;
    transform: rotate(180deg);
    @mixin slider_toggle;
    opacity: .3;
  }
  &__arrow:hover   {
    opacity: 1;
  }
  &__arrow:active {
    opacity: .1;
  }
 }
}
@media (min-width: 1201px) {
  .slider__title {
    margin-top: 37px;
    font-size: $big;
    margin-bottom: $zero;
  }
}
