.slider__title {
  @mixin font_options $OpenSans_bold, $medium, $black, $biggest, $bold, $center, $none;
  margin-top: 49px;
  margin-bottom: 25px;
}
.slider__description {
  @mixin font_options $OpenSans_regular, $small, $blue, $biggest, $regular, $center, $none;
  margin: $zero 17px;
  margin-bottom: 39px;
}
.slider__subtitle {
  display: $none;
}
.slider__top-content {
  display: $none;
}
@media (min-width: 700px) {
  .slider {
    @mixin tablet_padding;
    padding-top: 58px;
    background-color: $white;
    display: flex;
    flex-direction: column;
  &__title {
    font-size: 20px;
    order: 2;
     }
  &__subtitle {
    @mixin font_options $OpenSans_regular, $small, $blue, $biggest, $regular, $center, $none;
    display: $block;
  }
  &__description {
    font-size: $medium;
    margin: 106px $zero $zero;
    order: 1;
  }
  &__top-content {
    display: flex;
    justify-content: space-between;
  }
  &__top-conten-right-side {
    flex-basis: $half-width;
  }
  &__top-conten-right-side-title {
    @mixin font_options $OpenSans_bold, $biggest, $black, 36px, $regular, $left, $none;
    margin-top: 44px;
    width: 170px;
  }
  &__top-conten-right-side-content {
    @mixin font_options $OpenSans_regular, $small, $blue, $big, $regular, $left, $none;
    padding-right: 14px;
  }
  &__top-conten-right-link {
    @mixin font_options $OpenSans_regular, $small, $magenta, $big, $regular, $left, $none;
  }
  &__top-content-image-container {
    position: relative;
    text-align: $center;
  }
  &__top-content-number {
    position: absolute;
    top: $half-width;
    left: $zero;
    right: $zero;
    @mixin font_options $OpenSans_bold, 96px, $magenta, $biggest, $regular, $center, $none;
  }
 }
}
@media (min-width: 1200px) {
.slider {
  margin-top: 44px;
  padding-top: $zero;
  @mixin desktop_padding;
  &__top-content-image {
    display: $none;
  }
  &__top-content-image-container {
    background-image: url("../../img/diagram-fill-desktop.svg");
    height: 345px;
    width: 298px;
  }
  &__top-conten-right-side {
    flex-basis: 570px;
  }
  &__top-conten-right-side-title {
    width: $auto;
    margin-top: 97px;
  }
  &__top-content-number {
    font-size: 120px;
  }
  &__top-conten-right-side-content  {
    font-size: $medium;
    line-height: $biggest;
    padding-right: 50px;
  }
  &__top-conten-right-link {
    font-size: $medium;
  }
  &__top-content {
    background-color: $grey;
    margin-left: -130px;
    padding-left: 130px;
    margin-right: -130px;
    padding-right: 130px;
    margin-top: -46px;
    padding-top: 46px;
    padding-bottom: 67px;
  }
  &__description {
    padding-top: 193px;
    margin-top: $zero;
    background-image: url("../../img/quotes.svg");
    @mixin background_center;
    background-position: center 72px;
    width: 792px;
    margin-left: $auto;
    margin-right: $auto;
    position: relative;
  }
  &__title {
    margin-top: 45px;
    font-size: $big;
    margin-bottom: 36px;
  }
  &__subtitle {
    font-size: $medium;
  }
  &__description::before {
    background-image: url("../../img/left-arrow.svg");
    left: 130px;
    left: -66.5px;
    @mixin slider_toggle;
  }
  &__description::after {
    background-image: url("../../img/left-arrow.svg");
    right: 130px;
    right: -66.5px;
    transform: rotate(180deg);
    @mixin slider_toggle;
  }
 }
}
