.slider-tumbler {
  width: 59px;
  @mixin margin_auto;
  display: flex;
  justify-content: space-between;
  align-items: $center;
&__element {
  width: 6px;
  height: 6px;
  padding: $zero;
  border-radius: $half-width;
  border: $none;
  background-color: rgba(40, 54, 69, 0.3);
}
&__element--active {
  width: 12px;
  height: 12px;
  border-width: 3px;
  border-style: solid;
  border-color: rgb(40, 54, 69);
  background-color: $transparent;
  }
}
@media (min-width: 700px) {
  .slider-tumbler {
    order: 2;
  }
}
@media (min-width: 1200px) {
  .slider-tumbler {
    display: $none;
  }
}
