.slider__title {
  @mixin font_options $OpenSans_bold, $medium, $black, $biggest, $bold, $center, $none;
  margin-top: 42px;
  margin-bottom: 13px;
}
.slider__description {
  @mixin font_options $OpenSans_regular, $small, $blue, $biggest, $regular, $center, $none;
  margin-left: 5.93%;
  margin-right: 5.93%;
  margin-bottom: 33px;
  margin-top: $zero;
  display: $none;
}
.slider__description:nth-of-type(2) {
  display: $none;
}
.slider__description.slider__description--show {
  display: $block;
}
.slider__description::before {
  content: "«";
  margin-right: -5px;
}
.slider__description::after {
  content: "»";
  margin-left: -5px;
}
.slider__subtitle {
  display: $none;
}
.slider__arrow {
  display: $none;
}
.slider__desktop-br {
  display: $none;
}
@media (min-width: 700px) {
  .slider {
    padding-right: 5%;
    padding-left: 5%;
    max-width: 700px;
    @mixin margin_auto;
    background-color: $white;
    display: flex;
    flex-direction: column;
  &__title {
    font-size: 20px;
    order: 2;
    font-family: $OpenSans;
    margin-top: 34px;
    margin-bottom: 34px;
     }
  &__subtitle {
    @mixin font_options $OpenSans_regular, $small, $blue, $biggest, $regular, $center, $none;
    display: $block;
    margin-top: 2px;
  }
  &__description {
    font-size: $medium;
    margin: 94px $zero $zero;
    order: 1;
  }
 }
}
@media (min-width: 1200px) {
.slider {
  padding-top: $zero;
  @mixin desktop_padding;
  max-width: 1200px;
  &__description::before {
    content: "";
  }
  &__description::after {
    content: "";
  }
  &__tablet-br {
    display: $none;
  }
  &__desktop-br {
    display: $block;
  }
  &__description {
    padding-top: 185px;
    margin-top: $zero;
    background-image: url("../../img/quotes.svg");
    @mixin background_center;
    background-position: center 72px;
    width: 792px;
    margin-left: $auto;
    margin-right: $auto;
    position: relative;
  }
  &__title {
    margin-top: 37px;
    font-size: $big;
    margin-bottom: 36px;
  }
  &__subtitle {
    font-size: $medium;
  }
  &__arrow {
    left: -74.5px;
    @mixin slider_toggle;
    opacity: .3;
  }
  &__arrow:last-child {
    right: -74.5px;
    left: inherit;
    transform: rotate(180deg);
    @mixin slider_toggle;
    opacity: .3;
  }
  &__arrow:hover   {
    opacity: 1;
  }
  &__arrow:active {
    opacity: .1;
  }
 }
}
@media (min-width: 1201px) {
  .slider__title {
    margin-top: 37px;
    font-size: $big;
    margin-bottom: $zero;
  }
}
