.socials {
  text-align: $center;
  margin-bottom: 42px;
  &__element {
    text-decoration: $none;
    width: 46px;
    height: 45px;
    display: $inline-block;
    border-style: solid;
    border-width: 3px;
    border-color: rgba(40, 54, 69, 0.1);
    border-radius: $half-width;
    line-height: 46px;
    margin-right: 5px;
  }
  &__element:last-child {
    margin-right: $zero;
  }
  &__element:hover {
    border-color: rgba(40, 54, 69, 1);
  }
  &__element:active img{
    opacity: .3;
  }
  &__element:active {
    border-color: rgba(40, 54, 69, 0.1);
  }
}
@media (min-width: 700px) {
.socials {
  flex-grow: 1;
  margin-bottom: $zero;
  }
}
