.socials {
  text-align: $center;
  margin-bottom: 42px;

  &__element {
    text-decoration: $none;
    width: 46px;
    height: 45px;
    display: $inline-block;
    border-style: solid;
    border-width: 3px;
    border-color: rgba(40, 54, 69, 0.1);
    border-radius: $half-width;
    line-height: 46px;
    margin-right: $smallest;
  }
}
@media (min-width: 700px) {
.socials {
  flex-grow: 1;
  margin-bottom: $zero;
  }
}
