!!!5
%html
  %head
    %link{:rel=>"stylesheet",:href=>"styles.css"}
    %meta{:charset=>"utf-8"}
  %body
    %div.wrapper
      %aside.menu
        %ul.left__menu
          %li.menu__item
            %a.menu__element{:href=>"#"}Home
          %li.menu__item
            %a.menu__element{:href=>"#"}Archive
          %li.menu__item
            %a.menu__element.menu__element_selected{:href=>"#"}Articles
          %li.menu__item
            %a.menu__element{:href=>"#"}Featured
          %li.menu__item
            %a.menu__element{:href=>"#"}Profile
          %li.menu__item
            %a.menu__element{:href=>"#"}Write
      %article
      %div.column_2
      %div.comment
      %div.picture
      %div.email
      %section
      %div.publish
      %div.follow

