* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 0;
}
$width: 320px;
.width {
  width: $width;
  outline: 1px solid;
}
@mixin margin ($margin-top:40px, $margin-left:40px) {
  margin-top: $margin-top;
  margin-left: $margin-left;
}
.wrapper {
  height: 1243px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.menu {
  height: 568px;
  @extend .width;
  @include margin (130px,130px);
}
.left__menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 568px;
}
.menu__item {
  @include margin (0,70px);
  &.menu__item:first-child {
  @include margin (104px,70px);
}
  &.menu__item:last-child {
    margin-bottom: 104px;
    margin-left: 70px;
}
}
.menu__element {
  font-size: 12px;
  font-family: Arial;
  text-transform: uppercase;
}
.menu__element_selected {
  font-size: 16px;
}
article {
  @extend .width;
  height: 374px;
  @include margin (40px,130px);
}
.column_2 {
  @extend .width;
  height: 982px;
  @include margin (130px);
}
.comment {
  @extend .width;
  height: 568px;
  @include margin (130px);
}
section {
  @extend .width;
  height: 295px;
  @include margin (130px);
}
.picture {
  @extend .width;
  height: 264px;
  @include margin ();
}
.email {
  @extend .width;
  height: 70px;
  @include margin ();
}
.publish {
  @extend .width;
  height: 304px;
  @include margin ();
}
.follow {
  @extend .width;
  height: 304px;
  @include margin ();
}