* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 0;
}
.width {
  width: 19.32%;
  outline: 1px solid;
}
.wrapper {
  height: 1242px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-between;
}
.menu {
  height: 568px;
  width: 19.32%;
  outline: 1px solid;
  margin-top: 130px;
  margin-left: 7.85%;
}
.left__menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 568px;
}
.menu__item {
  margin-top: 0;
  margin-left: 70px;
}
.menu__item.menu__item:first-child {
  margin-top: 104px;
  margin-left: 70px;
}
.menu__item.menu__item:last-child {
  margin-bottom: 104px;
  margin-left: 70px;
}
.menu__element {
  font-size: 12px;
  font-family: Arial;
  text-transform: uppercase;
}
.menu__element_selected {
  font-size: 16px;
}
article {
  width: 19.32%;
  outline: 1px solid;
  height: 374px;
  margin-top: 40px;
  margin-left: 7.85%;
}
.column_2 {
  width: 19.32%;
  outline: 1px solid;
  height: 982px;
  margin-top: 130px;
  margin-left: 0;
}
.comment {
  width: 19.32%;
  outline: 1px solid;
  height: 568px;
  margin-top: 130px;
  margin-left: 0;
}
section {
  width: 19.32%;
  outline: 1px solid;
  height: 295px;
  margin-top: 130px;
  margin-left: 0;
  margin-right: 7.85%;
}
.picture {
  width: 19.32%;
  outline: 1px solid;
  height: 264px;
  margin-top: 40px;
  margin-left: 0;
}
.email {
  width: 19.32%;
  outline: 1px solid;
  height: 70px;
  margin-top: 40px;
  margin-left: 0;
}
.publish {
  width: 19.32%;
  outline: 1px solid;
  height: 304px;
  margin-top: 40px;
  margin-left: 0;
}
.follow {
  width: 19.32%;
  outline: 1px solid;
  height: 304px;
  margin-top: 40px;
  margin-left: 0;
}
