@define-mixin font_options $OpenSans, $big, $blue, $normal, $regular, $center {
  font-family: $OpenSans;
  font-size: $big;
  color: $blue;
  line-height: $normal;
  font-weight: $regular;
  text-align: $center;
}
@define-mixin white_background {
  background-color: $white;
  margin: 0;
}
@define-mixin list_reset {
  list-style: none;
  padding: 0;
  margin: 0;
}
