@define-mixin font_options $OpenSans, $big, $blue, $normal, $regular, $center, $none {
  font-family: $OpenSans;
  font-size: $big;
  color: $blue;
  line-height: $normal;
  font-weight: $regular;
  text-align: $center;
  text-transform: $none;
}
@define-mixin white_background {
  background-color: $white;
  margin: $zero;
}
@define-mixin list_reset {
  list-style: none;
  padding: $zero;
  margin: $zero;
}
@define-mixin button_reset {
  padding: $zero;
  border: none;
  background-color: transparent;
}
@define-mixin input_border {
  border-radius: 3px;
  border-color: #e5e5e5;
  border-style: solid;
}
@define-mixin mobile {
  max-width: 320px;
  margin: auto;
}
@define-mixin tablet_padding {
  padding-right: 40px;
  padding-left: 40px;
}
@define-mixin margin_reset {
  margin-left: $zero;
  margin-right: $zero;
}
