@define-mixin font_options $OpenSans, $big, $blue, $normal, $regular, $center, $none {
  font-family: $OpenSans;
  font-size: $big;
  color: $blue;
  line-height: $normal;
  font-weight: $regular;
  text-align: $center;
  text-transform: $none;
}
@define-mixin white_background {
  background-color: $white;
  margin: $zero;
}
@define-mixin list_reset {
  list-style: none;
  padding: $zero;
  margin: $zero;
}
@define-mixin button_reset {
  padding: $zero;
  border: none;
  background-color: transparent;
}
@define-mixin input_border {
  border-radius: 3px;
  border-color: $dark-grey;
  border-style: solid;
}
@define-mixin mobile {
  max-width: 320px;
  margin: $auto;
}
@define-mixin desktop_padding {
  padding-right: 130px;
  padding-left: 130px;
}
@define-mixin tablet_padding {
  padding-right: 40px;
  padding-left: 40px;
}
@define-mixin mobile_padding {
  padding-right: 20px;
  padding-left: 20px;
}
@define-mixin margin_reset {
  margin-left: $zero;
  margin-right: $zero;
}
@define-mixin padding_reset {
  padding-left: $zero;
  padding-right: $zero;
}
@define-mixin margin_auto {
  margin-left: $auto;
  margin-right: $auto;
}
@define-mixin button {
  background-color: #2aab6d;
  @mixin font_options $OpenSans_regular, $medium, $white, $biggest, $bold, $center, $uppercase;
  cursor: pointer;
  border: $none;
  width: $full-width;
  height: 63px;
  border-radius: 3px;
}
@define-mixin background_center {
  background-repeat: $no-repeat;
  background-position-x: $half-width;
}
@define-mixin slider_toggle {
  content: "";
  display: block;
  width: 22px;
  height: 41px;
  position: absolute;
  top: 213px;
}
