@import "../postcss/global/fonts.css";
@import "../postcss/variables.css";
@import "../postcss/mixins.css";
@import "../postcss/blocks/competition-footer.css";
@import "../postcss/blocks/content.css";
@import "../postcss/blocks/copyright.css";
@import "../postcss/blocks/like.css";
@import "../postcss/blocks/main-content.css";
@import "../postcss/blocks/main-footer.css";
@import "../postcss/blocks/main-header.css";
@import "../postcss/blocks/main-header-container.css";
@import "../postcss/blocks/menu.css";
@import "../postcss/blocks/personal-info.css";
@import "../postcss/blocks/photo-editor.css";
@import "../postcss/blocks/photos.css";
@import "../postcss/blocks/platforms.css";
@import "../postcss/blocks/promo.css";
@import "../postcss/blocks/promo-container.css";
@import "../postcss/blocks/second-slider.css";
@import "../postcss/blocks/second-slider-container.css";
@import "../postcss/blocks/site-logo.css";
@import "../postcss/blocks/slider.css";
@import "../postcss/blocks/slider-tumbler.css";
@import "../postcss/blocks/socials.css";
@import "../postcss/blocks/logotype.css";
@import "../postcss/blocks/site-logo.css";
@import "../postcss/blocks/pop-up.css";
@import "../postcss/blocks/pop-up_failure.css";
@import "../postcss/blocks/overlay.css";
body {
  margin: $zero;
  position: relative;
}
