$blue: #283645;
$magenta: #d22856;
$white: #fff;
$black: #000;
$grey: #f2f2f2;
$dark-grey: #e5e5e5;
$smallest: 12px;
$small: 14px;
$medium: 18px;
$margin: 22px;
$big: 24px;
$biggest: 30px;
$OpenSans_light: "open_sanslight", "Arial", sans-serif;
$OpenSans_regular: "open_sansregular", "Arial", sans-serif;
$OpenSans_bold: "open_sansbold", "Arial", sans-serif;
$light: 300;
$regular: 400;
$normal: normal;
$bold: bold;
$inline-block: inline-block;
$block: block;
$no-repeat: no-repeat;
$uppercase: uppercase;
$center: center;
$left: left;
$none: none;
$zero: 0;
$auto: auto;
$full-width: 100%;
$half-width: 50%;
$transparent: transparent;
