$blue: #283645;
$white: #fff;
$small: 14px;
$medium: 18px;
$big: 24px;
$biggest: 30px;
$OpenSans: 'Open Sans', sans-serif;
$light: 300;
$bold: bold;
$inline-block: inline-block;
$no-repeat: no-repeat;
$uppercase: uppercase;
