$blue: #283645;
$magenta: #d22856;
$white: #fff;
$grey: #f2f2f2;
$smallest: 12px;
$small: 14px;
$medium: 18px;
$big: 24px;
$biggest: 30px;
$OpenSans: 'Open Sans', sans-serif;
$OpenSans_light: 'Open Sans','open_sanslight', sans-serif;
$OpenSans_regular: 'Open Sans','open_sansregular', sans-serif;
$OpenSans_bold: 'Open Sans','open_sansbold', sans-serif;
$light: 300;
$regular: 400;
$normal: normal;
$bold: bold;
$inline-block: inline-block;
$no-repeat: no-repeat;
$uppercase: uppercase;
$center: center;
